FILEVERSION "3.2"
#STEP7_VERSION V5.7 + SP3
#CREATED "streda 28. januára 2026   9:56:26"

STATION S7300 , "ZAVIRACKA(4)"
BEGIN 
  ASSET_ID "0149B05B8B23469EAD435A5588F7331D"
  USED_S7_VERSIONS "35 2E 34 2E 35 2E 30 5F 31 32 2E 36 2E 30 2E 31 7C 00"
  REPORT_SYSTEM_ERRORS "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CIR_WARNING "0"
  CREATOR ""
  COMMENT ""
END 

SUBNET MPI , "MPI"
BEGIN 
  MPI_HSA "31"
  MPI_BAUDRATE "187.5_KBPS"
  MPI_GAP "5"
  MPI_READY "20"
  MPI_RETRIES "2"
  MPI_IDLE1 "60"
  MPI_IDLE2 "400"
  MPI_TQUI "0"
  MPI_TSL "415"
  MPI_TTR "9984"
  CREATOR ""
  COMMENT ""
  NET_ID_2 "00 B1 00 00 00 1A"
  NET_ID "00B10000001a"
END 

RACK 0, "6ES7 390-1???0-0AA0", "UR"
BEGIN 
  ASSET_ID "37C49B287B6641C781D0C5C31A1FF93B"
  OBJECT_REMOVEABLE "1"
  POS_X "10"
  POS_Y "10"
  SIZE_X "435"
  SIZE_Y "264"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
END 

RACK 0, SLOT 2, "6ES7 313-5BE01-0AB0" "V2.0", "CPU 313C"
BEGIN 
  ASSET_ID "CCBE8F18195E431EA936A3BC02279EA6"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  CBA_USAGE "0"
  OBJECT_REMOVEABLE "1"
  CAPABLE_FAILSAFE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  KSS_CONNECTION "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  MPI_ADDRESS "4"
  COMMENT ""
  LINKED_SUBNETNAME "MPI"
PARAMETER 
  TOTAL_NUMBER_OF_CONNECTIONS, "8"
  NUMBER_OF_AVAILABLE_CONNECTIONS, "3"
  NUMBER_OF_RESERVED_CONNECTIONS_TO_PROGRAMMING_DEVICE, "1"
  NUMBER_OF_RESERVED_CONNECTIONS_TO_OI, "2"
  STATION_TYPE_PASSIVE, "0"
  MEDIUM_REDUNDANCY, "0"
  HIGHEST_MPI_ADDRESS, "31"
  MPI_ADDRESS, "4"
  RETRY_COUNTER, "2"
  TRANSMISSION_RATE, "187.5_KBPS"
  PHYSICAL_LAYER, "0"
  GAP_UPDATE_FACTOR, "5"
  READY_TIME, "20"
  TRANSMITTER_FALL_TIME, "0"
  SLOT_TIME, "415"
  IDLE_1, "60"
  IDLE_2, "400"
  FACTOR_FOR_TARGET_ROTATION_TIME, "39"
END 

RACK 0, SLOT 2, SUBSLOT 2, "_S7H_SUBMODULE_313_5BE00_DIGITAL_CT", "DI24/DO16"
AUTOCREATED 
BEGIN 
  ASSET_ID "08864FB5D3D74D35AA91F4A977312E2F"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  124, 0, 3, 0, 0, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  124, 0, 2, 0, 0, 0
SYMBOL  I , 0, "IG1_A", "Inkrementální snímaè - A"
SYMBOL  I , 1, "IG1_B", "Inkrementální snímaè - B"
SYMBOL  I , 2, "SE11", "Nulovy bod hlavniho retezu"
SYMBOL  I , 3, "REZERVA_I1243", "Rezerva"
SYMBOL  I , 4, "BT10", "Prehrati rozvadece"
SYMBOL  I , 5, "KN11", "Okruh nouzoveho stopu OK"
SYMBOL  I , 6, "KN12", "Okruh dveri OK"
SYMBOL  I , 7, "SGP11", "Tlak v okruhu vzduchu OK"
SYMBOL  I , 8, "S11", "Stop"
SYMBOL  I , 9, "SL12", "Start"
SYMBOL  I , 10, "SL13", "Potvrzeni poruchy"
SYMBOL  I , 11, "KA11", "Exzerni zarizeni OK"
SYMBOL  I , 12, "SN11.1", "Nouzovy stop rozvadec"
SYMBOL  I , 13, "SN12.1", "Nouzovy stop vyjezd"
SYMBOL  I , 14, "SN13.1", "Nouzovy stop dopravnik"
SYMBOL  I , 15, "REZERVA_I1257", "Rezerva - nouzový stop"
SYMBOL  I , 16, "SG11.1", "Otevreny leve predni dvere"
SYMBOL  I , 17, "SG12.1", "Otevreny leve zadni dvere"
SYMBOL  I , 18, "SG13.1", "Otevreny prave predni dvere"
SYMBOL  I , 19, "SG14.1", "Otevreny prave zadni dvere"
SYMBOL  I , 20, "I126.4", "Rezerva"
SYMBOL  I , 21, "LEP_READY", "Lepicka ready"
SYMBOL  I , 22, "LEP_ALARM", "Lepicka alarm"
SYMBOL  I , 23, "LEP_N_HLADINA", "Lepicka nizka hladina"
SYMBOL  O , 0, "K11", "Potvrzeni poruchy"
SYMBOL  O , 1, "K12", "Zaviracka OK"
SYMBOL  O , 2, "HL12", "Kontrolka start"
SYMBOL  O , 3, "HL13", "Kontrolka poruchy"
SYMBOL  O , 4, "HSLG", "Semafor zelena"
SYMBOL  O , 5, "HSLO", "Semafor oranzova"
SYMBOL  O , 6, "HSLR", "Semafor cervena"
SYMBOL  O , 7, "HU1", "Houkacka"
SYMBOL  O , 8, "REZERVA_Q1250", "Rezerva"
SYMBOL  O , 9, "REZERVA_Q1251", "Rezerva"
SYMBOL  O , 10, "REZERVA_Q1252", "Rezerva"
SYMBOL  O , 11, "REZERVA_Q1253", "Rezerva"
SYMBOL  O , 12, "REZERVA_Q1254", "Rezerva"
SYMBOL  O , 13, "REZERVA_Q1255", "Rezerva"
SYMBOL  O , 14, "REZERVA_Q1256", "Rezerva"
SYMBOL  O , 15, "REZERVA_Q1257", "Rezerva"
END 

RACK 0, SLOT 2, SUBSLOT 3, "_S7H_SUBMODULE_313_5BE00_ANALOG_CT", "AI5/AO2"
AUTOCREATED 
BEGIN 
  ASSET_ID "6A70D2ECB56E4D5EA47D7FECCF29C93F"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  752, 0, 10, 0, 0, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  752, 0, 4, 0, 0, 0
SYMBOL  O , 0, "H_POHON_ANALOG", "Hlavni pohon - analogovy vystup"
SYMBOL  O , 1, "DOPRAVNIK_ANALOG", "Rychlost dopravniku - analogovy vystup"
PARAMETER 
  REACTION_TO_CPU_STOP, "0"
  END_OF_CYCLE, "0"
  TEMPERATURE_UNIT, "DEGREES_CELSIUS"
  DIAGNOSTICS, "0"
  LIMIT_VIOLATION, "0"
  INTEGRATION_TIME, AI , 0, "20_MS"
  INTEGRATION_TIME, AI , 1, "20_MS"
  INTEGRATION_TIME, AI , 2, "20_MS"
  INTEGRATION_TIME, AI , 3, "20_MS"
  INTEGRATION_TIME, AI , 4, "20_MS"
  AI_TYPE, AI , 0, "VOLTAGE"
  AI_TYPE, AI , 1, "VOLTAGE"
  AI_TYPE, AI , 2, "VOLTAGE"
  AI_TYPE, AI , 3, "VOLTAGE"
  AI_TYPE, AI , 4, "RESISTANCE_(2-WIRE_CONNECTION)"
  AI_RANGE, AI , 0, "+/-_10_V"
  AI_RANGE, AI , 1, "+/-_10_V"
  AI_RANGE, AI , 2, "+/-_10_V"
  AI_RANGE, AI , 3, "+/-_10_V"
  AI_RANGE, AI , 4, "600_OHMS"
  AO_TYPE, AO , 0, "VOLTAGE"
  AO_TYPE, AO , 1, "VOLTAGE"
  AO_RANGE, AO , 0, "0_TO_10_V"
  AO_RANGE, AO , 1, "0_TO_10_V"
END 

RACK 0, SLOT 2, SUBSLOT 4, "_S7H_SUBMODULE_313_5BE01_COUNT_CT", "Count"
AUTOCREATED 
BEGIN 
  ASSET_ID "BC3B53F65C864A69ACAEB56A720ED324"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  768, 0, 16, 0, 0, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  768, 0, 16, 0, 0, 0
PARAMETER 
  GENERATE_INTERRUPT, "NONE"
  SELECT_INTERRUPT, "NONE"
  TECHNOLOGY_CHANNEL0, "COUNT"
  TECHNOLOGY_CHANNEL1, "NONE"
  TECHNOLOGY_CHANNEL2, "NONE"
  TECHNOLOGY_CHANNEL3, "NONE"
  DATASET, "80 00 00 00 01 00 00 00 00 02 00 00 00 01 00 02 00 00 00 00 00 01 00 00 08 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 1E 03 0A 03 00 00 00 00 00 00 00 00"
END 

RACK 0, SLOT 4, "6ES7 323-1BL00-0AA0", "DI16/DO16x24V/0.5A"
BEGIN 
  ASSET_ID "A155D2198CEC4AB8BCEFE46CFBBBB740"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  0, 0, 2, 0, 1, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  0, 0, 2, 0, 1, 0
SYMBOL  I , 0, "FM_V11_OK", "Frekvencni menic V11 OK"
SYMBOL  I , 1, "FM_V12_OK", "Frekvencni menic V12 OK"
SYMBOL  I , 2, "FM_V13_OK", "Frekvencni menic V13 OK"
SYMBOL  I , 3, "REZERVA_I03", "Rezerva"
SYMBOL  I , 4, "FM_V11_PRET", "Frekvencni menic V11 pretizen"
SYMBOL  I , 5, "FM_V12_PRET", "Frekvencni menic V12 pretizen"
SYMBOL  I , 6, "FM_V13_PRET", "Frekvencni menic V13 pretizen"
SYMBOL  I , 7, "REZERVA_I07", "Rezerva"
SYMBOL  I , 8, "ST11", "Krabice na vstupu zaviracky"
SYMBOL  I , 9, "ST12", "Krabice pred 1. lepenim"
SYMBOL  I , 10, "ST13", "Krabice pred 2. lepenim"
SYMBOL  I , 11, "ST14", "Krabice na vystupu zaviracky"
SYMBOL  I , 12, "REZERVA_I14", "Rezerva"
SYMBOL  I , 13, "REZERVA_I15", "Rezerva"
SYMBOL  I , 14, "REZERVA_I16", "Rezerva"
SYMBOL  I , 15, "REZERVA_I17", "Rezerva"
SYMBOL  O , 0, "FM_V11_START/STOP", "Frekvencni menic V11 - start/stop"
SYMBOL  O , 1, "FM_V12_START/STOP", "Frekvencni menic V12 - start/stop"
SYMBOL  O , 2, "FM_V14_START/STOP", ""
SYMBOL  O , 3, "YL11", "Lepici hlava 1."
SYMBOL  O , 4, "YL12", "Lepici hlava 2."
SYMBOL  O , 5, "YL13", "Lepici hlava 3."
SYMBOL  O , 6, "YP11", "Vstupni taktovani"
SYMBOL  O , 7, "YP12", "ZASTAVENI NA VSTUPU DO ZAVIRACKY YP12"
SYMBOL  O , 8, "V51_Start", "Frekvenèní mìniè V51 Start"
SYMBOL  O , 9, "V52_Start", "Frekvenèní mìniè V52 Start"
SYMBOL  O , 10, "V53_Start", "Frekvenèní mìniè V53 Start"
SYMBOL  O , 11, "V54_Start", "Frekvenèní mìniè V54 Start"
SYMBOL  O , 12, "V56/57/58_Start", "Frekvenèní mìniè V56, V57, V58 Start"
SYMBOL  O , 13, "V55_Enable", "Servo-mìniè V55 - Enable"
SYMBOL  O , 14, "YP53", "Válec YP53 - sklopení pøesouvacího ramene válce YP57"
SYMBOL  O , 15, "Q1.7", "Rezerva"
END 

