FILEVERSION "3.2"
#STEP7_VERSION V5.7 + SP3
#CREATED "streda 28. januára 2026   9:47:20"

STATION S7300 , "STAVECKA(2)"
BEGIN 
  ASSET_ID "E6B7B19D9C2C4149813B3DCF31B91F8C"
  USED_S7_VERSIONS "35 2E 34 2E 35 2E 30 5F 31 32 2E 36 2E 30 2E 31 7C 00"
  REPORT_SYSTEM_ERRORS "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CIR_WARNING "0"
  CREATOR ""
  COMMENT ""
END 

SUBNET MPI , "MPI"
BEGIN 
  MPI_HSA "31"
  MPI_BAUDRATE "187.5_KBPS"
  MPI_GAP "5"
  MPI_READY "20"
  MPI_RETRIES "2"
  MPI_IDLE1 "60"
  MPI_IDLE2 "400"
  MPI_TQUI "0"
  MPI_TSL "415"
  MPI_TTR "9984"
  CREATOR ""
  COMMENT ""
  NET_ID_2 "00 B1 00 00 00 1A"
  NET_ID "00B10000001a"
END 

RACK 0, "6ES7 390-1???0-0AA0", "UR"
BEGIN 
  ASSET_ID "52493C3CE9944E61BC0D505002C7D73C"
  OBJECT_REMOVEABLE "1"
  POS_X "10"
  POS_Y "10"
  SIZE_X "465"
  SIZE_Y "301"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
END 

RACK 0, SLOT 2, "6ES7 313-5BF03-0AB0" "V2.0", "CPU 313C"
BEGIN 
  ASSET_ID "6BF47C6187B14D88AE9140662B67D4BF"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  CBA_USAGE "0"
  OBJECT_REMOVEABLE "1"
  CAPABLE_FAILSAFE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  KSS_CONNECTION "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  MPI_ADDRESS "2"
  COMMENT ""
  LINKED_SUBNETNAME "MPI"
END 

RACK 0, SLOT 2, SUBSLOT 2, "_S7H_SUBMODULE_313_5BE00_DIGITAL_CT", "DI24/DO16"
AUTOCREATED 
BEGIN 
  ASSET_ID "A1DF04F1764344368EBE6DC1A74331AD"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  124, 0, 3, 0, 0, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  124, 0, 2, 0, 0, 0
SYMBOL  I , 0, "SG1.1", "Otevøené levé dveøe"
SYMBOL  I , 1, "SG2.1", "Otevøené horní pøední dveøe"
SYMBOL  I , 2, "SG3.1", "Otevøené dolní pøední dveøe"
SYMBOL  I , 3, "QM10", "Vakuová pumpa O.K."
SYMBOL  I , 4, "BT1", "Pøehøátí rozvadìèe"
SYMBOL  I , 5, "KN1", "Okruh nouzového vypnutí  OK"
SYMBOL  I , 6, "KN2", "Okruh dveøí  OK"
SYMBOL  I , 7, "SGP1", "Tlakový vzduch  OK"
SYMBOL  I , 8, "S1", "Stop stavìèky"
SYMBOL  I , 9, "SL2", "Start stavìèky"
SYMBOL  I , 10, "SL3", "Potvrzení poruchy na ovládacím panelu"
SYMBOL  I , 11, "SN1.1", "Nouzový stop na ovládacím panelu"
SYMBOL  I , 12, "SN2.1", "Nouzový stop na dopravníku"
SYMBOL  I , 13, "LEP_READY", "Lepièka NORDSON  Ready"
SYMBOL  I , 14, "LEP_ALARM", "Lepièka NORDSON  Alarm"
SYMBOL  I , 15, "LEP_LOW", "Lepièka NORDSON  nízká hladina"
SYMBOL  I , 16, "FM_V1_OK", "Frekvencni meninc V1 v poradku"
SYMBOL  I , 17, "FM_V2_OK", "Frekvencni meninc V2 v poradku"
SYMBOL  I , 18, "FM_V3_OK", "Frekvencni meninc V3 v poradku"
SYMBOL  I , 19, "FM_V2_OVER", "Frekvencni meninc V2 pretizen"
SYMBOL  I , 20, "FM_V3_OVER", "Frekvencni meninc V3 pretizen"
SYMBOL  I , 21, "SG4.1", "Otevøeny pravé dveøe"
SYMBOL  I , 22, "SN3.1", "Stop tlaèítka spodní dopravník"
SYMBOL  I , 23, "KA1_OK", "Externi zarizeno O.K."
SYMBOL  O , 0, "KM10", "Vakuová pumpa"
SYMBOL  O , 1, "K1", "Potvrzení poruchy"
SYMBOL  O , 2, "K2", "Stavìèka OK"
SYMBOL  O , 3, "REZERVA_854", "rezerva"
SYMBOL  O , 4, "REZERVA_855", "rezerva"
SYMBOL  O , 5, "REZERVA_856", "rezerva"
SYMBOL  O , 6, "REZERVA_857", "rezerva"
SYMBOL  O , 7, "REZERVA_858", "rezerva"
SYMBOL  O , 8, "HL2", "Start stroje"
SYMBOL  O , 9, "HL3", "Porucha stroje"
SYMBOL  O , 10, "REZERVA_861", "rezerva"
SYMBOL  O , 11, "REZERVA_862", "rezerva"
SYMBOL  O , 12, "HSLG", "Semafor zelená"
SYMBOL  O , 13, "HSLO", "Semafor oranžová"
SYMBOL  O , 14, "HSLR", "Semafor èervená"
SYMBOL  O , 15, "HU1", "Houkaèka"
END 

RACK 0, SLOT 2, SUBSLOT 3, "_S7H_SUBMODULE_313_5BE00_ANALOG_CT", "AI5/AO2"
AUTOCREATED 
BEGIN 
  ASSET_ID "9BDAF6BC06724F52A0363B8D37B76597"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  752, 0, 10, 0, 0, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  752, 0, 4, 0, 0, 0
SYMBOL  O , 0, "HL_POHON_STAV", "Regulace rychlosti - hlavní pohon V1"
SYMBOL  O , 1, "RYCHLOST_DOPRAV", "Regulace rychlosti - dopravníky V2+V3+V4"
PARAMETER 
  REACTION_TO_CPU_STOP, "0"
  END_OF_CYCLE, "0"
  TEMPERATURE_UNIT, "DEGREES_CELSIUS"
  DIAGNOSTICS, "0"
  LIMIT_VIOLATION, "0"
  INTEGRATION_TIME, AI , 0, "20_MS"
  INTEGRATION_TIME, AI , 1, "20_MS"
  INTEGRATION_TIME, AI , 2, "20_MS"
  INTEGRATION_TIME, AI , 3, "20_MS"
  INTEGRATION_TIME, AI , 4, "20_MS"
  AI_TYPE, AI , 0, "VOLTAGE"
  AI_TYPE, AI , 1, "VOLTAGE"
  AI_TYPE, AI , 2, "VOLTAGE"
  AI_TYPE, AI , 3, "VOLTAGE"
  AI_TYPE, AI , 4, "RESISTANCE_(2-WIRE_CONNECTION)"
  AI_RANGE, AI , 0, "+/-_10_V"
  AI_RANGE, AI , 1, "+/-_10_V"
  AI_RANGE, AI , 2, "+/-_10_V"
  AI_RANGE, AI , 3, "+/-_10_V"
  AI_RANGE, AI , 4, "600_OHMS"
  AO_TYPE, AO , 0, "VOLTAGE"
  AO_TYPE, AO , 1, "VOLTAGE"
  AO_RANGE, AO , 0, "0_TO_10_V"
  AO_RANGE, AO , 1, "0_TO_10_V"
END 

RACK 0, SLOT 2, SUBSLOT 4, "_S7H_SUBMODULE_313_5BE01_COUNT_CT", "Count"
AUTOCREATED 
BEGIN 
  ASSET_ID "3A56B531A00149F3A1C24C1E5A0B46D6"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  768, 0, 16, 0, 0, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  768, 0, 16, 0, 0, 0
PARAMETER 
  GENERATE_INTERRUPT, "NONE"
  SELECT_INTERRUPT, "NONE"
  TECHNOLOGY_CHANNEL0, "COUNT"
  TECHNOLOGY_CHANNEL1, "COUNT"
  TECHNOLOGY_CHANNEL2, "NONE"
  TECHNOLOGY_CHANNEL3, "NONE"
  DATASET, "80 00 00 00 01 00 00 00 00 00 00 01 00 01 00 02 00 00 00 00 00 01 00 00 04 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 1E 03 0A 03 00 00 00 00 00 00 00 00"
  DATASET, "81 00 00 00 01 00 00 00 00 00 00 00 00 01 00 02 00 00 00 00 00 01 00 00 00 02 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 1E 03 0A 03 00 00 00 00 00 00 00 00"
END 

RACK 0, SLOT 4, "6ES7 323-1BL00-0AA0", "DI16/DO16x24V/0.5A"
BEGIN 
  ASSET_ID "3296C8D0CE444F99B92B207862892059"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  0, 0, 2, 0, 1, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  0, 0, 2, 0, 1, 0
SYMBOL  I , 0, "1SE1", "Zasobnik prirezu leva stopa"
SYMBOL  I , 1, "1ST1", "Kontola prirezu leva stopa"
SYMBOL  I , 2, "1ST2", "Hromadeni na vystupu leva strana"
SYMBOL  I , 3, "1SM1", "Vysunutí krabièky z nástroje 1YP1 - 1 stopa"
SYMBOL  I , 4, "REZERVA_62", "rezerva"
SYMBOL  I , 5, "2SE1", "Zasobnik prirezu prava stopa"
SYMBOL  I , 6, "2ST1", "Kontola prirezu prava stopa"
SYMBOL  I , 7, "2ST2", "Hromadeni na vystupu prava strana"
SYMBOL  I , 8, "2SM1", "Vysunuti krabicky z nastroje prava"
SYMBOL  I , 9, "REZERVA_67", "rezerva"
SYMBOL  I , 10, "ST1", "Pøítomnost krabièky na pøesunu 1"
SYMBOL  I , 11, "ST2", "Pøítomnost krabièky na pøesunu 2"
SYMBOL  I , 12, "SM1", "Válec pøesun na dopravníku"
SYMBOL  I , 13, "ST3", "Zaplnìní dopravníku, stop pøisávání"
SYMBOL  I , 14, "1SM2", "Proražení krabièky 1YP2 - 1 stopa"
SYMBOL  I , 15, "2SM2", "Proražení krabièky 2YP2 - 2 stopa"
SYMBOL  O , 0, "FM_V2_START/STOP", "Frekvenèní mìniè V2 - Start/Stop"
SYMBOL  O , 1, "FM_V3_START/STOP", "Frekvenèní mìniè V3 - Start/Stop"
SYMBOL  O , 2, "REZERVA_821", "rezerva"
SYMBOL  O , 3, "YP1", "Pøesun na dopravník"
SYMBOL  O , 4, "REZERVA_823", "rezerva"
SYMBOL  O , 5, "REZERVA_824", "rezerva"
SYMBOL  O , 6, "REZERVA_825", "rezerva"
SYMBOL  O , 7, "REZERVA_826", "rezerva"
SYMBOL  O , 8, "FM_V1_CHOD", "Frekvencni menic V1 - povoleni chodu"
SYMBOL  O , 9, "FM_V1_JOG1", "Frekvencni menic V1 - jog1"
SYMBOL  O , 10, "1YV1", "Prisavani prirezu leva stopa"
SYMBOL  O , 11, "1YP1", "Vysunuti krabicky z nastroje leva stopa"
SYMBOL  O , 12, "1YP2", "Proražení krabièky 1 stopa"
SYMBOL  O , 13, "2YV1", "Prisavani prirezu prava stopa"
SYMBOL  O , 14, "2YP1", "Vysunuti krabicky z nastroje prava stopa"
SYMBOL  O , 15, "2YP2", "Proražení krabièky 2 stopa"
END 

RACK 0, SLOT 1698396, "_S7H_P7FM3525_01_CT", "FM352-5"
BEGIN 
  ASSET_ID "5A3A27741AF34ACDA50115C0C1042B80"
  LANVER_ISO_LOCTSAP ""
  CONFIG_FILE_DATA ""
  LANVER_ISO_NETADDR ""
  LANVER_ISO_REMTSAP ""
  MRP_MULTI_CONFIGURATION ""
  IRT_DEVICE_CYCLE_GROUP ""
  BASEMODULE_ADR_RANGES ""
  SHARED_PROXY_DATA ""
  ADDITIONAL_PARAM_SELECTIONS ""
  USED_S7_VERSIONS ""
  IMODE_MAPDATA ""
  PRIVATE_5 ""
  PRIVATE_4 ""
  PRIVATE_3 ""
  PRIVATE_2 ""
  PRIVATE_1 ""
  SLAVE_CFG_DATA ""
  LINK_STNR_MAP ""
  __112411 ""
  LIST_SUBMODULES ""
  INTERNAL_SDP_DATA ""
  CIR_INITIAL_DATA ""
  TFIO_DEFINITION ""
  TIMESTAMP_AKZ_OKZ_SDB3010 ""
  DIAG_PARAM ""
  LIST_PRE_GUARANT_SLAVES ""
  CLSYNC ""
  NORMMODULE_PARAM_DATA ""
  NORMSLAVE_PARAM_DATA ""
  TELEGRAM_ID_EXT ""
  ENCODER_SETPRM_DATA ""
  OPC_SNMP_PLANTCONFIG_EXPORT_LB1 ""
  OPC_REMOTE_OV ""
  SECURITY_SERVER_ADDR ""
  RED_ADDRESSES ""
  OPC_SNMP_PLANTCONFIG_EXPORT_LB10 ""
  OPC_SNMP_PLANTCONFIG_EXPORT_LB9 ""
  OPC_SNMP_PLANTCONFIG_EXPORT_LB8 ""
  OPC_SNMP_PLANTCONFIG_EXPORT_LB7 ""
  OPC_SNMP_PLANTCONFIG_EXPORT_LB6 ""
  OPC_SNMP_PLANTCONFIG_EXPORT_LB5 ""
  OPC_SNMP_PLANTCONFIG_EXPORT_LB4 ""
  OPC_SNMP_PLANTCONFIG_EXPORT_LB3 ""
  OPC_SNMP_PLANTCONFIG_EXPORT_LB2 ""
  OPC_SPEC_RIGHTS_DPC2PD ""
  OPC_SPEC_RIGHTS_DPC2 ""
  OPC_SPEC_RIGHTS_PN ""
  KVAR_SDB ""
  ACTIVE_SOE_CHANNELS ""
  INTERNET_CP_DNS ""
  INTERNET_CP_SDB ""
  INTERNET_CP_SYMBOLS ""
  INTERNET_CP_PASSWORDS ""
  COMM_VARLIST ""
  ASI_ANALOG_SLAVE_LIST ""
  CP_ASI_SLAVES_NAMES ""
  CP_ASI_SLAVES_MLFBS ""
  OPC_SPEC_RIGHTS_PNIO ""
  TIMESYNC_NTP_SERVER_ADDR ""
  KENNUNG_DXB_DATA ""
  DX_DATA_LIST ""
  S7H_MEASUREMENT_CHAINS_TM_HA_LB ""
  DPASI_I_PAR_SLV_LB ""
  DPASI_F_PAR_PRN_LB ""
  IP_ACL_TEXT ""
  IP_ACL_IPADDR_RANGE ""
  IP_ACL_IPADDR ""
  CP_ASI_LIST_PROJ_SLAVES ""
  CP_ASI_SLAVE_PARAMS ""
  NET_ID_2 ""
  WEB_USER_RIGHTS ""
  FTP_DBACCESS_FILECONTENT ""
  CP_ASI_SLAVE_COMMENTS ""
  TIMESTAMP ""
  SUB_LIST ""
  RED_CONN_4WAY_CONFIG ""
  RED_CONN_2WAY_CONFIG ""
  INTERNAL_SDP_DATA ""
  U7T_PN_MODULE_PARAMTABLE ""
  S7WB_ERPC_CP_SYMBOLE_LB5 ""
  S7WB_ERPC_CP_SYMBOLE_LB6 ""
  S7WB_ERPC_CP_SYMBOLE_LB6 ""
  BACNET_DEV_LIST_LB ""
  REDUNDANCY ""
  S7_TELEGRAM_ID_EXT ""
  S7_ENCODER_SETPRM_DATA ""
  PN_PARAM_TELEGRAM_XML ""
  CP441_PROTOCOL_MODULETYPE ""
  OPC_DIAGS ""
  OPC_ALARMS ""
  SLAVE_SETPRM_DATA ""
  IP_ACL_EXT ""
  S7WB_ERPC_CP_SYMBOLE_LB2 ""
  OBJECT_DATA ""
  S7WB_ERPC_UNUSED_ATTRIBUTE_RELIC ""
  S7WB_ERPC_CP_SYMBOLE_LB7 ""
  S7WB_ERPC_CP_SYMBOLE_LB6 ""
  S7WB_ERPC_CP_SYMBOLE_LB5 ""
  S7WB_ERPC_CP_SYMBOLE_LB4 ""
  S7WB_ERPC_CP_SYMBOLE_LB3 ""
  S7WB_ERPC_CP_SYMBOLE_LB2 ""
  S7WB_ERPC_CP_SYMBOLE_LB1 ""
  S7WB_ERPC_CP_SYMBOLE_LB ""
  IRT_PTCP_SUBDOMAIN_ID_DATA ""
  OPC_SPEC_RIGHTS_SNMP ""
  OPC_SPEC_RIGHTS_DP ""
  OPC_SPEC_RIGHTS_S7 ""
  OPC_SPEC_RIGHTS_SR ""
  OPC_SPEC_RIGHTS_FMS ""
  OPC_SPEC_RIGHTS_FDL ""
  F_MSDX_DATA ""
  F_PARAMETER ""
  DX_DATA_LIST_V51 ""
  IMODULE_CONFIG_ADDRESS_V51 ""
  OPC_SNMP_PLANTCONFIG4SDB ""
  IRT_PTCP_SUBDOMAIN_ID_HASH ""
  PC_OPC_OV_VFD_3 ""
  PC_OPC_OV_VFD_2 ""
  PC_OPC_OV_VFD_1 ""
  OPC_VFDS_FMS ""
  IRT_OPTIMIZATION_STRUCT ""
  ADDITIONAL_PARAM_SELECTIONS ""
  UPDATE_RESERVE ""
  OPCUA_S7RED_KEYDATA ""
  OPCUA_S7RED_CERTDATA ""
  OPC_SNMP_PLANTCONFIG ""
  PC_OPC_OV_VFD_5 ""
  PC_OPC_OV_VFD_4 ""
  PN_RINGSTATUS_STRUCT ""
  ETHERNET_CLOCK_SYNC_PRM ""
  PARAM_BLOCKS_SDB1000_ALL ""
PARAMETER 
  NDEF_PARAMBLOCK, ""
END 

