FILEVERSION "3.2"
#STEP7_VERSION V5.7 + SP3
#CREATED "streda 28. januára 2026   13:32:21"

STATION S7300 , "HKA_K-35_K19"
BEGIN 
  ASSET_ID "3D7FD89C3BCF4A9B846B26D97872BD9A"
  USED_S7_VERSIONS "35 2E 34 2E 35 2E 30 5F 31 32 2E 36 2E 30 2E 31 7C 00"
  REPORT_SYSTEM_ERRORS "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CIR_WARNING "0"
  CREATOR ""
  COMMENT ""
END 

SUBNET MPI , "MPI(1)"
BEGIN 
  MPI_HSA "31"
  MPI_BAUDRATE "187.5_KBPS"
  MPI_GAP "5"
  MPI_READY "20"
  MPI_RETRIES "2"
  MPI_IDLE1 "60"
  MPI_IDLE2 "400"
  MPI_TQUI "0"
  MPI_TSL "415"
  MPI_TTR "9984"
  CREATOR ""
  COMMENT ""
  NET_ID_2 "00 35 00 00 00 01"
  NET_ID "003500000001"
END 

RACK 0, "6ES7 390-1???0-0AA0", "UR"
BEGIN 
  ASSET_ID "D72930E1B3984E6DAA78750432A29B16"
  OBJECT_REMOVEABLE "1"
  POS_X "14"
  POS_Y "8"
  SIZE_X "204"
  SIZE_Y "245"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
END 

RACK 0, SLOT 1, "6ES7 307-1EA00-0AA0", "PS 307 5A"
BEGIN 
  ASSET_ID "BF67B0E1C9694D7C82DE71844C09950F"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
END 

RACK 0, SLOT 2, "6ES7 313-5BE00-0AB0" "V1.0", "CPU 313C"
BEGIN 
  ASSET_ID "6CDD777ACC63481E9A2F1A3E7247285D"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  CBA_USAGE "0"
  OBJECT_REMOVEABLE "1"
  CAPABLE_FAILSAFE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  KSS_CONNECTION "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  MPI_ADDRESS "3"
  COMMENT ""
  LINKED_SUBNETNAME "MPI(1)"
PARAMETER 
  TOTAL_NUMBER_OF_CONNECTIONS, "8"
  NUMBER_OF_AVAILABLE_CONNECTIONS, "5"
  NUMBER_OF_RESERVED_CONNECTIONS_TO_PROGRAMMING_DEVICE, "1"
  NUMBER_OF_RESERVED_CONNECTIONS_TO_OI, "1"
  STATION_TYPE_PASSIVE, "0"
  MEDIUM_REDUNDANCY, "0"
  HIGHEST_MPI_ADDRESS, "31"
  MPI_ADDRESS, "3"
  RETRY_COUNTER, "2"
  TRANSMISSION_RATE, "187.5_KBPS"
  PHYSICAL_LAYER, "0"
  GAP_UPDATE_FACTOR, "5"
  READY_TIME, "20"
  TRANSMITTER_FALL_TIME, "0"
  SLOT_TIME, "415"
  IDLE_1, "60"
  IDLE_2, "400"
  FACTOR_FOR_TARGET_ROTATION_TIME, "39"
END 

RACK 0, SLOT 2, SUBSLOT 2, "_S7H_SUBMODULE_313_5BE00_DIGITAL_CT", "DI24/DO16"
AUTOCREATED 
BEGIN 
  ASSET_ID "DCF5CD3EBA8F488E8754FD059EC1B7F9"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  124, 0, 3, 0, 0, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  124, 0, 2, 0, 0, 0
SYMBOL  I , 0, "SE11", """O"" bod unašeèe - hlavní pohon"
SYMBOL  I , 1, "SE12", "Ovládání lepení"
SYMBOL  I , 2, "ST11", "Start taktování na vstupu"
SYMBOL  I , 3, "ST12", "Start lepení - krabièka pro lepení"
SYMBOL  I , 4, "EXT1", "externy vstup - povolenie chodu"
SYMBOL  I , 5, "SM11", "Poloha pneumatického válce YP11 levý válec"
SYMBOL  I , 6, "SM12", "Poloha pneumatického válce YP11 pravý válec"
SYMBOL  I , 7, "ST13", "Kontrola výjezdu stroje - hromadìní na dopravníku za strojem"
SYMBOL  I , 8, "S1_STOP", "Tlaèítko stop stroje"
SYMBOL  I , 9, "SL2_START", "Tlaèítko start stroje"
SYMBOL  I , 10, "SL3_RESET", "Tlacitko potvrzeni poruchy"
SYMBOL  I , 11, "KN1", "Bezpeènostní okruh v chodu O.K."
SYMBOL  I , 12, "SG1.1", "Otevøené levé dveøe"
SYMBOL  I , 13, "SG2.1", "Otevøené pravé dveøe"
SYMBOL  I , 14, "SN11", "Nouzový stop ovládací panel - aktivní"
SYMBOL  I , 15, "SN12", "Nouzový stop výjezd ze stroje - aktivní"
SYMBOL  I , 16, "FM_V11_OK", "Pøipravenost frekvenèního mìnièe V11"
SYMBOL  I , 17, "FM_V12_OK", "Pøipravenost frekvenèního mìnièe V12"
SYMBOL  I , 18, "FM13_OK", "Pøipravenost mìnièe dopravníku M13"
SYMBOL  I , 19, "OVER_FM", "Pøetíženost nìjakého mìnièe"
SYMBOL  I , 20, "SGP1", "Tlak vzduchu - O.K."
SYMBOL  I , 21, "LEPENI_ERROR", "Porucha lepièky"
SYMBOL  I , 22, "LEPENI_READY", "Pøipravenosti lepièky"
SYMBOL  I , 23, "LEPENI_LEVEL", "Nízká hladina lepidla v lepièce"
SYMBOL  O , 0, "K2_QUITT", "Potvrzení poruchy"
SYMBOL  O , 1, "K3_OUTPUT_LINE", "Stroj bìží - výstup pro externí zaøízení - linku"
SYMBOL  O , 2, "REZ_124.2", "rezerva"
SYMBOL  O , 3, "HL4_START", "Start ovládací pult stroje"
SYMBOL  O , 4, "HL5_PORUCHA", "Porucha ovládací pult stroje"
SYMBOL  O , 5, "HSLG", "Svìtelný sloupek zelená"
SYMBOL  O , 6, "HSLO", "Svìtelný sloupek oranžová"
SYMBOL  O , 7, "HSLR", "Svìtelný sloupek èervená"
SYMBOL  O , 8, "YL11", "1.lepení levá strana"
SYMBOL  O , 9, "YL12", "2.lepení pravá strana"
SYMBOL  O , 10, "YP11", "Taktování vstup stroje"
SYMBOL  O , 11, "V11_START", "Start øemínkù do stroje"
SYMBOL  O , 12, "V12_START", "Start hlavního pohonu"
SYMBOL  O , 13, "V13_START", "rezerva dopravník"
SYMBOL  O , 14, "V14_START", "rezerva dopravník"
SYMBOL  O , 15, "V15_START", "rezerva dopravník"
END 

RACK 0, SLOT 2, SUBSLOT 3, "_S7H_SUBMODULE_313_5BE00_ANALOG_CT", "AI5/AO2"
AUTOCREATED 
BEGIN 
  ASSET_ID "6495E67694EF4CEBA735CD93A666A85F"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  752, 0, 10, 0, 0, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  752, 0, 4, 0, 0, 0
SYMBOL  I , 4, "TEMP_SCH", "Teplota v rozvádeci"
SYMBOL  O , 0, "SPEED_V11", "Rychlost øemínkù M11"
SYMBOL  O , 1, "SPEED_V12", "Rychlost hlavního pohonu 12"
END 

RACK 0, SLOT 2, SUBSLOT 4, "_S7H_SUBMODULE_313_5BE00_COUNT_CT", "Zählen"
AUTOCREATED 
BEGIN 
  ASSET_ID "E694E794CA1E46789F33F190392B1220"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  768, 0, 16, 0, 0, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  768, 0, 16, 0, 0, 0
END 

