FILEVERSION "3.2"
#STEP7_VERSION V5.7 + SP3
#CREATED "streda 28. januára 2026   13:37:25"

STATION S7300 , "RM1_Blistrovacka"
BEGIN 
  ASSET_ID "DACE72F1D2B84ADE977EA95C2887D393"
  USED_S7_VERSIONS "35 2E 34 2E 33 2E 30 5F 39 2E 35 2E 30 2E 31 7C 35 2E 34 2E 35 2E 30 5F 31 32 2E 36 2E 30 2E 31 7C 35 2E 35 2E 31 2E 30 5F 31 39 2E 38 2E 30 2E 31 7C 35 2E 35 2E 34 2E 30 5F 33 31 2E 31 2E 30 2E 31 7C 35 2E 36 2E 32 2E 30 5F 39 2E 31 2E 30 2E 31 7C 00"
  REPORT_SYSTEM_ERRORS "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CIR_WARNING "0"
  CREATOR ""
  COMMENT ""
END 

SUBNET MPI , "MPI(1)"
BEGIN 
  MPI_HSA "31"
  MPI_BAUDRATE "187.5_KBPS"
  MPI_GAP "5"
  MPI_READY "20"
  MPI_RETRIES "2"
  MPI_IDLE1 "60"
  MPI_IDLE2 "400"
  MPI_TQUI "0"
  MPI_TSL "415"
  MPI_TTR "9984"
  CREATOR "ZP"
  COMMENT "Blistrovaeka RM1"
  NET_ID_2 "01 51 00 00 00 4D"
  NET_ID "01510000004d"
END 

SUBNET PROFIBUS , "PROFIBUS(2)-Blistr"
BEGIN 
  PROFIBUS_HSA "126"
  PROFIBUS_BAUDRATE "1.5_MBPS"
  PROFIBUS_RETRIES "1"
  PROFIBUS_GAP "10"
  PROFIBUS_READY "11"
  PROFILE_SELECTION "DP"
  NETCONFIG_ENABLE "0"
  NETCONFIG_AKTIV "1"
  NETCONFIG_PASSIV "14"
  NETCONFIG_XYZ "2"
  CNT_ACT_NODES "1"
  CNT_PAS_NODES "2"
  CNT_XYZ_NODES "2"
  OLM_CONFIG_ENABLE "0"
  AEQU_ENABLE "0"
  BROADCAST_ENABLE "0"
  NETCONFIG_BUSLAST "MEDIUM"
  PROFILE_OPTIMIZATION "0"
  OPTIMIZE_TSLOT "0"
  OPTIMIZE_CONF "0"
  AEQU_CLOCK_ENABLE "0"
  AEQU_CLOCK_TI "0"
  AEQU_CLOCK_TO "0"
  AEQU_DP_BASE "0.001_MS"
  AEQU_SLAVE_BASE "0.001_MS"
  AEQU_CLOCK_TI_MIN "0"
  AEQU_CLOCK_TO_MIN "0"
  AEQU_CLOCK_DP_MAX "32000000"
  AEQU_CLOCK_TITO_MIN "0"
  AEQU_CLOCK_DP_MIN "0"
  AEQU_PROFILE "1"
  CNT_OLM "0"
  CNT_REPEATER "0"
  CU_WIRE_LENGTH "0"
  LWL_WIRE_LENGTH "0"
  PROFIBUS_TQUI "0"
  PROFIBUS_IDLE1 "37"
  PROFIBUS_IDLE2 "150"
  PROFIBUS_TSL "300"
  DLG_TSL_INIT "300"
  TSET "1"
  MIN_TSDR "11"
  MAX_TSDR "150"
  AEQU_PAUSE_TIME "0"
  PROFIBUS_TTR "32402"
  WATCHDOG "79746"
  MIN_SLAVE "150"
  TTR_SLAVE_INT "2669"
  DLG_CNT_REPEATER "0"
  DLG_CU_WIRE_LENGTH "0"
  DLG_CNT_OLM "0"
  DLG_LWL_WIRE_LENGTH "0"
  AEQU_PG_CNT "0"
  AEQU_MASTER_TIME_INP "0"
  AEQU_PG_TIME_INP "0"
  AEQU_DP_TIME_INP "0"
  DDB_TIME_PCI "16"
  TTH_STD "0"
  TAEQ_STD "0"
  AEQU_TDE "1716"
  OPTICAL_RING "0"
  CREATOR ""
  COMMENT ""
  NET_ID_2 "01 51 00 00 00 2D"
  NET_ID "01510000002d"
  NET_CIR_LOCKED "0"
  TIME_SHORTCUT_OUTOF_RING "16"
  TIME_SHORTCUT_OUTOF_RING_V5SP3 "294"
  TIME_SHORTCUT_IN_RING "16"
  TIME_SHORTCUT_IN_RING_V5SP3 "8"
  BUSPROFILE_INTERVAL "0"
  BUSPROFILE_INTERVAL_V5SP3 "0"
  RETRY_IMMEDIATE "1"
  DCI_COUNTER "90"
  NONCYCLIC_REQUEST_CTR "2"
  NONCYCLIC_REQUEST_CTR_DIAG2 "2"
END 

RACK 0, "6ES7 390-1???0-0AA0", "UR"
BEGIN 
  ASSET_ID "73AE98A2833D40B7883DF66E5EA6962C"
  OBJECT_REMOVEABLE "1"
  POS_X "10"
  POS_Y "7"
  SIZE_X "202"
  SIZE_Y "223"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
END 

RACK 0, SLOT 2, "6ES7 313-6CF03-0AB0" "V2.6", "CPU 313C-2 DP"
BEGIN 
  ASSET_ID "94C8481C5A574C8D898073CFC0132458"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  CBA_USAGE "0"
  CAPABLE_F_SAFETY "0"
  OBJECT_REMOVEABLE "1"
  CAPABLE_FAILSAFE "0"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  KSS_CONNECTION "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  MPI_ADDRESS "2"
  COMMENT ""
  LINKED_SUBNETNAME "MPI(1)"
PARAMETER 
  CLOCK_MEMORY, "1"
  MEMORY_BYTE, "250"
  PLANT_DESIGNATION, ""
  LOCAL_DESIGNATION, ""
END 

RACK 0, SLOT 2, SUBSLOT 1, "_S7H_HSP_SUBMODULE_313_6CF03_FW26_DP_CT", "DP"
AUTOCREATED 
MASTER DPSUBSYSTEM 2, "PROFIBUS(2)-Blistr", DPADDRESS 2
BEGIN 
  ASSET_ID "47420345031F4A24A3778EA511D4A43B"
  PROFIBUSADDRESS "2"
  LINKED_SUBNETNAME "PROFIBUS(2)-Blistr"
  ALARM_OB_NO "40"
  __112411 ""
  DP_CLOCK_MODE "0"
  SLAVE_ACTIVE_PASSIVE "0"
  __112412 "0"
  DP_CLOCK_INT "0"
  OPT_BUSPAR "0"
  DP_MASTER_MODE "DP_MASTER"
  OBJECT_REMOVEABLE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  DP_VERSION "7"
  CAX_APP_ID ""
  L2_ADDR_EQUI_MASTER "255"
  OBJECT_COPYABLE "0"
  CREATOR ""
  COMMENT ""
  INTERFACE_HARDENING "0"
LOCAL_IN_ADDRESSES 
  ADDRESS  1023, 0, 0, 0, 0, 0
END 

RACK 0, SLOT 2, SUBSLOT 2, "_S7H_SUBMODULE_313_6CE00_DIGITAL_CT", "DI16/DO16"
AUTOCREATED 
BEGIN 
  ASSET_ID "19ED558779A948099F6D3ACD06DC6765"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  124, 0, 2, 0, 0, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  124, 0, 2, 0, 0, 0
SYMBOL  I , 0, "IG1-A", "Snímaè polohy unašeèù na M50"
SYMBOL  I , 1, "IG1-B", "Snímaè polohy unašeèù na M50"
SYMBOL  I , 2, "I124.2_REZ", ""
SYMBOL  I , 3, "1SE1", "Pokládání blistrù dolní poloha - pøísavky nad dopravníkem"
SYMBOL  I , 4, "1SE2", "Pokládání blistrù horní poloha - pøísavky u zásobníku"
SYMBOL  I , 5, "1SE3", "Minimum zásobník 1"
SYMBOL  I , 6, "1SE4", "Minimum zásobník 2"
SYMBOL  I , 7, "1SE5", "Nulový bod unašeèù M50"
SYMBOL  I , 8, "QM2", "Motorová ochrana vakuové pumpy OK"
SYMBOL  I , 9, "S1", "Tlaèítko STOP - blistrovaèka"
SYMBOL  I , 10, "SL2", "Tlaèítko START - blistrovaèka"
SYMBOL  I , 11, "SL3", "Tlaèítko Potvrzení poruchy - blistrovaèka"
SYMBOL  I , 12, "SN1.1", "Nouzový stop ovladaci panel aktivní"
SYMBOL  I , 13, "SGP1", "Tlak v pneumatickém okruhu stroje OK"
SYMBOL  I , 14, "KN1_OK", "Okruh nouzovìho stopu stroje OK"
SYMBOL  I , 15, "KN2_OK", "Okruch ochranných krytù stroje  OK"
SYMBOL  O , 0, "HL2", "Kontrolka START"
SYMBOL  O , 1, "HL3", "Porucha - kontrolka na panelu"
SYMBOL  O , 2, "HSLG", "Semafor zelená"
SYMBOL  O , 3, "HSLO", "Semafor oranžová"
SYMBOL  O , 4, "HSLR", "Semafor èervená"
SYMBOL  O , 5, "QREZ124.5", ""
SYMBOL  O , 6, "K1", "Potvrzení obvodu krytù stroje"
SYMBOL  O , 7, "K2", "Stroj v chodu pro externí zaøízení"
SYMBOL  O , 8, "RESET_24V", "Reset poruchy  na napájení 24VDC"
SYMBOL  O , 9, "1HU1", "Zvuková signalizace 1. tón"
SYMBOL  O , 10, "K3_1HU2", "Zvuková signalizace 2. tón"
SYMBOL  O , 11, "SYNC_M54", "Syncronizace výstupného pøesunu blistrù"
SYMBOL  O , 12, "RM1_READY", "Pøipravenost blistrovaèky pro chod dopravníkù"
SYMBOL  O , 13, "M_CLOSE", "Stroj je uzavøený, kryty OK"
SYMBOL  O , 14, "QREZ125.6", ""
SYMBOL  O , 15, "YP0", "Hlavní ventil > pøívodu tlakového vzduchu"
END 

RACK 0, SLOT 2, SUBSLOT 4, "_S7H_SUBMODULE_313_6CE01_COUNT_CT", "Count"
AUTOCREATED 
BEGIN 
  ASSET_ID "9936D6D5CD3B46409CAD6F231DF98182"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  768, 0, 16, 0, 0, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  768, 0, 16, 0, 0, 0
PARAMETER 
  GENERATE_INTERRUPT, "NONE"
  SELECT_INTERRUPT, "NONE"
  TECHNOLOGY_CHANNEL0, "COUNT"
  TECHNOLOGY_CHANNEL1, "NONE"
  TECHNOLOGY_CHANNEL2, "NONE"
  TECHNOLOGY_CHANNEL3, "NONE"
  DATASET, "80 00 00 00 01 00 00 00 00 03 00 00 00 01 00 02 00 00 00 00 00 01 00 00 4E 20 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 1E 03 0A 03 00 00 00 00 00 00 00 00"
END 

RACK 0, SLOT 4, "6ES7 323-1BL00-0AA0", "DI16/DO16x24V/0.5A"
BEGIN 
  ASSET_ID "9C516A74DD704163B9EDDE9CE09B32EB"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  0, 0, 2, 0, 1, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  0, 0, 2, 0, 1, 0
SYMBOL  I , 0, "1SN2.1", "Nouzový STOP - zásobník"
SYMBOL  I , 1, "1SN3.1", "Nouzový STOP -"
SYMBOL  I , 2, "E0.2_REZ", ""
SYMBOL  I , 3, "E0.3_REZ", ""
SYMBOL  I , 4, "SG1.1", "Kryty levé"
SYMBOL  I , 5, "SG2.1", "Kryty pravé"
SYMBOL  I , 6, "E0.6_REZ", "Kryty - rezerva"
SYMBOL  I , 7, "E0.7_REZ", "Kryty - rezerva"
SYMBOL  I , 8, "1ST1", "Blistr do levé stopy"
SYMBOL  I , 9, "1ST2", "Blistr do pravé stopy"
SYMBOL  I , 10, "1ST3", "Kontrola výjezdu blistrovaèky"
SYMBOL  O , 0, "KM2", "Vakuová pumpa M2"
SYMBOL  O , 1, "QREZ0.1", ""
SYMBOL  O , 2, "QREZ0.2", ""
SYMBOL  O , 3, "QREZ0.3", ""
SYMBOL  O , 4, "QREZ0.4", ""
SYMBOL  O , 5, "QREZ0.5", ""
SYMBOL  O , 6, "QREZ0.6", ""
SYMBOL  O , 7, "QREZ0.7", ""
SYMBOL  O , 8, "QREZ1.0", ""
SYMBOL  O , 9, "YV1", "Prisávání v zásobníku c. 1"
SYMBOL  O , 10, "YV2", "Prisávání v zásobníku c. 2"
SYMBOL  O , 11, "YP1", "Foukání do zásobníku blistrù"
SYMBOL  O , 12, "YP2", "Rovnání v zásobníku stopa"
SYMBOL  O , 13, "QREZ1.5", ""
SYMBOL  O , 14, "QREZ1.6", ""
SYMBOL  O , 15, "QREZ1.7", ""
END 

RACK 0, SLOT 5, "6ES7 321-1BH02-0AA0", "DI16xDC24V"
BEGIN 
  ASSET_ID "62287BFAFAEE46D9850DBB7E4B74A44E"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  4, 0, 2, 0, 1, 0
SYMBOL  I , 0, "KA1", "Externí zaøízení OK"
SYMBOL  I , 1, "BT1", "Vysoká teplota RM1"
SYMBOL  I , 2, "24VDC_OK", "Kontrola napájecího zdroje 24V"
SYMBOL  I , 3, "E4.3_REZ", ""
SYMBOL  I , 4, "E4.4_REZ", ""
SYMBOL  I , 5, "E4.5_REZ", ""
SYMBOL  I , 6, "LINE_RUN", "Chod dopravníkù blistrù pro vkládání blistrù"
SYMBOL  I , 7, "LINE_E-S_OK", "Bezpeènostní moduly dopravníkù RM50/51 nahozeny"
SYMBOL  I , 8, "E5.0_REZ", ""
SYMBOL  I , 9, "E5.1_REZ", ""
SYMBOL  I , 10, "E5.2_REZ", ""
SYMBOL  I , 11, "E5.3_REZ", ""
SYMBOL  I , 12, "E5.4_REZ", ""
SYMBOL  I , 13, "E5.5_REZ", ""
SYMBOL  I , 14, "E5.6_REZ", ""
SYMBOL  I , 15, "E5.7_REZ", ""
END 

RACK 0, SLOT 6, "6ES7 323-1BL00-0AA0", "DI16/DO16x24V/0.5A"
BEGIN 
  ASSET_ID "7773A5407F3A478DADBEE0F3F89993A6"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  8, 0, 2, 0, 1, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  8, 0, 2, 0, 1, 0
SYMBOL  I , 0, "E8.0_REZ", ""
SYMBOL  I , 1, "E8.1_REZ", ""
SYMBOL  I , 2, "E8.2_REZ", ""
SYMBOL  I , 3, "E8.3_REZ", ""
SYMBOL  I , 4, "E8.4_REZ", ""
SYMBOL  I , 5, "E8.5_REZ", ""
SYMBOL  I , 6, "E8.6_REZ", ""
SYMBOL  I , 7, "E8.7_REZ", ""
SYMBOL  I , 8, "E9.0_REZ", ""
SYMBOL  I , 9, "E9.1_REZ", ""
SYMBOL  I , 10, "E9.2_REZ", ""
SYMBOL  I , 11, "E9.3_REZ", ""
SYMBOL  I , 12, "E9.4_REZ", ""
SYMBOL  I , 13, "E9.5_REZ", ""
SYMBOL  I , 14, "E9.6_REZ", ""
SYMBOL  I , 15, "E9.7_REZ", ""
SYMBOL  O , 0, "QREZ8.0", ""
SYMBOL  O , 1, "QREZ8.1", ""
SYMBOL  O , 2, "QREZ8.2", ""
SYMBOL  O , 3, "QREZ8.3", ""
SYMBOL  O , 4, "QREZ8.4", ""
SYMBOL  O , 5, "QREZ8.5", ""
SYMBOL  O , 6, "QREZ8.6", ""
SYMBOL  O , 7, "QREZ8.7", ""
SYMBOL  O , 8, "QREZ9.0", ""
SYMBOL  O , 9, "QREZ9.1", ""
SYMBOL  O , 10, "QREZ9.2", ""
SYMBOL  O , 11, "QREZ9.3", ""
SYMBOL  O , 12, "QREZ9.4", ""
SYMBOL  O , 13, "QREZ9.5", ""
SYMBOL  O , 14, "QREZ9.6", ""
SYMBOL  O , 15, "QREZ9.7", ""
END 

DPSUBSYSTEM 2, "PROFIBUS(2)-Blistr: DP master system (2)"
BEGIN 
  GROUP_IDENT_SUM_ALL_SLAVES "255"
  GROUP_SYNC_PROP "255"
  GUI_HIDE "0"
  GROUP_FREEZE_PROP "255"
  OBJECT_REMOVEABLE "1"
  GROUP_COMMENT_1 ""
  GROUP_COMMENT_2 ""
  POS_X "215"
  GROUP_COMMENT_3 ""
  POS_Y "68"
  GROUP_COMMENT_4 ""
  SIZE_X "283"
  LAST_USED_PROFIBUS_ADDR "25"
  GROUP_COMMENT_5 ""
  SIZE_Y "16"
  GROUP_COMMENT_6 ""
  GROUP_COMMENT_7 ""
  GROUP_COMMENT_8 ""
  CAX_APP_ID ""
  SUBNET_NAME "PROFIBUS(TEST)"
  OBJECT_COPYABLE "0"
  CREATOR ""
  COMMENT ""
END 

DPSUBSYSTEM 2, DPADDRESS 21, "LENZ00DA.GSE", "8200neu-Profibus-DP"
BEGIN
  ASSET_ID "8596A717D9614A84837F33D3D6FC3EA5"
  PNO_IDENT_NO "218"
  WD_ON "1"
  PDM_PARAM "0"
  CBA_USAGE "0"
  GROUP_IDENT "0"
  NORMSLAVE_DP_MODE "0"
  OBJECT_REMOVEABLE "1"
  NORMSLAVE_PARAM_DATA "00 00"
  POS_X "252"
  GATEWAY_COMMENT ""
  POS_Y "141"
  SIZE_X "78"
  SIZE_Y "64"
  MODULE_ADD_FLAGS "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT "Podávání poíoezu"
  PHYSICAL_INTERFACE "0"
  CIR_STATE "0"
LOCAL_IN_ADDRESSES 
  ADDRESS  1011, 0, 0, 0, 2, 0
END

DPSUBSYSTEM 2, DPADDRESS 21, SLOT 1, "PAR(Cons.)+PZD( 2 W. Cons.)", "4AX"
BEGIN 
  ASSET_ID "31AA4697FF984DDB8E301F642E16990D"
  SLAVE_CFG_DATA "01 00 F3"
  OBJECT_REMOVEABLE "1"
  RETAIN_LAST_VALUE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  NORMMODULE_PARAM_DATA "00 00"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  NORMMODULE_REFERENCE "-1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  272, 0, 8, 0, 7, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  272, 0, 8, 0, 7, 0
END 

DPSUBSYSTEM 2, DPADDRESS 21, SLOT 2, "--> PAR(Cons.)+PZD( 2 W. Cons.)", "2AX"
AUTOCREATED 
BEGIN 
  ASSET_ID "BD97C0E50E9B47DB93BA40D26FA9AB87"
  SLAVE_CFG_DATA "01 00 F1"
  OBJECT_REMOVEABLE "0"
  RETAIN_LAST_VALUE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  NORMMODULE_PARAM_DATA "00 00"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  NORMMODULE_REFERENCE "-1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  280, 0, 4, 0, 2, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  280, 0, 4, 0, 2, 0
END 

DPSUBSYSTEM 2, DPADDRESS 25, "LENZ00DA.GSE", "8200neu-Profibus-DP"
BEGIN
  ASSET_ID "641316D678144F7ABF34B536D06E6D31"
  PNO_IDENT_NO "218"
  WD_ON "1"
  PDM_PARAM "0"
  CBA_USAGE "0"
  GROUP_IDENT "0"
  NORMSLAVE_DP_MODE "0"
  OBJECT_REMOVEABLE "1"
  NORMSLAVE_PARAM_DATA "00 00"
  POS_X "359"
  GATEWAY_COMMENT ""
  POS_Y "142"
  SIZE_X "78"
  SIZE_Y "64"
  MODULE_ADD_FLAGS "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT "Podávání poíoezu"
  PHYSICAL_INTERFACE "0"
  CIR_STATE "0"
LOCAL_IN_ADDRESSES 
  ADDRESS  1022, 0, 0, 0, 2, 0
END

DPSUBSYSTEM 2, DPADDRESS 25, SLOT 1, "PAR(Cons.)+PZD( 2 W. Cons.)", "4AX"
BEGIN 
  ASSET_ID "F82FE12DD6A54B8DB249A40DA1422394"
  SLAVE_CFG_DATA "01 00 F3"
  OBJECT_REMOVEABLE "1"
  RETAIN_LAST_VALUE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  NORMMODULE_PARAM_DATA "00 00"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  NORMMODULE_REFERENCE "-1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  256, 0, 8, 0, 7, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  256, 0, 8, 0, 7, 0
END 

DPSUBSYSTEM 2, DPADDRESS 25, SLOT 2, "--> PAR(Cons.)+PZD( 2 W. Cons.)", "2AX"
AUTOCREATED 
BEGIN 
  ASSET_ID "C9AA1C8DC9934C74AE407192980A7321"
  SLAVE_CFG_DATA "01 00 F1"
  OBJECT_REMOVEABLE "0"
  RETAIN_LAST_VALUE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  NORMMODULE_PARAM_DATA "00 00"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  NORMMODULE_REFERENCE "-1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  264, 0, 4, 0, 2, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  264, 0, 4, 0, 2, 0
END 

