FILEVERSION "3.2"
#STEP7_VERSION V5.7 + SP3
#CREATED "utorok 3. februára 2026   14:03:14"

STATION S7300 , "OST4_DTB1"
BEGIN 
  ASSET_ID "EE9DFF3713F94F57A7C4E3F4ACC3C471"
  USED_S7_VERSIONS "35 2E 36 2E 32 2E 30 5F 39 2E 31 2E 30 2E 31 7C 00"
  REPORT_SYSTEM_ERRORS "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CIR_WARNING "0"
  CREATOR ""
  COMMENT ""
END 

SUBNET INDUSTRIAL_ETHERNET , "Ethernet(1)"
BEGIN 
  CREATOR ""
  COMMENT ""
  NET_ID_2 "11 CC 00 00 00 05"
  NET_ID "11CC00000005"
END 

IRT_DOMAIN  "Ethernet(1)" "syncdomain-default"
BEGIN 
  SENDCLOCKFACTOR "32"
  BANDWIDTHLEVEL "3"
  GROUP "1, IRT Cycle 1, 1, 0, 0, 0"
END 

RACK 0, "6ES7 151-8AB00-0AB0" "V2.7", "IM151-8 PN/DP CPU"
BEGIN 
  OBJECT_REMOVEABLE "1"
  POS_X "168"
  POS_Y "91"
  SIZE_X "373"
  SIZE_Y "336"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
END 

RACK 0, SLOT 2, "_S7H_HSP_6ES7_151_8AB00_0AB0_FW27_CT" "V2.7", "IM151-8 PN/DP CPU"
AUTOCREATED 
BEGIN 
  ASSET_ID "0BF1ED87DFDF4454B29634807904635B"
  WEB_SDBS_GENERATE "0"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  WEB_UPDATE_ACTIVE "0"
  WEB_UPDATE_RATE "0"
  CBA_USAGE "0"
  WEB_LANGUAGES ""
  CAPABLE_F_SAFETY "0"
  OBJECT_REMOVEABLE "0"
  WEB_DISPLAY_CLASSES "131071"
  CAPABLE_FAILSAFE "0"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  KSS_CONNECTION "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
  WEB_IS_ACTIVE "0"
PARAMETER 
  CLOCK_MEMORY, "1"
  MEMORY_BYTE, "1"
  PLANT_DESIGNATION, ""
  LOCAL_DESIGNATION, ""
END 

RACK 0, SLOT 2, SUBSLOT 1, "_S7H_HSP_IO_CONTROLLER_151_8AB00_FW27_CT", "ost4-dtb1-cpu"
AUTOCREATED 
CONTROLLER IOSUBSYSTEM 100, "Ethernet(1)", IOADDRESS 0
BEGIN 
  ASSET_ID "BCFAC88DCF334C1BB39CDB6AC2EAEDFB"
  MACADDRESS "080006010000"
  IPACTIVE "1"
  IPADDRESS "AC10121C"
  SUBNETMASK "FFFF0000"
  ROUTERADDRESS "AC100001"
  ROUTERACTIVE "1"
  LINKED_SUBNETNAME "Ethernet(1)"
  ISOACTIVE "0"
  CPU_NO "1"
  IRT_DETERMINATION_LEVEL "1"
  ALARM_OB_NO "40"
  IRT_SYNC_FLAG "65280"
  SECURITY_SERVER_ADDR ""
  PN_MAX_IRT_LINE_DEPTH "0"
  PN_CALCULATE_MAX_IRT_LINE "1"
  IRT_PN_USER_RATIO "30"
  DEVICE_NAME "ost4-dtb1-cpu"
  IRT_PTCP_SUBDOMAIN_ID_DATA ""
  PN_RT_SENDCLOCKFAKTOR "32"
  PN_MIN_VERSION ""
  EXCHANGE_WITHOUT_MMC "1"
  IRT_PTCP_SUBDOMAIN_ID_HASH ""
  GUI_HIDE "0"
  OBJECT_REMOVEABLE "0"
  PN_ALARM_FILTER "394768"
  IRT_BANDWIDTH_OVERRIDE_ALLOWED "0"
  USED_FOR_CBA "0"
  IRT_OPTIMIZATION_STRUCT ""
  IRT_DOMAIN_NAME "syncdomain-default"
  POS_X "0"
  SHARED_DEVICE_SUPPORTED "0"
  IRT_SENDCLOCK_FACTOR "32"
  POS_Y "0"
  PN_IDEVICE_SETTINGS ""
  SIZE_X "0"
  SIZE_Y "0"
  ETHERNET_CLOCK_SYNC_PRM ""
  CAX_APP_ID ""
  IRT_PN_RATIO "40"
  OBJECT_COPYABLE "0"
  CREATOR ""
  LEGACY_LLDP_ENABLED "0"
  COMMENT ""
  IRT_STARTTIMETX "0"
  INTERFACE_HARDENING "0"
  ETHERNET_MED_DUP "8"
  IRT_SYNC_WHOLE_DEVICE "1"
  IRT_GROUP_NR "1"
  IP_CONFIG_MODES "0"
LOCAL_IN_ADDRESSES 
  ADDRESS  2047, 0, 0, 0, 1, 0
  ADDRESS  2043, 0, 0, 0, 1, 0
END 

RACK 0, SLOT 2, SUBSLOT 2, "_S7H_HSP_PORT_SUBMODUL_151_8AB00_FW27_CT", "Port 1"
AUTOCREATED 
BEGIN 
  ASSET_ID "C22F835E646240B6B84C728907D2A4E1"
  IRT_FIBEROPTIC_CABLETYPE "0"
  LINE_COMMENT ""
  LINK_STATE_DIAG_NEW_VERSION "0"
  ALARM_OB_NO "40"
  LINE_DELAY "600"
  S7H_IRT_PORT_THRESHOLD_SFP_L "0"
  S7H_IRT_PORT_TXF_SFP_L "0"
  S7H_IRT_PORT_RXL_SFP_L "0"
  LINK_STATE_DIAG_REQUIRE "0"
  ETH_MEDIUM_RUNTIME_CHECK "1"
  PORT_DEACTIVATED "0"
  MRP_DOMAIN ""
  PORT_DOMAIN_BOUNDARY "0"
  PN_MIN_VERSION ""
  GUI_HIDE "0"
  OBJECT_REMOVEABLE "0"
  PORT_DCP_BOUNDARY "0"
  POS_X "0"
  PORT_LLDP_BOUNDARY "0"
  POS_Y "0"
  PN_RINGSTATUS_STRUCT ""
  SIZE_X "0"
  IRT_LINE_RX_DELAY "0"
  SIZE_Y "0"
  PNDX_MODE "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  CREATOR ""
  COMMENT ""
  MULTICAST_BOUNDARY "0"
  ETHERNET_MED_DUP "8"
  IRT_FIBEROPTIC_TYPE "0"
  LINE_DELAY_SELECTOR "0"
  IRT_GROUP_NR "1"
LOCAL_IN_ADDRESSES 
  ADDRESS  2046, 0, 0, 0, 0, 0
END 

RACK 0, SLOT 2, SUBSLOT 3, "_S7H_HSP_PORT_SUBMODUL_151_8AB00_FW27_CT", "Port 2"
AUTOCREATED 
BEGIN 
  ASSET_ID "E521C05638B245948177A409653F66F0"
  IRT_FIBEROPTIC_CABLETYPE "0"
  LINE_COMMENT ""
  LINK_STATE_DIAG_NEW_VERSION "0"
  ALARM_OB_NO "40"
  LINE_DELAY "600"
  S7H_IRT_PORT_THRESHOLD_SFP_L "0"
  S7H_IRT_PORT_TXF_SFP_L "0"
  S7H_IRT_PORT_RXL_SFP_L "0"
  LINK_STATE_DIAG_REQUIRE "0"
  ETH_MEDIUM_RUNTIME_CHECK "1"
  PORT_DEACTIVATED "0"
  MRP_DOMAIN ""
  PORT_DOMAIN_BOUNDARY "0"
  PN_MIN_VERSION ""
  GUI_HIDE "0"
  OBJECT_REMOVEABLE "0"
  PORT_DCP_BOUNDARY "0"
  POS_X "0"
  PORT_LLDP_BOUNDARY "0"
  POS_Y "0"
  PN_RINGSTATUS_STRUCT ""
  SIZE_X "0"
  IRT_LINE_RX_DELAY "0"
  SIZE_Y "0"
  PNDX_MODE "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  CREATOR ""
  COMMENT ""
  MULTICAST_BOUNDARY "0"
  ETHERNET_MED_DUP "8"
  IRT_FIBEROPTIC_TYPE "0"
  LINE_DELAY_SELECTOR "0"
  IRT_GROUP_NR "1"
LOCAL_IN_ADDRESSES 
  ADDRESS  2045, 0, 0, 0, 0, 0
END 

RACK 0, SLOT 2, SUBSLOT 4, "_S7H_HSP_PORT_SUBMODUL_151_8AB00_FW27_CT", "Port 3"
AUTOCREATED 
BEGIN 
  ASSET_ID "DF88069D2F3F46E183E683302FB9828E"
  IRT_FIBEROPTIC_CABLETYPE "0"
  LINE_COMMENT ""
  LINK_STATE_DIAG_NEW_VERSION "0"
  ALARM_OB_NO "40"
  LINE_DELAY "600"
  S7H_IRT_PORT_THRESHOLD_SFP_L "0"
  S7H_IRT_PORT_TXF_SFP_L "0"
  S7H_IRT_PORT_RXL_SFP_L "0"
  LINK_STATE_DIAG_REQUIRE "0"
  ETH_MEDIUM_RUNTIME_CHECK "1"
  PORT_DEACTIVATED "0"
  MRP_DOMAIN ""
  PORT_DOMAIN_BOUNDARY "0"
  PN_MIN_VERSION ""
  GUI_HIDE "0"
  OBJECT_REMOVEABLE "0"
  PORT_DCP_BOUNDARY "0"
  POS_X "0"
  PORT_LLDP_BOUNDARY "0"
  POS_Y "0"
  PN_RINGSTATUS_STRUCT ""
  SIZE_X "0"
  IRT_LINE_RX_DELAY "0"
  SIZE_Y "0"
  PNDX_MODE "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  CREATOR ""
  COMMENT ""
  MULTICAST_BOUNDARY "0"
  ETHERNET_MED_DUP "8"
  IRT_FIBEROPTIC_TYPE "0"
  LINE_DELAY_SELECTOR "0"
  IRT_GROUP_NR "1"
LOCAL_IN_ADDRESSES 
  ADDRESS  2044, 0, 0, 0, 0, 0
END 

RACK 0, SLOT 4, "6ES7 138-4CA01-0AA0", "PM-E DC24V"
BEGIN 
  ASSET_ID "E7604EBBDD9D4E11B9CD34D8B1CB3F3D"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
  STATUSBYTE "0"
LOCAL_IN_ADDRESSES 
  ADDRESS  2042, 0, 0, 0, 0, 256
END 

RACK 0, SLOT 5, "6ES7 131-4BF00-0AA0", "8DI DC24V"
BEGIN 
  ASSET_ID "B9F9216545E94EB98610950D5FAE8FA0"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  4, 0, 8, 0, 0, 16
SYMBOL  I , 0, "M21_RN", "Obehove cerpadlo M21 chod"
SYMBOL  I , 1, "M21_FA", "Obehove cerpadlo M21 porucha"
SYMBOL  I , 2, "M22_RN", "Obehove cerpadlo M22 chod"
SYMBOL  I , 3, "M22_FA", "Obehove cerpadlo M22 porucha"
PARAMETER 
  NDEF_PARAMBLOCK, ""
END 

RACK 0, SLOT 6, "6ES7 131-4BF00-0AA0", "8DI DC24V"
BEGIN 
  ASSET_ID "596A843B18F147928C4B92C2769C0160"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  5, 0, 8, 0, 0, 16
PARAMETER 
  NDEF_PARAMBLOCK, ""
END 

RACK 0, SLOT 7, "6ES7 132-4BF00-0AA0", "8DO DC24V/0.5A"
BEGIN 
  ASSET_ID "0C73EB7FB48F44948F2214CF3629A7BF"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_OUT_ADDRESSES 
  ADDRESS  4, 0, 8, 0, 0, 16
SYMBOL  O , 0, "M21_ON!", "Obehove cerpadlo M21 ZAP"
SYMBOL  O , 1, "M22_ON!", "Obehove cerpadlo M22 ZAP"
PARAMETER 
  NDEF_PARAMBLOCK, ""
END 

RACK 0, SLOT 8, "6ES7 132-4BF00-0AA0", "8DO DC24V/0.5A"
BEGIN 
  ASSET_ID "BE3978A171444DDF87087380BA55FD0C"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_OUT_ADDRESSES 
  ADDRESS  5, 0, 8, 0, 0, 16
PARAMETER 
  NDEF_PARAMBLOCK, ""
END 

RACK 0, SLOT 9, "6ES7 138-4CA01-0AA0", "PM-E DC24V"
BEGIN 
  ASSET_ID "22280627F49E4C33A5298A66EB21378B"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
  STATUSBYTE "0"
LOCAL_IN_ADDRESSES 
  ADDRESS  2040, 0, 0, 0, 0, 256
END 

RACK 0, SLOT 10, "6ES7 134-4GD00-0AB0", "4AI I 2WIRE ST"
BEGIN 
  ASSET_ID "E3386AAFE58449E1B20D6B4FDCF7A034"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  256, 0, 8, 0, 0, 32
END 

RACK 0, SLOT 11, "6ES7 135-4GB01-0AB0", "2AO I ST"
BEGIN 
  ASSET_ID "EEA7B061916A4311A4F452910CD0D0D9"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_OUT_ADDRESSES 
  ADDRESS  256, 0, 4, 0, 0, 32
SYMBOL  O , 0, "M21_SP", "SP Obehove cerpadlo M21"
SYMBOL  O , 1, "M22_SP", "SP Obehove cerpadlo M22"
END 

RACK 0, SLOT 12, "6ES7 135-4GB01-0AB0", "2AO I ST"
BEGIN 
  ASSET_ID "75A08B9BF5684DF7B4A978DA6C0F1722"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_OUT_ADDRESSES 
  ADDRESS  262, 0, 4, 0, 0, 32
END 

IOSUBSYSTEM 100, "Ethernet(1): PROFINET IO system (100)"
BEGIN 
  OLD_DEBUG_FILENAME ""
  PN_PHASE_RELATION "1"
  PN_MIN_VERSION ""
  GUI_HIDE "0"
  OBJECT_REMOVEABLE "1"
  POS_X "583"
  POS_Y "165"
  SIZE_X "252"
  SIZE_Y "16"
  PN_USE_DEVICE_SPEC_UPD_TIME "1"
  SUBNET_NAME "Ethernet(1)"
  CAX_APP_ID ""
  DNS_CHECK "0"
  OBJECT_COPYABLE "1"
  PN_USER_DEF_UPD_TIME "0"
  CREATOR ""
  COMMENT ""
  IRT_GROUP_NR "1"
END 

