FILEVERSION "3.2"
#STEP7_VERSION V5.7 + SP3
#CREATED "utorok 3. februára 2026   14:49:00"

STATION S7300 , "PIGGING SYSTEM"
BEGIN 
  ASSET_ID "4B035E3962DE45078A90222F37214985"
  USED_S7_VERSIONS "35 2E 35 2E 33 2E 30 5F 32 36 2E 36 2E 30 2E 31 7C 00"
  REPORT_SYSTEM_ERRORS "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CIR_WARNING "0"
  CREATOR ""
  COMMENT ""
END 

SUBNET INDUSTRIAL_ETHERNET , "Ethernet(1)"
BEGIN 
  CREATOR ""
  COMMENT ""
  NET_ID_2 "00 B1 00 00 00 08"
  NET_ID "00B100000008"
END 

SUBNET PROFIBUS , "HMI_PB"
BEGIN 
  PROFIBUS_HSA "126"
  PROFIBUS_BAUDRATE "500_KBPS"
  PROFIBUS_RETRIES "1"
  PROFIBUS_GAP "10"
  PROFIBUS_READY "11"
  PROFILE_SELECTION "DP"
  NETCONFIG_ENABLE "0"
  NETCONFIG_AKTIV "1"
  NETCONFIG_PASSIV "0"
  NETCONFIG_XYZ "1"
  CNT_ACT_NODES "0"
  CNT_PAS_NODES "0"
  CNT_XYZ_NODES "0"
  OLM_CONFIG_ENABLE "0"
  AEQU_ENABLE "0"
  BROADCAST_ENABLE "1"
  NETCONFIG_BUSLAST "MEDIUM"
  PROFILE_OPTIMIZATION "0"
  OPTIMIZE_TSLOT "0"
  OPTIMIZE_CONF "0"
  AEQU_CLOCK_ENABLE "0"
  AEQU_CLOCK_TI "0"
  AEQU_CLOCK_TO "0"
  AEQU_DP_BASE "0.001_MS"
  AEQU_SLAVE_BASE "0.001_MS"
  AEQU_CLOCK_TI_MIN "0"
  AEQU_CLOCK_TO_MIN "0"
  AEQU_CLOCK_DP_MAX "32000000"
  AEQU_CLOCK_TITO_MIN "0"
  AEQU_CLOCK_DP_MIN "0"
  AEQU_PROFILE "1"
  CNT_OLM "0"
  CNT_REPEATER "0"
  CU_WIRE_LENGTH "0"
  LWL_WIRE_LENGTH "0"
  PROFIBUS_TQUI "0"
  PROFIBUS_IDLE1 "37"
  PROFIBUS_IDLE2 "100"
  PROFIBUS_TSL "200"
  DLG_TSL_INIT "4124"
  TSET "1"
  MIN_TSDR "11"
  MAX_TSDR "100"
  AEQU_PAUSE_TIME "0"
  PROFIBUS_TTR "21831"
  WATCHDOG "43176"
  MIN_SLAVE "0"
  TTR_SLAVE_INT "682"
  DLG_CNT_REPEATER "0"
  DLG_CU_WIRE_LENGTH "0"
  DLG_CNT_OLM "0"
  DLG_LWL_WIRE_LENGTH "0"
  AEQU_PG_CNT "0"
  AEQU_MASTER_TIME_INP "0"
  AEQU_PG_TIME_INP "0"
  AEQU_DP_TIME_INP "0"
  DDB_TIME_PCI "26"
  TTH_STD "0"
  TAEQ_STD "0"
  AEQU_TDE "100"
  OPTICAL_RING "0"
  CREATOR ""
  COMMENT ""
  NET_ID_2 "00 7C 00 00 00 06"
  NET_ID "007C00000006"
  NET_CIR_LOCKED "0"
  TIME_SHORTCUT_OUTOF_RING "26"
  TIME_SHORTCUT_OUTOF_RING_V5SP3 "594"
  TIME_SHORTCUT_IN_RING "26"
  TIME_SHORTCUT_IN_RING_V5SP3 "16"
  BUSPROFILE_INTERVAL "208"
  BUSPROFILE_INTERVAL_V5SP3 "208"
  RETRY_IMMEDIATE "1"
  DCI_COUNTER "190"
  NONCYCLIC_REQUEST_CTR "2"
  NONCYCLIC_REQUEST_CTR_DIAG2 "2"
END 

SUBNET MPI , "MPI(2)"
BEGIN 
  MPI_HSA "31"
  MPI_BAUDRATE "187.5_KBPS"
  MPI_GAP "5"
  MPI_READY "20"
  MPI_RETRIES "2"
  MPI_IDLE1 "60"
  MPI_IDLE2 "400"
  MPI_TQUI "0"
  MPI_TSL "415"
  MPI_TTR "9984"
  CREATOR ""
  COMMENT ""
  NET_ID_2 "00 7C 00 00 00 01"
  NET_ID "007C00000001"
END 

RACK 0, "6ES7 390-1???0-0AA0", "UR"
BEGIN 
  ASSET_ID "DA08D247E2A5442698AED46D0B4B4939"
  OBJECT_REMOVEABLE "1"
  POS_X "10"
  POS_Y "10"
  SIZE_X "292"
  SIZE_Y "305"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
END 

RACK 0, SLOT 1, "6ES7 307-1EA00-0AA0", "PS 307 5A"
BEGIN 
  ASSET_ID "55CE5E6A00674559A24E19685E7CE52F"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
END 

RACK 0, SLOT 2, "6ES7 315-2AG10-0AB0" "V2.6", "CPU 315-2 DP"
BEGIN 
  ASSET_ID "40CF6617FEE5497881444A7D222DB4F3"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  CBA_USAGE "0"
  CAPABLE_F_SAFETY "0"
  OBJECT_REMOVEABLE "1"
  CAPABLE_FAILSAFE "0"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  KSS_CONNECTION "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  MPI_ADDRESS "2"
  COMMENT ""
  LINKED_SUBNETNAME "MPI(2)"
PARAMETER 
  COMMUNICATION, "20"
  UPDATE_PROCESS_IMAGE_TABLE_CYCLICALLY, "1"
  SIZE_OF_PROCESS_IMAGE, "0"
  CALL_OB85_ON_IO_ACCESS_ERROR, "DEFAULT_MODE"
  SCAN_CYCLE_MONITORING_TIME, "150"
  MINIMUM_SCAN_CYCLE_TIME, "0"
  SELF_TEST, "0"
  EXTENDED_FUNCTIONAL_SCOPE, "0"
  PROCESS_CONTROL_MESSAGING_ACTIVE, "0"
  DISPLAY_CAUSE_OF_STOP, "1"
  ACKNOWLEDGMENT_TRIGGERED_REPORTING_OF_SFB33_35, "0"
  PRIORITY_OB40, "16"
  PRIORITY_OB41, "17"
  PRIORITY_OB42, "18"
  PRIORITY_OB43, "19"
  PRIORITY_OB44, "20"
  PRIORITY_OB45, "21"
  PRIORITY_OB46, "22"
  PRIORITY_OB47, "23"
  PRIORITY_OB10, "2"
  PRIORITY_OB11, "2"
  PRIORITY_OB12, "2"
  PRIORITY_OB13, "2"
  PRIORITY_OB14, "2"
  PRIORITY_OB15, "2"
  PRIORITY_OB16, "2"
  PRIORITY_OB17, "2"
  ACTIVE_OB10, "0"
  ACTIVE_OB11, "0"
  ACTIVE_OB12, "0"
  ACTIVE_OB13, "0"
  ACTIVE_OB14, "0"
  ACTIVE_OB15, "0"
  ACTIVE_OB16, "0"
  ACTIVE_OB17, "0"
  EXECUTION_OB10, "NONE"
  EXECUTION_OB11, "NONE"
  EXECUTION_OB12, "NONE"
  EXECUTION_OB13, "NONE"
  EXECUTION_OB14, "NONE"
  EXECUTION_OB15, "NONE"
  EXECUTION_OB16, "NONE"
  EXECUTION_OB17, "NONE"
  START_DATE_OB10, "01/01/94"
  START_DATE_OB11, "01/01/94"
  START_DATE_OB12, "01/01/94"
  START_DATE_OB13, "01/01/94"
  START_DATE_OB14, "01/01/94"
  START_DATE_OB15, "01/01/94"
  START_DATE_OB16, "01/01/94"
  START_DATE_OB17, "01/01/94"
  START_TIME_OB10, "00:00:00:000"
  START_TIME_OB11, "00:00:00:000"
  START_TIME_OB12, "00:00:00:000"
  START_TIME_OB13, "00:00:00:000"
  START_TIME_OB14, "00:00:00:000"
  START_TIME_OB15, "00:00:00:000"
  START_TIME_OB16, "00:00:00:000"
  START_TIME_OB17, "00:00:00:000"
  PRIORITY_OB20, "3"
  PRIORITY_OB21, "4"
  PRIORITY_OB22, "5"
  PRIORITY_OB23, "6"
  PRIORITY_OB30, "7"
  PRIORITY_OB31, "8"
  PRIORITY_OB32, "9"
  PRIORITY_OB33, "10"
  PRIORITY_OB34, "11"
  PRIORITY_OB35, "12"
  PRIORITY_OB36, "13"
  PRIORITY_OB37, "14"
  PRIORITY_OB38, "15"
  EXECUTION_OB30, "5000"
  EXECUTION_OB31, "2000"
  EXECUTION_OB32, "1000"
  EXECUTION_OB33, "500"
  EXECUTION_OB34, "200"
  EXECUTION_OB35, "100"
  EXECUTION_OB36, "50"
  EXECUTION_OB37, "20"
  EXECUTION_OB38, "10"
  PHASE_OFFSET_OB30, "0"
  PHASE_OFFSET_OB31, "0"
  PHASE_OFFSET_OB32, "0"
  PHASE_OFFSET_OB33, "0"
  PHASE_OFFSET_OB34, "0"
  PHASE_OFFSET_OB35, "0"
  PHASE_OFFSET_OB36, "0"
  PHASE_OFFSET_OB37, "0"
  PHASE_OFFSET_OB38, "0"
  TIMESCALE_OB30, "MS"
  TIMESCALE_OB31, "MS"
  TIMESCALE_OB32, "MS"
  TIMESCALE_OB33, "MS"
  TIMESCALE_OB34, "MS"
  TIMESCALE_OB35, "MS"
  TIMESCALE_OB36, "MS"
  TIMESCALE_OB37, "MS"
  TIMESCALE_OB38, "MS"
  OPERATION, "TEST_OPERATION"
  PERMITTED_SCAN_CYCLE_TIME_INCREASE_DUE_TO_DEBUG_FUNCTIONS, "5"
  PLANT_DESIGNATION, ""
  LOCAL_DESIGNATION, ""
END 

RACK 0, SLOT 2, SUBSLOT 1, "_S7H_HSP_DP_ETCR_INTEGR_315_2AG10_FW26_CT", "DP"
AUTOCREATED 
BEGIN 
  ASSET_ID "7AB865A6D4F14D6185E701643CDB7B33"
  PROFIBUSADDRESS "2"
  LINKED_SUBNETNAME "HMI_PB"
  ALARM_OB_NO "40"
  __112411 ""
  DP_CLOCK_MODE "0"
  SLAVE_ACTIVE_PASSIVE "1"
  __112412 "0"
  DP_CLOCK_INT "0"
  OPT_BUSPAR "0"
  DP_MASTER_MODE "DP_MASTER"
  OBJECT_REMOVEABLE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  DP_VERSION "7"
  CAX_APP_ID ""
  L2_ADDR_EQUI_MASTER "255"
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
  INTERFACE_HARDENING "0"
LOCAL_IN_ADDRESSES 
  ADDRESS  2047, 0, 0, 0, 7, 0
END 

RACK 0, SLOT 4, "6ES7 322-1BL00-0AA0", "DO32xDC24V/0.5A"
BEGIN 
  ASSET_ID "0236503F563B40668A9566D14810BB85"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_OUT_ADDRESSES 
  ADDRESS  0, 0, 4, 0, 1, 0
END 

RACK 0, SLOT 5, "6ES7 322-1BL00-0AA0", "DO32xDC24V/0.5A"
BEGIN 
  ASSET_ID "1EF753AEB2774344811A89D2621A1943"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_OUT_ADDRESSES 
  ADDRESS  4, 0, 4, 0, 1, 0
END 

RACK 0, SLOT 6, "6ES7 321-1BL00-0AA0", "DI32xDC24V"
BEGIN 
  ASSET_ID "40C9AE31179F4AF9AA15E2E1BFDC95D0"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  8, 0, 4, 0, 1, 0
END 

RACK 0, SLOT 7, "6ES7 321-1BL00-0AA0", "DI32xDC24V"
BEGIN 
  ASSET_ID "5261720E8FB745A7B2022BFADBC81F93"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  12, 0, 4, 0, 1, 0
END 

RACK 0, SLOT 8, "6ES7 321-1BL00-0AA0", "DI32xDC24V"
BEGIN 
  ASSET_ID "DA0C9E536DBE4C2B9B1CC268AB9AA861"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  16, 0, 4, 0, 1, 0
END 

RACK 0, SLOT 9, "6ES7 331-7KF02-0AB0", "AI8x12Bit"
BEGIN 
  ASSET_ID "B5294D9D19644A0F9CAD64F09CC76288"
  DISABLE_SINGLE_SENSOR "0"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  336, 0, 16, 0, 1, 0
PARAMETER 
  LIMIT_VIOLATION, "0"
  DIAGNOSTICS, "0"
  INTEGRATION_TIME, AI , 0, "20_MS"
  INTEGRATION_TIME, AI , 1, "20_MS"
  INTEGRATION_TIME, AI , 2, "20_MS"
  INTEGRATION_TIME, AI , 3, "20_MS"
  AI_TYPE, AI , 0, "CURRENT_(2-WIRE_TRANSDUCER)"
  AI_TYPE, AI , 1, "CURRENT_(2-WIRE_TRANSDUCER)"
  AI_TYPE, AI , 2, "CURRENT_(2-WIRE_TRANSDUCER)"
  AI_TYPE, AI , 3, "CURRENT_(2-WIRE_TRANSDUCER)"
  AI_RANGE, AI , 0, "4_TO_20_MA"
  AI_RANGE, AI , 1, "4_TO_20_MA"
  AI_RANGE, AI , 2, "4_TO_20_MA"
  AI_RANGE, AI , 3, "4_TO_20_MA"
  UPPER_LIMIT_VALUE, AI , 0, "22.9624"
  UPPER_LIMIT_VALUE, AI , 1, "22.9624"
  LOWER_LIMIT_VALUE, AI , 0, "-14.963"
  LOWER_LIMIT_VALUE, AI , 1, "-14.963"
END 

RACK 0, SLOT 10, "6GK7 343-1EX30-0XE0" "V2.4", "CP 343-1"
BEGIN 
  ASSET_ID "15C1A3D94532407DB1A5964296DEE1AA"
  LOCAL_DESIGNATION_A ""
  CPU_NO "1"
  SNDRCV_DATALEN_GR240 "0"
  ALARM_OB_NO "40"
  PRAL_NOT_SUPPORTED "1"
  PLANT_DESIGNATION_A ""
  __112411 ""
  __112412 "0"
  H_PROFILE "0"
  MAX_FDL_CON "0"
  MAX_FMS_CON "0"
  SDB_CARRIER "0"
  TIME_SYNC_DIR "3"
  SNDRCV_CONN_PREFIX "0"
  TIME_SYNC_CORRECTION "0"
  WEB_SERVER_ACTIVE "1"
  SNMP_ACTIVE "1"
  DEACTIVATE_UDP_BUFFERING "1"
  OBJECT_REMOVEABLE "1"
  CP_FAST_SEND_RECV "0"
  IRT_DOMAIN_NAME "syncdomain-default"
  POS_X "0"
  TIME_SYNC_PASSING "0"
  POS_Y "0"
  SIZE_X "0"
  ETHERNET_KEEP_ALIVE "30"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  TIMESYNC_NTP_ACTIVE "0"
  KSS_CONNECTION "0"
  PROTECTION_MODE_LEVEL "0"
  TIMESYNC_NTP_SERVER_ADDR "08 00 00 00 EE 00 00 00"
  IP_ACL_EXT ""
  TIMESYNC_NTP_TIMEZONE "60"
  CAX_APP_ID ""
  TIMESYNC_NTP_INTERVAL "60"
  SIMATIC_TAKEOVER "0"
  OBJECT_COPYABLE "1"
  DEVICE_MUST_BE_COUPLED "1"
  OP_MUX_ENABLE "0"
  CREATOR ""
  MPI_ADDRESS "3"
  COMMENT ""
  TIMESYNC_NTP_ACTIVE_NEW "0"
  IP_ACL_ACTIVE "0"
  LINKED_SUBNETNAME "MPI(2)"
LOCAL_IN_ADDRESSES 
  ADDRESS  352, 0, 16, 0, 1, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  352, 0, 16, 0, 1, 0
END 

RACK 0, SLOT 10, SUBSLOT 1, "_S7H_CP_343_1EX30__V24_IO_CONTROLLER_CT", "PN-IO"
AUTOCREATED 
BEGIN 
  ASSET_ID "5A903E1400314F2CAA5350BEEB6F0A3D"
  MACADDRESS "080006010000"
  IPACTIVE "1"
  IPADDRESS "AC10016E"
  SUBNETMASK "FFFFFF00"
  ROUTERADDRESS "AC10016E"
  ROUTERACTIVE "0"
  LINKED_SUBNETNAME "Ethernet(1)"
  ISOACTIVE "0"
  CPU_NO "1"
  IRT_DETERMINATION_LEVEL "1"
  ALARM_OB_NO "40"
  IP_ADDRESS_VALIDATION_ID "0"
  IRT_SYNC_FLAG "65280"
  IP_DHCP_CLIENT_ID ""
  COUPLING_UID ""
  SECURITY_SERVER_ADDR ""
  PN_MAX_IRT_LINE_DEPTH "0"
  PN_CALCULATE_MAX_IRT_LINE "1"
  IRT_PN_USER_RATIO "30"
  MRP_CONFIGURATION "mrpdomain-1	0"
  DEVICE_NAME "PN-IO"
  IRT_PTCP_SUBDOMAIN_ID_DATA ""
  PN_RT_SENDCLOCKFAKTOR "32"
  PN_MIN_VERSION ""
  EXCHANGE_WITHOUT_MMC "1"
  IRT_PTCP_SUBDOMAIN_ID_HASH ""
  GUI_HIDE "0"
  OBJECT_REMOVEABLE "0"
  PN_ALARM_FILTER "394768"
  IRT_BANDWIDTH_OVERRIDE_ALLOWED "0"
  USED_FOR_CBA "0"
  DECENTRAL_PDEV "0"
  IRT_OPTIMIZATION_STRUCT ""
  IRT_DOMAIN_NAME "syncdomain-default"
  POS_X "0"
  SHARED_DEVICE_SUPPORTED "0"
  IRT_SENDCLOCK_FACTOR "32"
  POS_Y "0"
  MRP_DIAGNOSIS "0"
  PN_IDEVICE_SETTINGS ""
  SIZE_X "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  PNIO_DEVICE_MODE "0"
  IRT_PN_RATIO "40"
  OBJECT_COPYABLE "0"
  CREATOR ""
  LEGACY_LLDP_ENABLED "0"
  COMMENT ""
  IS_DECENTRAL_PDEV_ENABLED "0"
  IRT_STARTTIMETX "0"
  INTERFACE_HARDENING "0"
  ETHERNET_MED_DUP "8"
  IRT_SYNC_WHOLE_DEVICE "1"
  IRT_GROUP_NR "1"
  IP_CONFIG_MODES "0"
LOCAL_IN_ADDRESSES 
  ADDRESS  1023, 0, 0, 0, 1, 0
END 

RACK 0, SLOT 10, SUBSLOT 2, "_S7H_IRT_PORT_SUBMODULE_343_1EX30_V24_IOCONTROLLER_CT", "Port 1"
AUTOCREATED 
BEGIN 
  ASSET_ID "4B0F7EC2BBDC4F1A8225E001E63A20B5"
  IRT_FIBEROPTIC_CABLETYPE "0"
  LINE_COMMENT ""
  LINK_STATE_DIAG_NEW_VERSION "0"
  ALARM_OB_NO "40"
  LINE_DELAY "600"
  S7H_IRT_PORT_THRESHOLD_SFP_L "0"
  S7H_IRT_PORT_TXF_SFP_L "0"
  S7H_IRT_PORT_RXL_SFP_L "0"
  LINK_STATE_DIAG_REQUIRE "0"
  ETH_MEDIUM_RUNTIME_CHECK "1"
  PORT_DEACTIVATED "0"
  MRP_DOMAIN ""
  PORT_DOMAIN_BOUNDARY "0"
  PN_MIN_VERSION ""
  GUI_HIDE "0"
  OBJECT_REMOVEABLE "0"
  PORT_DCP_BOUNDARY "0"
  POS_X "0"
  PORT_LLDP_BOUNDARY "0"
  POS_Y "0"
  PN_RINGSTATUS_STRUCT ""
  SIZE_X "0"
  IRT_LINE_RX_DELAY "0"
  SIZE_Y "0"
  PNDX_MODE "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  CREATOR ""
  COMMENT ""
  MULTICAST_BOUNDARY "0"
  ETHERNET_MED_DUP "8"
  IRT_FIBEROPTIC_TYPE "0"
  LINE_DELAY_SELECTOR "0"
  IRT_GROUP_NR "1"
LOCAL_IN_ADDRESSES 
  ADDRESS  1022, 0, 0, 0, 0, 0
END 

RACK 0, SLOT 10, SUBSLOT 3, "_S7H_IRT_PORT_SUBMODULE_343_1EX30_V24_IOCONTROLLER_CT", "Port 2"
AUTOCREATED 
BEGIN 
  ASSET_ID "6B07D4161EA44491805FB89142712D77"
  IRT_FIBEROPTIC_CABLETYPE "0"
  LINE_COMMENT ""
  LINK_STATE_DIAG_NEW_VERSION "0"
  ALARM_OB_NO "40"
  LINE_DELAY "600"
  S7H_IRT_PORT_THRESHOLD_SFP_L "0"
  S7H_IRT_PORT_TXF_SFP_L "0"
  S7H_IRT_PORT_RXL_SFP_L "0"
  LINK_STATE_DIAG_REQUIRE "0"
  ETH_MEDIUM_RUNTIME_CHECK "1"
  PORT_DEACTIVATED "0"
  MRP_DOMAIN ""
  PORT_DOMAIN_BOUNDARY "0"
  PN_MIN_VERSION ""
  GUI_HIDE "0"
  OBJECT_REMOVEABLE "0"
  PORT_DCP_BOUNDARY "0"
  POS_X "0"
  PORT_LLDP_BOUNDARY "0"
  POS_Y "0"
  PN_RINGSTATUS_STRUCT ""
  SIZE_X "0"
  IRT_LINE_RX_DELAY "0"
  SIZE_Y "0"
  PNDX_MODE "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  CREATOR ""
  COMMENT ""
  MULTICAST_BOUNDARY "0"
  ETHERNET_MED_DUP "8"
  IRT_FIBEROPTIC_TYPE "0"
  LINE_DELAY_SELECTOR "0"
  IRT_GROUP_NR "1"
LOCAL_IN_ADDRESSES 
  ADDRESS  1021, 0, 0, 0, 0, 0
END 

