FILEVERSION "3.2"
#STEP7_VERSION V5.7 + SP3
#CREATED "piatok 20. februára 2026   15:04:25"

STATION S7300 , "RM4"
BEGIN 
  ASSET_ID "D86BBFD9D241461DB9D02E5E4300677A"
  USED_S7_VERSIONS "35 2E 35 2E 32 2E 30 5F 31 35 2E 34 2E 30 2E 31 7C 35 2E 35 2E 33 2E 30 5F 32 36 2E 36 2E 30 2E 31 7C 00"
  REPORT_SYSTEM_ERRORS "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CIR_WARNING "0"
  CREATOR ""
  COMMENT ""
END 

SUBNET MPI , "MPI_RM4"
BEGIN 
  MPI_HSA "31"
  MPI_BAUDRATE "187.5_KBPS"
  MPI_GAP "5"
  MPI_READY "20"
  MPI_RETRIES "2"
  MPI_IDLE1 "60"
  MPI_IDLE2 "400"
  MPI_TQUI "0"
  MPI_TSL "415"
  MPI_TTR "9984"
  CREATOR ""
  COMMENT ""
  NET_ID_2 "00 1B 00 00 00 01"
  NET_ID "001B00000001"
END 

RACK 0, "6ES7 390-1???0-0AA0", "UR"
BEGIN 
  ASSET_ID "BC56D188B996459E81ADD07E1C7EBB18"
  OBJECT_REMOVEABLE "1"
  POS_X "62"
  POS_Y "74"
  SIZE_X "375"
  SIZE_Y "241"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
END 

RACK 0, SLOT 2, "6ES7 312-1AE14-0AB0" "V3.0", "CPU 312"
BEGIN 
  ASSET_ID "ECAF9F397AA444E7970521BCAC023DDA"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  CBA_USAGE "0"
  CAPABLE_F_SAFETY "0"
  OBJECT_REMOVEABLE "1"
  CAPABLE_FAILSAFE "0"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  KSS_CONNECTION "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  MPI_ADDRESS "2"
  COMMENT ""
  LINKED_SUBNETNAME "MPI_RM4"
PARAMETER 
  CLOCK_MEMORY, "1"
  MEMORY_BYTE, "1"
  PLANT_DESIGNATION, ""
  LOCAL_DESIGNATION, ""
END 

RACK 0, SLOT 4, "6ES7 323-1BL00-0AA0", "DI16/DO16x24V/0.5A"
BEGIN 
  ASSET_ID "90C85FDA6B7044C6A8D96E20C5B72EA7"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  0, 0, 2, 0, 1, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  0, 0, 2, 0, 1, 0
SYMBOL  I , 0, "KM01", "Silovy obvod dopravnikov zapnuty"
SYMBOL  I , 1, "SB10", "Start aut rezimu dopravnikov"
SYMBOL  I , 2, "SB11", "Stop aut rezimu dopravnikov"
SYMBOL  I , 3, "NZ1", "tlaèidlo NZ1 zatlacene"
SYMBOL  I , 4, "SB3-SB4", "blokovanie dopravnikov zatlacene"
SYMBOL  I , 5, "FA1-FA3", "porucha menica M1 az M3"
SYMBOL  I , 6, "BQ1", "prebytok produktu na D1"
SYMBOL  I , 7, "BQ2", "karton na vahe"
SYMBOL  I , 8, "BQ3", "karton v zalepovacke"
SYMBOL  I , 9, "SI4", "unasac v pozicii"
SYMBOL  I , 10, "CR_DI_Vaha_Kar_Stab", "vaha kartonu - hmotnost stabilna 1= stabilna"
SYMBOL  I , 11, "CR_DI_Vaha_Kar_ok", "vaha kartonu - hmotnost ok 1= Ok"
SYMBOL  I , 12, "SA2", "prepinac nabeh vyroby"
SYMBOL  I , 13, "CR_DI_Vaha_pod", "podvaha na vahe"
SYMBOL  I , 14, "CR_DI_Vaha_nad", "nadvaha na vahe"
SYMBOL  I , 15, "CR_DI_Rezerva03", ""
SYMBOL  O , 0, "HL11", "porucha na linke"
SYMBOL  O , 1, "HL12", "vystraha na linke"
SYMBOL  O , 2, "HL13", "rezim na linke"
SYMBOL  O , 3, "HA14", "akus. signalizacia na linke"
SYMBOL  O , 4, "chod_M1_vpred", "chod D1 vpred"
SYMBOL  O , 5, "chod_M1_vzad", "chod D1 vzad"
SYMBOL  O , 6, "chod_M2", "chod D2"
SYMBOL  O , 7, "chod_M3", "chod D3"
SYMBOL  O , 8, "chod_M3_brzda", "ovladanie brzdy motora M3"
SYMBOL  O , 9, "CR_DO_NZ", "dopravniky maju NZ"
SYMBOL  O , 10, "chod_M2.1", "chod M2.1"
SYMBOL  O , 11, "chod_M2_brzda", "ovladanie brzdy motora 2"
SYMBOL  O , 12, "chod_M2aM21_rychlost1", ""
SYMBOL  O , 13, "chod_M2aM21_rychlost2", ""
SYMBOL  O , 14, "CR_DO_Rezerva05", ""
SYMBOL  O , 15, "CR_DO_Rezerva06", ""
END 

