FILEVERSION "3.2"
#STEP7_VERSION V5.7 + SP3
#CREATED "piatok 20. februára 2026   15:08:24"

STATION S7300 , "RM5"
BEGIN 
  ASSET_ID "B558ECF2834344AAB2EB687FA1899A9C"
  USED_S7_VERSIONS "35 2E 35 2E 33 2E 30 5F 32 36 2E 36 2E 30 2E 31 7C 35 2E 37 2E 32 2E 31 5F 33 2E 31 2E 30 2E 31 7C 00"
  REPORT_SYSTEM_ERRORS "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CIR_WARNING "0"
  CREATOR ""
  COMMENT ""
END 

SUBNET INDUSTRIAL_ETHERNET , "Ethernet(1)"
BEGIN 
  CREATOR ""
  COMMENT ""
  NET_ID_2 "01 23 00 00 00 21"
  NET_ID "012300000021"
END 

SUBNET MPI , "MPI_RM5"
BEGIN 
  MPI_HSA "31"
  MPI_BAUDRATE "187.5_KBPS"
  MPI_GAP "5"
  MPI_READY "20"
  MPI_RETRIES "2"
  MPI_IDLE1 "60"
  MPI_IDLE2 "400"
  MPI_TQUI "0"
  MPI_TSL "415"
  MPI_TTR "9984"
  CREATOR ""
  COMMENT ""
  NET_ID_2 "00 1B 00 00 00 08"
  NET_ID "001B00000008"
END 

RACK 0, "6ES7 390-1???0-0AA0", "UR"
BEGIN 
  ASSET_ID "1C4BEFA4C5FC4D37828A23399053C39E"
  OBJECT_REMOVEABLE "1"
  POS_X "35"
  POS_Y "23"
  SIZE_X "625"
  SIZE_Y "372"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
END 

RACK 0, SLOT 2, "6ES7 314-1AG14-0AB0" "V3.3", "CPU 314"
BEGIN 
  ASSET_ID "2A537F3BB9064DF7860DBF6F736A13C1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  CBA_USAGE "0"
  CAPABLE_F_SAFETY "0"
  OBJECT_REMOVEABLE "1"
  CAPABLE_FAILSAFE "0"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  KSS_CONNECTION "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  MPI_ADDRESS "2"
  COMMENT ""
  LINKED_SUBNETNAME "MPI_RM5"
PARAMETER 
  CLOCK_MEMORY, "1"
  MEMORY_BYTE, "1"
  PLANT_DESIGNATION, ""
  LOCAL_DESIGNATION, ""
END 

RACK 0, SLOT 4, "6ES7 321-1BH02-0AA0", "DI16xDC24V"
BEGIN 
  ASSET_ID "86DF7CAD885248109D5BF79514810B57"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  0, 0, 2, 0, 1, 0
SYMBOL  I , 0, "KANZ", "Bezpecnostny obvod zapnuty"
SYMBOL  I , 1, "SB2", "Zapnutie aut. rezimu"
SYMBOL  I , 2, "SB3", "Vypnutie aut. Rezimu"
SYMBOL  I , 3, "NZ1", "tlaèidlo NZ1 zatlacene"
SYMBOL  I , 4, "SB02", "blokovanie dopravnikov zatlacene"
SYMBOL  I , 5, "GZ1-3", "porucha menica GZ1-3"
SYMBOL  I , 6, "GZ4-7", "porucha menica GZ4-7"
SYMBOL  I , 7, "CR_DI_Ishida_produkt", "Ishida poziadavka produktu"
SYMBOL  I , 8, "SB22", "nabeh vyroby balicka 1"
SYMBOL  I , 9, "SB23", "nabeh vyroby balicka 2"
SYMBOL  I , 10, "SB24", "nabeh vyroby balicka 3"
SYMBOL  I , 11, "CR_DI_RM1_rezerva01", "rezerva"
SYMBOL  I , 12, "CR_DI_RM1_rezerva02", "rezerva"
SYMBOL  I , 13, "CR_DI_RM1_rezerva03", "rezerva"
SYMBOL  I , 14, "CR_DI_RM1_rezerva04", "rezerva"
SYMBOL  I , 15, "Odsavac_Mot.och.Fdbck", "Odsavac obalov - Motorova ochrana feedback"
END 

RACK 0, SLOT 5, "6ES7 322-1BL00-0AA0", "DO32xDC24V/0.5A"
BEGIN 
  ASSET_ID "A80C8A1DA3D1446EBC52DC4497A93D67"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_OUT_ADDRESSES 
  ADDRESS  0, 0, 4, 0, 1, 0
SYMBOL  O , 0, "HL1", "signalizacia bezp. Obvodu"
SYMBOL  O , 1, "HL11", "porucha na linke"
SYMBOL  O , 2, "HL12", "vystraha na linke"
SYMBOL  O , 3, "HL13", "rezim na linke"
SYMBOL  O , 4, "HA14", "akus. signalizacia na linke"
SYMBOL  O , 5, "chod_M1", "chod PD1"
SYMBOL  O , 6, "chod_M2", "chod PD2"
SYMBOL  O , 7, "chod_M3", "chod PD3"
SYMBOL  O , 8, "chod_M4", "chod PD4"
SYMBOL  O , 9, "chod_M5", "chod PD5"
SYMBOL  O , 10, "chod_M6", "chod PD6"
SYMBOL  O , 11, "chod_M7", "chod PD7"
SYMBOL  O , 12, "CR_DO_Bosch1_M1_ide", "dopravník za balièkou 1 ide"
SYMBOL  O , 13, "CR_DO_Bosch1_M1_NZ", "dopravník za balièkou 1 NZ"
SYMBOL  O , 14, "CR_DO_Bosch2_M2_ide", "dopravník za balièkou 2 ide"
SYMBOL  O , 15, "CR_DO_Bosch2_M2_NZ", "dopravník za balièkou 2 NZ"
SYMBOL  O , 16, "CR_DO_Bosch3_M3_ide", "dopravník za balièkou 3 ide"
SYMBOL  O , 17, "CR_DO_Bosch3_M3_NZ", "dopravník za balièkou 3 NZ"
SYMBOL  O , 18, "HL22", "Nabeh vyroby balicka 1 zapnuty"
SYMBOL  O , 19, "HL23", "Nabeh vyroby balicka 2 zapnuty"
SYMBOL  O , 20, "HL24", "Nabeh vyroby balicka 3 zapnuty"
SYMBOL  O , 21, "CR_DO_RM1_rezerva01", "rezerva"
SYMBOL  O , 22, "CR_DO_RM1_rezerva02", "rezerva"
SYMBOL  O , 23, "CR_DO_RM1_rezerva03", "rezerva"
SYMBOL  O , 24, "Odsavac_Obalov", "Odsavac obalov"
SYMBOL  O , 25, "RM5_rezerva_Q02", "rezerva"
SYMBOL  O , 26, "RM5_rezerva_Q03", "rezerva"
SYMBOL  O , 27, "RM5_rezerva_Q04", "rezerva"
SYMBOL  O , 28, "RM5_rezerva_Q05", "rezerva"
SYMBOL  O , 29, "RM5_rezerva_Q06", "rezerva"
SYMBOL  O , 30, "RM5_rezerva_Q07", "rezerva"
SYMBOL  O , 31, "RM5_rezerva_Q08", "rezerva"
END 

RACK 0, SLOT 6, "6GK7 343-1CX00-0XE0" "V1.0", "CP 343-1 Lean"
BEGIN 
  ASSET_ID "FE674666FC604F609FC6B41AB5BB1553"
  MACADDRESS "080006010000"
  IPACTIVE "1"
  IPADDRESS "AC100734"
  SUBNETMASK "FFFF0000"
  ROUTERADDRESS "AC100001"
  ROUTERACTIVE "1"
  LINKED_SUBNETNAME "Ethernet(1)"
  ISOACTIVE "0"
  CPU_NO "1"
  SNDRCV_DATALEN_GR240 "0"
  ALARM_OB_NO "40"
  PRAL_NOT_SUPPORTED "0"
  IP_ADDRESS_VALIDATION_ID "0"
  IP_DHCP_CLIENT_ID ""
  __112411 ""
  __112412 "0"
  H_PROFILE "0"
  MAX_FDL_CON "0"
  MAX_FMS_CON "0"
  SDB_CARRIER "0"
  TIME_SYNC_DIR "0"
  SNDRCV_CONN_PREFIX "0"
  TIME_SYNC_CORRECTION "0"
  SNMP_ACTIVE "1"
  OBJECT_REMOVEABLE "1"
  CP_FAST_SEND_RECV "0"
  POS_X "0"
  TIME_SYNC_PASSING "0"
  POS_Y "0"
  ETHERNET_MEDIUM_DUPLEX "8"
  SIZE_X "0"
  ETHERNET_KEEP_ALIVE "30"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  TIMESYNC_NTP_ACTIVE "1"
  KSS_CONNECTION "0"
  TIMESYNC_NTP_SERVER_ADDR "19 00 00 00 EE 00 01 00 04 C0 A8 64 64 00 00 00 00 00 00 00 00 00 00 00 00"
  TIMESYNC_NTP_TIMEZONE "196668"
  CAX_APP_ID ""
  TIMESYNC_NTP_INTERVAL "3600"
  SIMATIC_TAKEOVER "0"
  OBJECT_COPYABLE "1"
  DEVICE_MUST_BE_COUPLED "1"
  CREATOR ""
  MPI_ADDRESS "4"
  COMMENT ""
  TIMESYNC_NTP_ACTIVE_NEW "1"
LOCAL_IN_ADDRESSES 
  ADDRESS  288, 0, 16, 0, 1, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  288, 0, 16, 0, 1, 0
END 

