FILEVERSION "3.2"
#STEP7_VERSION V5.7 + SP3
#CREATED "pondelok 23. februára 2026   12:37:09"

STATION S7300 , "RM20_Podusky"
BEGIN 
  ASSET_ID "23D021F5AD974BF398B81FDA89A899A9"
  USED_S7_VERSIONS "35 2E 34 2E 33 2E 30 5F 39 2E 35 2E 30 2E 31 7C 35 2E 34 2E 35 2E 30 5F 31 32 2E 36 2E 30 2E 31 7C 35 2E 35 2E 34 2E 30 5F 33 31 2E 31 2E 30 2E 31 7C 00"
  REPORT_SYSTEM_ERRORS "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CIR_WARNING "0"
  CREATOR ""
  COMMENT ""
END 

SUBNET PROFIBUS , "PROFIBUS_RM20"
BEGIN 
  PROFIBUS_HSA "126"
  PROFIBUS_BAUDRATE "1.5_MBPS"
  PROFIBUS_RETRIES "1"
  PROFIBUS_GAP "10"
  PROFIBUS_READY "11"
  PROFILE_SELECTION "DP"
  NETCONFIG_ENABLE "0"
  NETCONFIG_AKTIV "1"
  NETCONFIG_PASSIV "2"
  NETCONFIG_XYZ "2"
  CNT_ACT_NODES "1"
  CNT_PAS_NODES "2"
  CNT_XYZ_NODES "2"
  OLM_CONFIG_ENABLE "0"
  AEQU_ENABLE "0"
  BROADCAST_ENABLE "0"
  NETCONFIG_BUSLAST "MEDIUM"
  PROFILE_OPTIMIZATION "0"
  OPTIMIZE_TSLOT "0"
  OPTIMIZE_CONF "0"
  AEQU_CLOCK_ENABLE "0"
  AEQU_CLOCK_TI "0"
  AEQU_CLOCK_TO "0"
  AEQU_DP_BASE "0.001_MS"
  AEQU_SLAVE_BASE "0.001_MS"
  AEQU_CLOCK_TI_MIN "0"
  AEQU_CLOCK_TO_MIN "0"
  AEQU_CLOCK_DP_MAX "32000000"
  AEQU_CLOCK_TITO_MIN "0"
  AEQU_CLOCK_DP_MIN "0"
  AEQU_PROFILE "1"
  CNT_OLM "0"
  CNT_REPEATER "0"
  CU_WIRE_LENGTH "0"
  LWL_WIRE_LENGTH "0"
  PROFIBUS_TQUI "0"
  PROFIBUS_IDLE1 "37"
  PROFIBUS_IDLE2 "150"
  PROFIBUS_TSL "300"
  DLG_TSL_INIT "300"
  TSET "1"
  MIN_TSDR "11"
  MAX_TSDR "150"
  AEQU_PAUSE_TIME "0"
  PROFIBUS_TTR "32538"
  WATCHDOG "79950"
  MIN_SLAVE "150"
  TTR_SLAVE_INT "2757"
  DLG_CNT_REPEATER "0"
  DLG_CU_WIRE_LENGTH "0"
  DLG_CNT_OLM "0"
  DLG_LWL_WIRE_LENGTH "0"
  AEQU_PG_CNT "0"
  AEQU_MASTER_TIME_INP "0"
  AEQU_PG_TIME_INP "0"
  AEQU_DP_TIME_INP "0"
  DDB_TIME_PCI "16"
  TTH_STD "0"
  TAEQ_STD "0"
  AEQU_TDE "1804"
  OPTICAL_RING "0"
  CREATOR ""
  COMMENT "RM20"
  NET_ID_2 "00 33 00 00 00 8D"
  NET_ID "00330000008d"
  NET_CIR_LOCKED "0"
  TIME_SHORTCUT_OUTOF_RING "16"
  TIME_SHORTCUT_OUTOF_RING_V5SP3 "296"
  TIME_SHORTCUT_IN_RING "16"
  TIME_SHORTCUT_IN_RING_V5SP3 "8"
  BUSPROFILE_INTERVAL "0"
  BUSPROFILE_INTERVAL_V5SP3 "0"
  RETRY_IMMEDIATE "1"
  DCI_COUNTER "87"
  NONCYCLIC_REQUEST_CTR "2"
  NONCYCLIC_REQUEST_CTR_DIAG2 "2"
END 

RACK 0, "6ES7 390-1???0-0AA0", "UR"
BEGIN 
  ASSET_ID "124895CEEEB44171859864CFC027DC84"
  OBJECT_REMOVEABLE "1"
  POS_X "4"
  POS_Y "31"
  SIZE_X "202"
  SIZE_Y "223"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
END 

RACK 0, SLOT 2, "6ES7 313-6CE01-0AB0" "V2.0", "CPU 313C-2 DP"
BEGIN 
  ASSET_ID "C3E78C6865474CB985594F3C5F4416F1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  CBA_USAGE "0"
  OBJECT_REMOVEABLE "1"
  CAPABLE_FAILSAFE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  KSS_CONNECTION "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  MPI_ADDRESS "2"
  COMMENT ""
PARAMETER 
  CLOCK_MEMORY, "1"
  MEMORY_BYTE, "250"
END 

RACK 0, SLOT 2, SUBSLOT 1, "_S7H_SUBMODULE_313_6CE01_FW20_DP_CT", "DP"
AUTOCREATED 
MASTER DPSUBSYSTEM 3, "PROFIBUS_RM20", DPADDRESS 2
BEGIN 
  ASSET_ID "DC672F0DF6A943678D98E7061623D269"
  PROFIBUSADDRESS "2"
  LINKED_SUBNETNAME "PROFIBUS_RM20"
  ALARM_OB_NO "40"
  __112411 ""
  DP_CLOCK_MODE "0"
  SLAVE_ACTIVE_PASSIVE "0"
  __112412 "0"
  DP_CLOCK_INT "0"
  OPT_BUSPAR "0"
  DP_MASTER_MODE "DP_MASTER"
  OBJECT_REMOVEABLE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  DP_VERSION "7"
  CAX_APP_ID ""
  L2_ADDR_EQUI_MASTER "255"
  OBJECT_COPYABLE "0"
  CREATOR ""
  COMMENT ""
  INTERFACE_HARDENING "0"
LOCAL_IN_ADDRESSES 
  ADDRESS  1023, 0, 0, 0, 0, 0
END 

RACK 0, SLOT 2, SUBSLOT 2, "_S7H_SUBMODULE_313_6CE00_DIGITAL_CT", "DI16/DO16"
AUTOCREATED 
BEGIN 
  ASSET_ID "565EDC57CED6489790F81333FA858368"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  124, 0, 2, 0, 0, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  124, 0, 2, 0, 0, 0
SYMBOL  I , 0, "IG1-A", "rezerva - snímaè polohy"
SYMBOL  I , 1, "IG1-B", "rezerva - snímaè polohy"
SYMBOL  I , 2, "E124.2_REZ", "rezerva"
SYMBOL  I , 3, "20SE1", "Pokládání podušek horní poloha - pøísavky  u zásobníku"
SYMBOL  I , 4, "20SE2", "Pokládání podušek dolní poloha - pøísavky nad dopravníkem"
SYMBOL  I , 5, "20SE3", "Minimum zásobník"
SYMBOL  I , 6, "E124.6_REZ", ""
SYMBOL  I , 7, "E124.7_REZ", "Nulový bod unašeèù M50"
SYMBOL  I , 8, "QM22", "Motorová ochrana vakuové pumpy OK"
SYMBOL  I , 9, "S1", "Tlaèítko STOP - poduskovacka"
SYMBOL  I , 10, "SL2", "Tlaèítko START - poduskovacka"
SYMBOL  I , 11, "SL3", "Tlaèítko Potvrzení poruchy - poduskovacka"
SYMBOL  I , 12, "SN1", "Nouzový stop aktivní"
SYMBOL  I , 13, "SGP1", "Tlak v pneumatickém okruhu stroje OK"
SYMBOL  I , 14, "20KN1_OK", "Okruh nouzovìho stopu stroje OK"
SYMBOL  I , 15, "20KN2_OK", "Okruch ochranných krytù stroje  OK"
SYMBOL  O , 0, "HL2", "Kontrolka START"
SYMBOL  O , 1, "HL3", "Porucha - kontrolka na panelu"
SYMBOL  O , 2, "HSLG", "Semafor zelená"
SYMBOL  O , 3, "HSLO", "Semafor oranžová"
SYMBOL  O , 4, "HSLR", "Semafor èervená"
SYMBOL  O , 5, "REZQ124.5", ""
SYMBOL  O , 6, "K1", "Potvrzení obvodu krytù stroje"
SYMBOL  O , 7, "KA2", "Stroj v chodu pro externí zaøízení"
SYMBOL  O , 8, "HU1", "Houkaèka"
SYMBOL  O , 9, "HU2", "Houkaèka"
SYMBOL  O , 10, "QREZ125.2", "Rezerva"
SYMBOL  O , 11, "QREZ125.3", "Rezerva"
SYMBOL  O , 12, "QREZ125.4", "Rezerva"
SYMBOL  O , 13, "QREZ125.5", "Rezerva"
SYMBOL  O , 14, "QREZ125.6", "Rezerva"
SYMBOL  O , 15, "QREZ125.7", "Rezerva"
END 

RACK 0, SLOT 2, SUBSLOT 4, "_S7H_SUBMODULE_313_6CE01_COUNT_CT", "Count"
AUTOCREATED 
BEGIN 
  ASSET_ID "CF60799B094C4FE0A4912FA00FE19063"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  768, 0, 16, 0, 0, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  768, 0, 16, 0, 0, 0
PARAMETER 
  GENERATE_INTERRUPT, "NONE"
  SELECT_INTERRUPT, "NONE"
  TECHNOLOGY_CHANNEL0, "COUNT"
  TECHNOLOGY_CHANNEL1, "NONE"
  TECHNOLOGY_CHANNEL2, "NONE"
  TECHNOLOGY_CHANNEL3, "NONE"
  DATASET, "80 00 00 00 01 00 00 00 00 03 00 00 00 01 00 02 00 00 00 00 00 01 00 00 4E 20 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 1E 03 0A 03 00 00 00 00 00 00 00 00"
END 

RACK 0, SLOT 4, "6ES7 323-1BL00-0AA0", "DI16/DO16x24V/0.5A"
BEGIN 
  ASSET_ID "41479A72ED734086B8AB3D14AFA8DF8C"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  0, 0, 2, 0, 1, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  0, 0, 2, 0, 1, 0
SYMBOL  I , 0, "SN2.1", "Nouzový STOP - zásobník"
SYMBOL  I , 1, "SN3.1", "Nouzový STOP - výstup"
SYMBOL  I , 2, "1SN4.1", "Nouzový STOP -"
SYMBOL  I , 3, "1SN5.1", "Nouzový STOP -"
SYMBOL  I , 4, "SG1.1", "Kryty levé spodní"
SYMBOL  I , 5, "SG2.1", "Kryty pravé spodní"
SYMBOL  I , 6, "SG3.1", "Kryty pøední - horní"
SYMBOL  I , 7, "SG4.1", "Kryty - rezerva"
SYMBOL  I , 8, "20ST1", "Posun zásobníku podušek"
SYMBOL  I , 9, "20ST2", "Krabièka u stoperu 1"
SYMBOL  I , 10, "20ST3", "Krabièka u stoperu 2 - u vložení podušky"
SYMBOL  I , 11, "20ST4", "Pøisátá poduška"
SYMBOL  I , 12, "20ST5", "Maximum na výjezdu"
SYMBOL  I , 13, "20ST6", ""
SYMBOL  I , 14, "20ST7", ""
SYMBOL  I , 15, "20ST8", ""
SYMBOL  O , 0, "KM22", "vakuová pumpa"
SYMBOL  O , 1, "RESET_24V", "Reset poruchy  na napájení 24VDC"
SYMBOL  O , 2, "QREZ0.2", "Rezerva"
SYMBOL  O , 3, "QREZ0.3", "Rezerva"
SYMBOL  O , 4, "QREZ0.4", "Rezerva"
SYMBOL  O , 5, "QREZ0.5", "Rezerva"
SYMBOL  O , 6, "E-S_OK", "Bezpeènostní okruh OK a zapnutý stroj"
SYMBOL  O , 7, "AUTO_RUN_RM20", "Automatický chod - pro prùchozí dopravník M73"
SYMBOL  O , 8, "20YP0", "Hlavní ventil > pøívodu tlakového vzduchu"
SYMBOL  O , 9, "20YV1", "Pøisávání v zásobníku podušek"
SYMBOL  O , 10, "20YP1", "Stoper na vstupu stroje"
SYMBOL  O , 11, "20YP2", "Stoper - pøidržení krabice ve stroji"
SYMBOL  O , 12, "20YP3", "Stoper na výstupu stroje"
SYMBOL  O , 13, "QREZ1.5", ""
SYMBOL  O , 14, "QREZ1.6", ""
SYMBOL  O , 15, "QREZ1.7", ""
END 

RACK 0, SLOT 5, "6ES7 321-1BH02-0AA0", "DI16xDC24V"
BEGIN 
  ASSET_ID "4CF35C7AEC5A43B5A29104CBC8EF8A40"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  4, 0, 2, 0, 1, 0
SYMBOL  I , 0, "20KA1", "Chod balící linky za strojem"
SYMBOL  I , 1, "BT1", "Vysoká teplota RM20"
SYMBOL  I , 2, "24VDC_OK", "Kontrola napájecího zdroje 24V"
SYMBOL  I , 3, "E4.3_REZ", ""
SYMBOL  I , 4, "E4.4_REZ", ""
SYMBOL  I , 5, "E4.5_REZ", ""
SYMBOL  I , 6, "E4.6_REZ", ""
SYMBOL  I , 7, "E4.7_REZ", ""
SYMBOL  I , 8, "20SM1", "Stoper na vstupu poduškovaèky vysunuto YP1"
SYMBOL  I , 9, "20SM2", "Stoper na vstupu poduškovaèky zasunuto YP1"
SYMBOL  I , 10, "20SM3", "Pøidržení krabice v poduškovaèce válec è. 1 vysunuto YP2"
SYMBOL  I , 11, "20SM4", "Pøidržení krabice v poduškovaèce válec è. 1 zasunuto YP2"
SYMBOL  I , 12, "20SM5", "Pøidržení krabice v poduškovaèce válec è. 2 vysunuto YP3"
SYMBOL  I , 13, "20SM6", "Pøidržení krabice v poduškovaèce válec è. 2 zasunuto YP3"
SYMBOL  I , 14, "20SM7", "Stoper na výstupu poduškovaèky zasunuto = otevøeno, nahoøe"
SYMBOL  I , 15, "20SM8", "Stoper na výstupu poduškovaèky vysunuto = zavøeno"
END 

DPSUBSYSTEM 3, "PROFIBUS_RM20: DP master system (3)"
BEGIN 
  GROUP_IDENT_SUM_ALL_SLAVES "255"
  GROUP_SYNC_PROP "255"
  GUI_HIDE "0"
  GROUP_FREEZE_PROP "255"
  OBJECT_REMOVEABLE "1"
  GROUP_COMMENT_1 ""
  GROUP_COMMENT_2 ""
  POS_X "217"
  GROUP_COMMENT_3 ""
  POS_Y "67"
  GROUP_COMMENT_4 ""
  SIZE_X "267"
  LAST_USED_PROFIBUS_ADDR "20"
  GROUP_COMMENT_5 ""
  SIZE_Y "16"
  GROUP_COMMENT_6 ""
  GROUP_COMMENT_7 ""
  GROUP_COMMENT_8 ""
  CAX_APP_ID ""
  SUBNET_NAME "PROFIBUS(1)"
  OBJECT_COPYABLE "0"
  CREATOR ""
  COMMENT ""
END 

DPSUBSYSTEM 3, DPADDRESS 20, "LENZ2133.GSE", "2133 (8200/9300)"
BEGIN
  ASSET_ID "2FB06E13D3E247B1AC87CAA135B921EC"
  PNO_IDENT_NO "8499"
  WD_ON "1"
  PDM_PARAM "0"
  CBA_USAGE "0"
  GROUP_IDENT "0"
  NORMSLAVE_DP_MODE "0"
  OBJECT_REMOVEABLE "1"
  NORMSLAVE_PARAM_DATA "00 00"
  POS_X "345"
  GATEWAY_COMMENT ""
  POS_Y "140"
  SIZE_X "78"
  SIZE_Y "64"
  MODULE_ADD_FLAGS "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT "M51 - Pohon poedních unašeeu"
  PHYSICAL_INTERFACE "0"
  CIR_STATE "0"
LOCAL_IN_ADDRESSES 
  ADDRESS  1022, 0, 0, 0, 2, 0
END

DPSUBSYSTEM 3, DPADDRESS 20, SLOT 1, "PAR(Cons.) + PZD( 4W Con) AR", "0"
BEGIN 
  ASSET_ID "C0E264F7F01E4CE08649B4466722D8A0"
  SLAVE_CFG_DATA "01 00 00"
  OBJECT_REMOVEABLE "1"
  RETAIN_LAST_VALUE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  NORMMODULE_PARAM_DATA "00 00"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  NORMMODULE_REFERENCE "-1"
  CREATOR ""
  COMMENT ""
END 

DPSUBSYSTEM 3, DPADDRESS 20, SLOT 2, "--> PAR(Cons.) + PZD( 4W Con) AR", "0"
AUTOCREATED 
BEGIN 
  ASSET_ID "30D249B307E64093ADDC9E6C4611BE63"
  SLAVE_CFG_DATA "01 00 00"
  OBJECT_REMOVEABLE "0"
  RETAIN_LAST_VALUE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  NORMMODULE_PARAM_DATA "00 00"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  NORMMODULE_REFERENCE "-1"
  CREATOR ""
  COMMENT ""
END 

DPSUBSYSTEM 3, DPADDRESS 20, SLOT 3, "--> PAR(Cons.) + PZD( 4W Con) AR", "0"
AUTOCREATED 
BEGIN 
  ASSET_ID "A0DC574143424085B414940303CCD15E"
  SLAVE_CFG_DATA "01 00 00"
  OBJECT_REMOVEABLE "0"
  RETAIN_LAST_VALUE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  NORMMODULE_PARAM_DATA "00 00"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  NORMMODULE_REFERENCE "-1"
  CREATOR ""
  COMMENT ""
END 

DPSUBSYSTEM 3, DPADDRESS 20, SLOT 4, "--> PAR(Cons.) + PZD( 4W Con) AR", "4AX"
AUTOCREATED 
BEGIN 
  ASSET_ID "A9481681AB744710BD4FD4D3239348E1"
  SLAVE_CFG_DATA "01 00 F3"
  OBJECT_REMOVEABLE "0"
  RETAIN_LAST_VALUE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  NORMMODULE_PARAM_DATA "00 00"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  NORMMODULE_REFERENCE "-1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  384, 0, 8, 0, 7, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  384, 0, 8, 0, 7, 0
END 

DPSUBSYSTEM 3, DPADDRESS 20, SLOT 5, "--> PAR(Cons.) + PZD( 4W Con) AR", "4AX"
AUTOCREATED 
BEGIN 
  ASSET_ID "2B37081E533B4C1C96C91CEAC606F7FE"
  SLAVE_CFG_DATA "01 00 F3"
  OBJECT_REMOVEABLE "0"
  RETAIN_LAST_VALUE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  NORMMODULE_PARAM_DATA "00 00"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  NORMMODULE_REFERENCE "-1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  392, 0, 8, 0, 7, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  392, 0, 8, 0, 7, 0
END 

DPSUBSYSTEM 3, DPADDRESS 21, "LENZ00DA.GSE", "8200neu-Profibus-DP"
BEGIN
  ASSET_ID "274AB9DB05A4467EA2EB552B9955A8DD"
  PNO_IDENT_NO "218"
  WD_ON "1"
  PDM_PARAM "0"
  CBA_USAGE "0"
  GROUP_IDENT "0"
  NORMSLAVE_DP_MODE "0"
  OBJECT_REMOVEABLE "1"
  NORMSLAVE_PARAM_DATA "00 00"
  POS_X "252"
  GATEWAY_COMMENT ""
  POS_Y "141"
  SIZE_X "78"
  SIZE_Y "64"
  MODULE_ADD_FLAGS "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT "Posun podusek"
  PHYSICAL_INTERFACE "0"
  CIR_STATE "0"
LOCAL_IN_ADDRESSES 
  ADDRESS  1011, 0, 0, 0, 2, 0
END

DPSUBSYSTEM 3, DPADDRESS 21, SLOT 1, "PAR(Cons.)+PZD( 2 W. Cons.)", "4AX"
BEGIN 
  ASSET_ID "5351F95CBA96470A934C90C87463DB0B"
  SLAVE_CFG_DATA "01 00 F3"
  OBJECT_REMOVEABLE "1"
  RETAIN_LAST_VALUE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  NORMMODULE_PARAM_DATA "00 00"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  NORMMODULE_REFERENCE "-1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  272, 0, 8, 0, 7, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  272, 0, 8, 0, 7, 0
END 

DPSUBSYSTEM 3, DPADDRESS 21, SLOT 2, "--> PAR(Cons.)+PZD( 2 W. Cons.)", "2AX"
AUTOCREATED 
BEGIN 
  ASSET_ID "571680E0B2E34629919753BB5CCD11DD"
  SLAVE_CFG_DATA "01 00 F1"
  OBJECT_REMOVEABLE "0"
  RETAIN_LAST_VALUE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  NORMMODULE_PARAM_DATA "00 00"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  NORMMODULE_REFERENCE "-1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  280, 0, 4, 0, 2, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  280, 0, 4, 0, 2, 0
END 

