FILEVERSION "3.2"
#STEP7_VERSION V5.7 + SP3
#CREATED "pondelok 23. februára 2026   12:39:02"

STATION S7300 , "RM30_Vkladani vika"
BEGIN 
  ASSET_ID "B85ECF13EAE44AB1BB70C60DF22022ED"
  USED_S7_VERSIONS "35 2E 34 2E 33 2E 30 5F 39 2E 35 2E 30 2E 31 7C 35 2E 34 2E 35 2E 30 5F 31 32 2E 36 2E 30 2E 31 7C 35 2E 35 2E 31 2E 30 5F 31 39 2E 38 2E 30 2E 31 7C 35 2E 35 2E 34 2E 30 5F 33 31 2E 31 2E 30 2E 31 7C 00"
  REPORT_SYSTEM_ERRORS "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CIR_WARNING "0"
  CREATOR ""
  COMMENT ""
END 

SUBNET PROFIBUS , "PROFIBUS_RM30"
BEGIN 
  PROFIBUS_HSA "126"
  PROFIBUS_BAUDRATE "1.5_MBPS"
  PROFIBUS_RETRIES "1"
  PROFIBUS_GAP "10"
  PROFIBUS_READY "11"
  PROFILE_SELECTION "DP"
  NETCONFIG_ENABLE "0"
  NETCONFIG_AKTIV "1"
  NETCONFIG_PASSIV "5"
  NETCONFIG_XYZ "2"
  CNT_ACT_NODES "1"
  CNT_PAS_NODES "5"
  CNT_XYZ_NODES "2"
  OLM_CONFIG_ENABLE "0"
  AEQU_ENABLE "0"
  BROADCAST_ENABLE "0"
  NETCONFIG_BUSLAST "MEDIUM"
  PROFILE_OPTIMIZATION "0"
  OPTIMIZE_TSLOT "0"
  OPTIMIZE_CONF "0"
  AEQU_CLOCK_ENABLE "0"
  AEQU_CLOCK_TI "0"
  AEQU_CLOCK_TO "0"
  AEQU_DP_BASE "0.001_MS"
  AEQU_SLAVE_BASE "0.001_MS"
  AEQU_CLOCK_TI_MIN "0"
  AEQU_CLOCK_TO_MIN "0"
  AEQU_CLOCK_DP_MAX "32000000"
  AEQU_CLOCK_TITO_MIN "0"
  AEQU_CLOCK_DP_MIN "0"
  AEQU_PROFILE "1"
  CNT_OLM "0"
  CNT_REPEATER "0"
  CU_WIRE_LENGTH "0"
  LWL_WIRE_LENGTH "0"
  PROFIBUS_TQUI "0"
  PROFIBUS_IDLE1 "37"
  PROFIBUS_IDLE2 "150"
  PROFIBUS_TSL "300"
  DLG_TSL_INIT "300"
  TSET "1"
  MIN_TSDR "11"
  MAX_TSDR "150"
  AEQU_PAUSE_TIME "0"
  PROFIBUS_TTR "36300"
  WATCHDOG "99093"
  MIN_SLAVE "150"
  TTR_SLAVE_INT "4452"
  DLG_CNT_REPEATER "0"
  DLG_CU_WIRE_LENGTH "0"
  DLG_CNT_OLM "0"
  DLG_LWL_WIRE_LENGTH "0"
  AEQU_PG_CNT "0"
  AEQU_MASTER_TIME_INP "0"
  AEQU_PG_TIME_INP "0"
  AEQU_DP_TIME_INP "0"
  DDB_TIME_PCI "20"
  TTH_STD "0"
  TAEQ_STD "0"
  AEQU_TDE "3499"
  OPTICAL_RING "0"
  CREATOR ""
  COMMENT "RM30"
  NET_ID_2 "00 33 00 00 00 8E"
  NET_ID "00330000008e"
  NET_CIR_LOCKED "0"
  TIME_SHORTCUT_OUTOF_RING "20"
  TIME_SHORTCUT_OUTOF_RING_V5SP3 "330"
  TIME_SHORTCUT_IN_RING "20"
  TIME_SHORTCUT_IN_RING_V5SP3 "8"
  BUSPROFILE_INTERVAL "0"
  BUSPROFILE_INTERVAL_V5SP3 "0"
  RETRY_IMMEDIATE "1"
  DCI_COUNTER "67"
  NONCYCLIC_REQUEST_CTR "2"
  NONCYCLIC_REQUEST_CTR_DIAG2 "2"
END 

RACK 0, "6ES7 390-1???0-0AA0", "UR"
BEGIN 
  ASSET_ID "FA3BF86786F84C02A855EAED1835E431"
  OBJECT_REMOVEABLE "1"
  POS_X "4"
  POS_Y "31"
  SIZE_X "203"
  SIZE_Y "223"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
END 

RACK 0, SLOT 2, "6ES7 313-6CF03-0AB0" "V2.6", "CPU 313C-2 DP"
BEGIN 
  ASSET_ID "A3DACD27639049869B03B7E49659A160"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  CBA_USAGE "0"
  CAPABLE_F_SAFETY "0"
  OBJECT_REMOVEABLE "1"
  CAPABLE_FAILSAFE "0"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  KSS_CONNECTION "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  MPI_ADDRESS "2"
  COMMENT ""
PARAMETER 
  CLOCK_MEMORY, "1"
  MEMORY_BYTE, "250"
  PLANT_DESIGNATION, ""
  LOCAL_DESIGNATION, ""
END 

RACK 0, SLOT 2, SUBSLOT 1, "_S7H_HSP_SUBMODULE_313_6CF03_FW26_DP_CT", "DP"
AUTOCREATED 
MASTER DPSUBSYSTEM 3, "PROFIBUS_RM30", DPADDRESS 2
BEGIN 
  ASSET_ID "90B1D58CA49B4A788ED3941F3F9B7D8B"
  PROFIBUSADDRESS "2"
  LINKED_SUBNETNAME "PROFIBUS_RM30"
  ALARM_OB_NO "40"
  __112411 ""
  DP_CLOCK_MODE "0"
  SLAVE_ACTIVE_PASSIVE "0"
  __112412 "0"
  DP_CLOCK_INT "0"
  OPT_BUSPAR "0"
  DP_MASTER_MODE "DP_MASTER"
  OBJECT_REMOVEABLE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  DP_VERSION "7"
  CAX_APP_ID ""
  L2_ADDR_EQUI_MASTER "255"
  OBJECT_COPYABLE "0"
  CREATOR ""
  COMMENT ""
  INTERFACE_HARDENING "0"
LOCAL_IN_ADDRESSES 
  ADDRESS  1023, 0, 0, 0, 0, 0
END 

RACK 0, SLOT 2, SUBSLOT 2, "_S7H_SUBMODULE_313_6CE00_DIGITAL_CT", "DI16/DO16"
AUTOCREATED 
BEGIN 
  ASSET_ID "9E5FA029B43F44B7AA5D5C489F627397"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  124, 0, 2, 0, 0, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  124, 0, 2, 0, 0, 0
SYMBOL  I , 0, "IG1-A", "rezerva - snímaè polohy"
SYMBOL  I , 1, "IG1-B", "rezerva - snímaè polohy"
SYMBOL  I , 2, "30SGP1", "Tlak okruhu vzduchu OK"
SYMBOL  I , 3, "SE30", "Pomocný bod M30 unašeèe"
SYMBOL  I , 4, "SE31", "Referenèní bod M30 unašeèe"
SYMBOL  I , 5, "I124.5_REZ", "rezerva"
SYMBOL  I , 6, "ST38", "Referenèní bod M33 unašeèe (servo)"
SYMBOL  I , 7, "30BT1", "Pøehøátí rozvadìèe RM30"
SYMBOL  I , 8, "SL31", "Tlaèítko START - Víka"
SYMBOL  I , 9, "S32", "Tlaèítko STOP - Víka"
SYMBOL  I , 10, "SL33", "Tlaèítko Potvrzení poruchy - Víka"
SYMBOL  I , 11, "SN30", "Nouzový stop PU30 ovládací panel"
SYMBOL  I , 12, "SN31", "Nouzový stop aktivní"
SYMBOL  I , 13, "SN32", "Nouzový stop aktivní"
SYMBOL  I , 14, "I125.6_REZ", "rezerva"
SYMBOL  I , 15, "SG34.1", "Kryt boèní è.5"
SYMBOL  O , 0, "30K1", "Potvrzení poruchy Nouzový stop"
SYMBOL  O , 1, "30K2", "Potvrzení poruchy kryty"
SYMBOL  O , 2, "30K3", "Stroj v chodu"
SYMBOL  O , 3, "30A1", "RESET napájení 24V"
SYMBOL  O , 4, "30HU1", "Zvuková signalizace 1"
SYMBOL  O , 5, "30HU2", "Zvuková signalizace 2"
SYMBOL  O , 6, "Q124.6_REZ", ""
SYMBOL  O , 7, "Q124.7_REZ", ""
SYMBOL  O , 8, "30HL2", "Vkladaè START"
SYMBOL  O , 9, "30HL3", "Vkladaè porucha"
SYMBOL  O , 10, "QREZ125.2", ""
SYMBOL  O , 11, "QREZ125.3", ""
SYMBOL  O , 12, "HSLG", "Semafor zelená"
SYMBOL  O , 13, "HSLO", "Semafor oranžová"
SYMBOL  O , 14, "HSLR", "Semafor èervená"
SYMBOL  O , 15, "REZQ125.7", ""
END 

RACK 0, SLOT 2, SUBSLOT 4, "_S7H_SUBMODULE_313_6CE01_COUNT_CT", "Count"
AUTOCREATED 
BEGIN 
  ASSET_ID "010FBBA179434C5E885441D83E54E6EF"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  768, 0, 16, 0, 0, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  768, 0, 16, 0, 0, 0
PARAMETER 
  GENERATE_INTERRUPT, "NONE"
  SELECT_INTERRUPT, "NONE"
  TECHNOLOGY_CHANNEL0, "COUNT"
  TECHNOLOGY_CHANNEL1, "NONE"
  TECHNOLOGY_CHANNEL2, "NONE"
  TECHNOLOGY_CHANNEL3, "NONE"
  DATASET, "80 00 00 00 01 00 00 00 00 03 00 00 00 01 00 02 00 00 00 00 00 01 00 00 4E 20 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 1E 03 0A 03 00 00 00 00 00 00 00 00"
END 

RACK 0, SLOT 4, "6ES7 323-1BL00-0AA0", "DI16/DO16x24V/0.5A"
BEGIN 
  ASSET_ID "55333157AC98465487EDC8842DA184C1"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  0, 0, 2, 0, 1, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  0, 0, 2, 0, 1, 0
SYMBOL  I , 0, "30KN1 OK", "Okruh 30KN1 OK nouzový stop"
SYMBOL  I , 1, "30KN2 OK", "Okruh 30KN2 OK ochranné kryty"
SYMBOL  I , 2, "I0.2_REZ", "rezerva"
SYMBOL  I , 3, "24VDC OK", "Napájení 24VDC OK"
SYMBOL  I , 4, "SG30.1", "Kryt boèní è.1"
SYMBOL  I , 5, "SG31.1", "Kryt boèní è.2"
SYMBOL  I , 6, "SG32.1", "Kryt boèní è.3"
SYMBOL  I , 7, "SG33.1", "Kryt boèní è.4"
SYMBOL  I , 8, "ST30", "Krabièka pøed stoperem"
SYMBOL  I , 9, "ST31", "Krabièka na vstupních øemínkách"
SYMBOL  I , 10, "ST32", "Krabièka v místì plnìní"
SYMBOL  I , 11, "ST33", "Víko v pøesunu do stroje"
SYMBOL  I , 12, "ST34", "Víko na sestupném øemenu"
SYMBOL  I , 13, "ST35", "Víko k uzavøení krabice"
SYMBOL  I , 14, "ST36", "Minimum vík na pasu"
SYMBOL  I , 15, "ST37", "Hlídání výjezdu ze stroje"
SYMBOL  O , 0, "QREZ0.0", ""
SYMBOL  O , 1, "QREZ0.1", ""
SYMBOL  O , 2, "QREZ0.2", ""
SYMBOL  O , 3, "QREZ0.3", ""
SYMBOL  O , 4, "QREZ0.4", ""
SYMBOL  O , 5, "QREZ0.5", ""
SYMBOL  O , 6, "QREZ0.6", ""
SYMBOL  O , 7, "QREZ0.7", ""
SYMBOL  O , 8, "YP30", "Stoper krabièky"
SYMBOL  O , 9, "YP31", "Stoper víka na øemínkách"
SYMBOL  O , 10, "QREZ1.2", ""
SYMBOL  O , 11, "QREZ1.3", ""
SYMBOL  O , 12, "QREZ1.4", ""
SYMBOL  O , 13, "QREZ1.5", ""
SYMBOL  O , 14, "E-S_RM30", "Nouzový stop OK"
SYMBOL  O , 15, "AUTO_RUN_RM30", "Automatický chod - pro LINKU"
END 

RACK 0, SLOT 5, "6ES7 321-1BH02-0AA0", "DI16xDC24V"
BEGIN 
  ASSET_ID "820727A2D7D349AFB2F193A381E36ACD"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  4, 0, 2, 0, 1, 0
SYMBOL  I , 0, "SM30", "YP30 výchozí poloha vstupní stoper"
SYMBOL  I , 1, "SM31", "YP31A výchozí pooha stoperu víka L"
SYMBOL  I , 2, "SM32", "YP31A výchozí pooha stoperu víka P"
SYMBOL  I , 3, "ST39", "Víka pod nástrojem LOESCH"
SYMBOL  I , 4, "LOESCH_1", "Rezerva stavìèka LOESCH"
SYMBOL  I , 5, "LOESCH_2", "Rezerva stavìèka LOESCH"
SYMBOL  I , 6, "LOESCH_OK", "Stavìèka LOESCH pøipravena k chodu"
SYMBOL  I , 7, "E4.7_REZ", ""
SYMBOL  I , 8, "I5.0_REZ", ""
SYMBOL  I , 9, "I5.1_REZ", ""
SYMBOL  I , 10, "I5.2_REZ", ""
SYMBOL  I , 11, "I5.3_REZ", ""
SYMBOL  I , 12, "30KA1", "Linka v chodu"
SYMBOL  I , 13, "I5.5_REZ", ""
SYMBOL  I , 14, "I5.6_REZ", ""
SYMBOL  I , 15, "I5.7_REZ", ""
END 

DPSUBSYSTEM 3, "PROFIBUS_RM30: DP master system (3)"
BEGIN 
  GROUP_IDENT_SUM_ALL_SLAVES "255"
  GROUP_SYNC_PROP "255"
  GUI_HIDE "0"
  GROUP_FREEZE_PROP "255"
  OBJECT_REMOVEABLE "1"
  GROUP_COMMENT_1 ""
  GROUP_COMMENT_2 ""
  POS_X "216"
  GROUP_COMMENT_3 ""
  POS_Y "67"
  GROUP_COMMENT_4 ""
  SIZE_X "569"
  LAST_USED_PROFIBUS_ADDR "33"
  GROUP_COMMENT_5 ""
  SIZE_Y "16"
  GROUP_COMMENT_6 ""
  GROUP_COMMENT_7 ""
  GROUP_COMMENT_8 ""
  CAX_APP_ID ""
  SUBNET_NAME "PROFIBUS(2)"
  OBJECT_COPYABLE "0"
  CREATOR ""
  COMMENT ""
END 

DPSUBSYSTEM 3, DPADDRESS 30, "LENZ00DA.GSE", "8200neu-Profibus-DP"
BEGIN
  ASSET_ID "5118B286F97E446BBD2F59B49A4069E4"
  PNO_IDENT_NO "218"
  WD_ON "1"
  PDM_PARAM "0"
  CBA_USAGE "0"
  GROUP_IDENT "0"
  NORMSLAVE_DP_MODE "0"
  OBJECT_REMOVEABLE "1"
  NORMSLAVE_PARAM_DATA "00 00"
  POS_X "250"
  GATEWAY_COMMENT ""
  POS_Y "142"
  SIZE_X "78"
  SIZE_Y "64"
  MODULE_ADD_FLAGS "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT "Posun podusek"
  PHYSICAL_INTERFACE "0"
  CIR_STATE "0"
LOCAL_IN_ADDRESSES 
  ADDRESS  1011, 0, 0, 0, 2, 0
END

DPSUBSYSTEM 3, DPADDRESS 30, SLOT 1, "PAR(Cons.)+PZD( 2 W. Cons.)", "4AX"
BEGIN 
  ASSET_ID "5CF1148D8DE64951A92B663BA800221C"
  SLAVE_CFG_DATA "01 00 F3"
  OBJECT_REMOVEABLE "1"
  RETAIN_LAST_VALUE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  NORMMODULE_PARAM_DATA "00 00"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  NORMMODULE_REFERENCE "-1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  272, 0, 8, 0, 7, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  272, 0, 8, 0, 7, 0
END 

DPSUBSYSTEM 3, DPADDRESS 30, SLOT 2, "--> PAR(Cons.)+PZD( 2 W. Cons.)", "2AX"
AUTOCREATED 
BEGIN 
  ASSET_ID "EECD38EA42E44FE9AFF8DC874E2E291B"
  SLAVE_CFG_DATA "01 00 F1"
  OBJECT_REMOVEABLE "0"
  RETAIN_LAST_VALUE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  NORMMODULE_PARAM_DATA "00 00"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  NORMMODULE_REFERENCE "-1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  280, 0, 4, 0, 2, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  280, 0, 4, 0, 2, 0
END 

DPSUBSYSTEM 3, DPADDRESS 31, "LENZ00DA.GSE", "8200neu-Profibus-DP"
BEGIN
  ASSET_ID "CA7AC0013C534E5897DAE46DCB744CAF"
  PNO_IDENT_NO "218"
  WD_ON "1"
  PDM_PARAM "0"
  CBA_USAGE "0"
  GROUP_IDENT "0"
  NORMSLAVE_DP_MODE "0"
  OBJECT_REMOVEABLE "1"
  NORMSLAVE_PARAM_DATA "00 00"
  POS_X "363"
  GATEWAY_COMMENT ""
  POS_Y "143"
  SIZE_X "78"
  SIZE_Y "64"
  MODULE_ADD_FLAGS "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT "Posun podusek"
  PHYSICAL_INTERFACE "0"
  CIR_STATE "0"
LOCAL_IN_ADDRESSES 
  ADDRESS  1022, 0, 0, 0, 2, 0
END

DPSUBSYSTEM 3, DPADDRESS 31, SLOT 1, "PAR(Cons.)+PZD( 2 W. Cons.)", "4AX"
BEGIN 
  ASSET_ID "47A4D914032B407EAFA805AFA367FFC8"
  SLAVE_CFG_DATA "01 00 F3"
  OBJECT_REMOVEABLE "1"
  RETAIN_LAST_VALUE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  NORMMODULE_PARAM_DATA "00 00"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  NORMMODULE_REFERENCE "-1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  284, 0, 8, 0, 7, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  284, 0, 8, 0, 7, 0
END 

DPSUBSYSTEM 3, DPADDRESS 31, SLOT 2, "--> PAR(Cons.)+PZD( 2 W. Cons.)", "2AX"
AUTOCREATED 
BEGIN 
  ASSET_ID "5C2B0F6400A942D1894A4A1002013102"
  SLAVE_CFG_DATA "01 00 F1"
  OBJECT_REMOVEABLE "0"
  RETAIN_LAST_VALUE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  NORMMODULE_PARAM_DATA "00 00"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  NORMMODULE_REFERENCE "-1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  292, 0, 4, 0, 2, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  292, 0, 4, 0, 2, 0
END 

DPSUBSYSTEM 3, DPADDRESS 32, "LENZ00DA.GSE", "8200neu-Profibus-DP"
BEGIN
  ASSET_ID "364CE1B655274DA292AA5D310D1DCE8C"
  PNO_IDENT_NO "218"
  WD_ON "1"
  PDM_PARAM "0"
  CBA_USAGE "0"
  GROUP_IDENT "0"
  NORMSLAVE_DP_MODE "0"
  OBJECT_REMOVEABLE "1"
  NORMSLAVE_PARAM_DATA "00 00"
  POS_X "462"
  GATEWAY_COMMENT ""
  POS_Y "148"
  SIZE_X "78"
  SIZE_Y "64"
  MODULE_ADD_FLAGS "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT "Posun podusek"
  PHYSICAL_INTERFACE "0"
  CIR_STATE "0"
LOCAL_IN_ADDRESSES 
  ADDRESS  1020, 0, 0, 0, 2, 0
END

DPSUBSYSTEM 3, DPADDRESS 32, SLOT 1, "PAR(Cons.)+PZD( 2 W. Cons.)", "4AX"
BEGIN 
  ASSET_ID "DA19A4C030B44F3DAA0C5070CA3D3158"
  SLAVE_CFG_DATA "01 00 F3"
  OBJECT_REMOVEABLE "1"
  RETAIN_LAST_VALUE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  NORMMODULE_PARAM_DATA "00 00"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  NORMMODULE_REFERENCE "-1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  296, 0, 8, 0, 7, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  296, 0, 8, 0, 7, 0
END 

DPSUBSYSTEM 3, DPADDRESS 32, SLOT 2, "--> PAR(Cons.)+PZD( 2 W. Cons.)", "2AX"
AUTOCREATED 
BEGIN 
  ASSET_ID "84D101B0B3AA42D686016640CC90C0B2"
  SLAVE_CFG_DATA "01 00 F1"
  OBJECT_REMOVEABLE "0"
  RETAIN_LAST_VALUE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  NORMMODULE_PARAM_DATA "00 00"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  NORMMODULE_REFERENCE "-1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  304, 0, 4, 0, 2, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  304, 0, 4, 0, 2, 0
END 

DPSUBSYSTEM 3, DPADDRESS 33, "LENZ2133.GSE", "2133 (8200/9300)"
BEGIN
  ASSET_ID "7DA3B94F981448C9BF7D22BBEB59C6C1"
  PNO_IDENT_NO "8499"
  WD_ON "1"
  PDM_PARAM "0"
  CBA_USAGE "0"
  GROUP_IDENT "0"
  NORMSLAVE_DP_MODE "0"
  OBJECT_REMOVEABLE "1"
  NORMSLAVE_PARAM_DATA "00 00"
  POS_X "555"
  GATEWAY_COMMENT ""
  POS_Y "212"
  SIZE_X "78"
  SIZE_Y "64"
  MODULE_ADD_FLAGS "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT "M31"
  PHYSICAL_INTERFACE "0"
  CIR_STATE "0"
LOCAL_IN_ADDRESSES 
  ADDRESS  1021, 0, 0, 0, 2, 0
END

DPSUBSYSTEM 3, DPADDRESS 33, SLOT 1, "PAR(Cons.) + PZD( 4W Con) AR", "0"
BEGIN 
  ASSET_ID "FC1026DCC9D94FAD8072A774EDFD5635"
  SLAVE_CFG_DATA "01 00 00"
  OBJECT_REMOVEABLE "1"
  RETAIN_LAST_VALUE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  NORMMODULE_PARAM_DATA "00 00"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  NORMMODULE_REFERENCE "-1"
  CREATOR ""
  COMMENT ""
END 

DPSUBSYSTEM 3, DPADDRESS 33, SLOT 2, "--> PAR(Cons.) + PZD( 4W Con) AR", "0"
AUTOCREATED 
BEGIN 
  ASSET_ID "35F486096AC64CBBA118E3D463454FD0"
  SLAVE_CFG_DATA "01 00 00"
  OBJECT_REMOVEABLE "0"
  RETAIN_LAST_VALUE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  NORMMODULE_PARAM_DATA "00 00"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  NORMMODULE_REFERENCE "-1"
  CREATOR ""
  COMMENT ""
END 

DPSUBSYSTEM 3, DPADDRESS 33, SLOT 3, "--> PAR(Cons.) + PZD( 4W Con) AR", "0"
AUTOCREATED 
BEGIN 
  ASSET_ID "4BDC7B154D244F6FB762DCE9E719A596"
  SLAVE_CFG_DATA "01 00 00"
  OBJECT_REMOVEABLE "0"
  RETAIN_LAST_VALUE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  NORMMODULE_PARAM_DATA "00 00"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  NORMMODULE_REFERENCE "-1"
  CREATOR ""
  COMMENT ""
END 

DPSUBSYSTEM 3, DPADDRESS 33, SLOT 4, "--> PAR(Cons.) + PZD( 4W Con) AR", "4AX"
AUTOCREATED 
BEGIN 
  ASSET_ID "BDC77F4606424B4FB9E5505266A4BDEC"
  SLAVE_CFG_DATA "01 00 F3"
  OBJECT_REMOVEABLE "0"
  RETAIN_LAST_VALUE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  NORMMODULE_PARAM_DATA "00 00"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  NORMMODULE_REFERENCE "-1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  256, 0, 8, 0, 7, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  256, 0, 8, 0, 7, 0
END 

DPSUBSYSTEM 3, DPADDRESS 33, SLOT 5, "--> PAR(Cons.) + PZD( 4W Con) AR", "4AX"
AUTOCREATED 
BEGIN 
  ASSET_ID "8064897BC0B34E348E948B7B6F26BE40"
  SLAVE_CFG_DATA "01 00 F3"
  OBJECT_REMOVEABLE "0"
  RETAIN_LAST_VALUE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  NORMMODULE_PARAM_DATA "00 00"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  NORMMODULE_REFERENCE "-1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  264, 0, 8, 0, 7, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  264, 0, 8, 0, 7, 0
END 

DPSUBSYSTEM 3, DPADDRESS 34, "LENZ00DA.GSE", "8200neu-Profibus-DP"
BEGIN
  ASSET_ID "BFDC59A99B5B45929470AC14A419A950"
  PNO_IDENT_NO "218"
  WD_ON "1"
  PDM_PARAM "0"
  CBA_USAGE "0"
  GROUP_IDENT "0"
  NORMSLAVE_DP_MODE "0"
  OBJECT_REMOVEABLE "1"
  NORMSLAVE_PARAM_DATA "00 00"
  POS_X "646"
  GATEWAY_COMMENT ""
  POS_Y "139"
  SIZE_X "78"
  SIZE_Y "64"
  MODULE_ADD_FLAGS "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT "Posun podusek"
  PHYSICAL_INTERFACE "0"
  CIR_STATE "0"
LOCAL_IN_ADDRESSES 
  ADDRESS  1019, 0, 0, 0, 2, 0
END

DPSUBSYSTEM 3, DPADDRESS 34, SLOT 1, "PAR(Cons.)+PZD( 2 W. Cons.)", "4AX"
BEGIN 
  ASSET_ID "146D5BD4A01A497894DE3348F449EC09"
  SLAVE_CFG_DATA "01 00 F3"
  OBJECT_REMOVEABLE "1"
  RETAIN_LAST_VALUE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  NORMMODULE_PARAM_DATA "00 00"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  NORMMODULE_REFERENCE "-1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  308, 0, 8, 0, 7, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  308, 0, 8, 0, 7, 0
END 

DPSUBSYSTEM 3, DPADDRESS 34, SLOT 2, "--> PAR(Cons.)+PZD( 2 W. Cons.)", "2AX"
AUTOCREATED 
BEGIN 
  ASSET_ID "28EFDFC035554BACA95CFBA1A42D8663"
  SLAVE_CFG_DATA "01 00 F1"
  OBJECT_REMOVEABLE "0"
  RETAIN_LAST_VALUE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  NORMMODULE_PARAM_DATA "00 00"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  NORMMODULE_REFERENCE "-1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  316, 0, 4, 0, 2, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  316, 0, 4, 0, 2, 0
END 

