FILEVERSION "3.2"
#STEP7_VERSION V5.7 + SP3
#CREATED "pondelok 23. februára 2026   13:10:46"

STATION S7300 , "COV"
BEGIN 
  ASSET_ID "FA5062F97DCB4F85B21B6C3A249F0518"
  USED_S7_VERSIONS "35 2E 35 2E 30 2E 30 5F 32 35 2E 36 2E 30 2E 31 7C 35 2E 35 2E 32 2E 30 5F 31 35 2E 34 2E 30 2E 31 7C 35 2E 36 2E 32 2E 30 5F 39 2E 31 2E 30 2E 31 7C 00"
  REPORT_SYSTEM_ERRORS "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CIR_WARNING "0"
  CREATOR ""
  COMMENT ""
END 

SUBNET INDUSTRIAL_ETHERNET , "Ethernet(1)"
BEGIN 
  CREATOR ""
  COMMENT ""
  NET_ID_2 "00 9A 00 00 00 06"
  NET_ID "009A00000006"
END 

SUBNET MPI , "MPI(1)"
BEGIN 
  MPI_HSA "31"
  MPI_BAUDRATE "187.5_KBPS"
  MPI_GAP "5"
  MPI_READY "20"
  MPI_RETRIES "2"
  MPI_IDLE1 "60"
  MPI_IDLE2 "400"
  MPI_TQUI "0"
  MPI_TSL "415"
  MPI_TTR "9984"
  CREATOR ""
  COMMENT ""
  NET_ID_2 "00 62 00 00 00 01"
  NET_ID "006200000001"
END 

RACK 0, "6ES7 390-1???0-0AA0", "UR"
BEGIN 
  ASSET_ID "28625E5D8FFF4B1386024A2C97074AE7"
  OBJECT_REMOVEABLE "1"
  POS_X "34"
  POS_Y "16"
  SIZE_X "494"
  SIZE_Y "227"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
END 

RACK 0, SLOT 1, "6ES7 307-1EA00-0AA0", "PS 307 5A"
BEGIN 
  ASSET_ID "A0D4BCF41CDF42A69FBD3ABDF86F1136"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
END 

RACK 0, SLOT 2, "6ES7 313-5BE01-0AB0" "V2.0", "CPU 313C"
BEGIN 
  ASSET_ID "E609080132C54FF19792376194E04530"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  CBA_USAGE "0"
  OBJECT_REMOVEABLE "1"
  CAPABLE_FAILSAFE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  KSS_CONNECTION "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  MPI_ADDRESS "2"
  COMMENT ""
  LINKED_SUBNETNAME "MPI(1)"
PARAMETER 
  CLOCK_MEMORY, "1"
  MEMORY_BYTE, "10"
END 

RACK 0, SLOT 2, SUBSLOT 2, "_S7H_SUBMODULE_313_5BE00_DIGITAL_CT", "DI24/DO16"
AUTOCREATED 
BEGIN 
  ASSET_ID "2A83A2FF89864D26835DE1CC41F381C7"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  124, 0, 3, 0, 0, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  124, 0, 2, 0, 0, 0
SYMBOL  I , 0, "SedimOut_MAN", "Navoleny man rezim vypustania sedimentu od SEV4"
SYMBOL  I , 1, "SedimOut_AUTO", "Navoleny auto rezim vypustania sedimentu od SEV4"
SYMBOL  I , 2, "TlakKompresora", "Tlak kompresora (nefunguje - klema)"
SYMBOL  I , 3, "TlakADT", "Tlak ADT (nefunguje - klema)"
SYMBOL  I , 4, "MinHladPac", "min hladina P.A.C."
SYMBOL  I , 5, "NOT-AUS", "zatlaceny nudzovy stop"
SYMBOL  I , 6, "DialkOvladanie", "Dialkove ovladanie (priprava)"
SYMBOL  I , 7, "MinHladPoly", "min hladina POLY"
SYMBOL  I , 8, "2_OchPonor_2", "? Druha ochrana ponorky ?"
SYMBOL  I , 9, "HladPonor", "Hladina potrebna na zap ponorky"
SYMBOL  I , 10, "FlokDavk_MAN", "Navoleny man rezim Flokulant davkovanie od S24"
SYMBOL  I , 11, "FlokDavk_AUT", "Navoleny auto rezim Flokulant davkovanie od S24"
SYMBOL  I , 12, "FlokPripr_MAN", "Navoleny man rezim Flokulant priprava od S25"
SYMBOL  I , 13, "FlokPripr_AUT", "Navoleny auto rezim Flokulant priprava od S25"
SYMBOL  I , 14, "FlokKonc_MAN", "Navoleny man rezim Flokulant koncentrat od S26"
SYMBOL  I , 15, "FlokKonc_AUT", "Navoleny auto rezim Flokulant koncentrat od S26"
SYMBOL  I , 16, "OchFlokDavk_Q24", "Ochrana Flokulant davkovanie Q24 OK"
SYMBOL  I , 17, "OchFlokPripr_Q25", "Ochrana Flokulant priprava Q25 OK"
SYMBOL  I , 18, "OchFlokKonc_Q26", "Ochrana Flokulant koncentrat Q26 OK"
SYMBOL  I , 19, "LH1003", "Nie je max.hladina - zaplavenie COV"
SYMBOL  I , 20, "LH1002", "Nie je max.hladina - vyrovnavacia nadrz"
SYMBOL  I , 21, "M02_ZAP", "Ponorne cerpadlo M02 zapnute"
SYMBOL  O , 0, "Kompr_LED", "Svetelna signalizacia pre kompresor"
SYMBOL  O , 1, "Ponor_LED", "Svetelna signalizacia pre ponorku"
SYMBOL  O , 2, "Tlak_C_LED", "Svetelna signalizacia pre tlakove cerpadlo"
SYMBOL  O , 3, "Most_LED", "Svetelna signalizacia pre most"
SYMBOL  O , 4, "Zberac_LED", "Svetelna signalizacia pre zberac"
SYMBOL  O , 5, "Kal_C_LED", "Svetelna signalizacia pre kalove cerpadlo"
SYMBOL  O , 6, "Pac_C_LED", "Svetelna signalizacia pre P.A.C. cerpadlo"
SYMBOL  O , 7, "Poly_C_LED", "Svetelna signalizacia pre POLY cerpadlo"
SYMBOL  O , 8, "M_Pac_LED", "Svetelna signalizacia pre miesadlo P.A.C."
SYMBOL  O , 9, "M_Poly_LED", "Svetelna signalizacia pre miesadlo POLY"
SYMBOL  O , 10, "Cyklus_LED", "Svetelna signalizacia pre cyklus"
SYMBOL  O , 11, "Sedim_LED", "Svetelna signalizacia pre vent. vypustania sedimentu"
SYMBOL  O , 12, "Porucha_LED", "Svetelna signalizacia pre poruchu"
SYMBOL  O , 13, "Chod_JC", "Signalizacia chod flotatora na Johnson ControlsC"
SYMBOL  O , 14, "Porucha_JC", "Signalizacia porucha flotatora na Johnson ControlsC"
SYMBOL  O , 15, "REZ", "Rezerva"
END 

RACK 0, SLOT 2, SUBSLOT 3, "_S7H_SUBMODULE_313_5BE00_ANALOG_CT", "AI5/AO2"
AUTOCREATED 
BEGIN 
  ASSET_ID "1C1E81D5D0F744BAA0642205C28504E6"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  752, 0, 10, 0, 0, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  752, 0, 4, 0, 0, 0
SYMBOL  I , 0, "LI1000", "Hladina kalu flotator"
PARAMETER 
  REACTION_TO_CPU_STOP, "0"
  END_OF_CYCLE, "0"
  TEMPERATURE_UNIT, "DEGREES_CELSIUS"
  DIAGNOSTICS, "0"
  LIMIT_VIOLATION, "0"
  INTEGRATION_TIME, AI , 0, "20_MS"
  INTEGRATION_TIME, AI , 1, "20_MS"
  INTEGRATION_TIME, AI , 2, "20_MS"
  INTEGRATION_TIME, AI , 3, "20_MS"
  INTEGRATION_TIME, AI , 4, "20_MS"
  AI_TYPE, AI , 0, "CURRENT_(2-WIRE_TRANSDUCER)"
  AI_TYPE, AI , 1, "VOLTAGE"
  AI_TYPE, AI , 2, "VOLTAGE"
  AI_TYPE, AI , 3, "VOLTAGE"
  AI_TYPE, AI , 4, "RESISTANCE_(2-WIRE_CONNECTION)"
  AI_RANGE, AI , 0, "4_TO_20_MA"
  AI_RANGE, AI , 1, "+/-_10_V"
  AI_RANGE, AI , 2, "+/-_10_V"
  AI_RANGE, AI , 3, "+/-_10_V"
  AI_RANGE, AI , 4, "600_OHMS"
  AO_TYPE, AO , 0, "VOLTAGE"
  AO_TYPE, AO , 1, "VOLTAGE"
  AO_RANGE, AO , 0, "+/-_10_V"
  AO_RANGE, AO , 1, "+/-_10_V"
END 

RACK 0, SLOT 2, SUBSLOT 4, "_S7H_SUBMODULE_313_5BE01_COUNT_CT", "Count"
AUTOCREATED 
BEGIN 
  ASSET_ID "9474A6F43BFE4E1AA08F04AC966FD784"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "0"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  768, 0, 16, 0, 0, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  768, 0, 16, 0, 0, 0
END 

RACK 0, SLOT 4, "6GK7 343-1CX00-0XE0" "V1.0", "CP 343-1 Lean"
BEGIN 
  ASSET_ID "EBE5F256421A4F86982A11B629B12A24"
  MACADDRESS "080006010000"
  IPACTIVE "1"
  IPADDRESS "AC1015D0"
  SUBNETMASK "FFFF0000"
  ROUTERADDRESS "AC100001"
  ROUTERACTIVE "1"
  LINKED_SUBNETNAME "Ethernet(1)"
  ISOACTIVE "0"
  CPU_NO "1"
  SNDRCV_DATALEN_GR240 "0"
  ALARM_OB_NO "40"
  PRAL_NOT_SUPPORTED "0"
  IP_ADDRESS_VALIDATION_ID "0"
  IP_DHCP_CLIENT_ID ""
  __112411 ""
  __112412 "0"
  H_PROFILE "0"
  MAX_FDL_CON "0"
  MAX_FMS_CON "0"
  SDB_CARRIER "0"
  TIME_SYNC_DIR "0"
  SNDRCV_CONN_PREFIX "0"
  TIME_SYNC_CORRECTION "0"
  SNMP_ACTIVE "1"
  OBJECT_REMOVEABLE "1"
  CP_FAST_SEND_RECV "0"
  POS_X "0"
  TIME_SYNC_PASSING "0"
  POS_Y "0"
  ETHERNET_MEDIUM_DUPLEX "8"
  SIZE_X "0"
  ETHERNET_KEEP_ALIVE "30"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  TIMESYNC_NTP_ACTIVE "0"
  KSS_CONNECTION "0"
  TIMESYNC_NTP_SERVER_ADDR "08 00 00 00 EE 00 00 00"
  TIMESYNC_NTP_TIMEZONE "60"
  CAX_APP_ID ""
  TIMESYNC_NTP_INTERVAL "60"
  SIMATIC_TAKEOVER "0"
  OBJECT_COPYABLE "1"
  DEVICE_MUST_BE_COUPLED "0"
  CREATOR ""
  MPI_ADDRESS "3"
  COMMENT ""
  TIMESYNC_NTP_ACTIVE_NEW "0"
LOCAL_IN_ADDRESSES 
  ADDRESS  256, 0, 16, 0, 1, 0
LOCAL_OUT_ADDRESSES 
  ADDRESS  256, 0, 16, 0, 1, 0
END 

RACK 0, SLOT 5, "6ES7 321-1BL00-0AA0", "DI32xDC24V"
BEGIN 
  ASSET_ID "CE6D0E20B256454FB26DC0ED6A83BE33"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  0, 0, 4, 0, 1, 0
SYMBOL  I , 0, "OchKompr_Q1", "Ochrana kompresora Q1 OK"
SYMBOL  I , 1, "OchPonor_Q2", "Ochrana ponorky Q2 OK"
SYMBOL  I , 2, "OchTlak_C_Q3", "Ochrana tlakoveho cerpadla Q3 OK"
SYMBOL  I , 3, "OchMost_Q5", "Ochrana mostu Q5 OK"
SYMBOL  I , 4, "OchZberac_Q6", "Ochrana zberacu Q6 OK"
SYMBOL  I , 5, "OchKal_C_Q8", "Ochrana kaloveho cerpadla Q8 OK"
SYMBOL  I , 6, "OchPac_C_Q20", "Ochrana cerpadla P.A.C. Q20 OK"
SYMBOL  I , 7, "OchPoly_C_21", "Ochrana cerpadla POLY Q21 OK"
SYMBOL  I , 8, "Och_M_Pac_Q22", "Ochrana miesadla P.A.C. Q22 OK"
SYMBOL  I , 9, "Och_M_Poly_Q23", "Ochrana miesadla POLY Q23 OK"
SYMBOL  I , 10, "Cyklus_MAN", "Navoleny manualny rezim"
SYMBOL  I , 11, "Cyklus_AUTO", "Navoleny automaticky rezim"
SYMBOL  I , 12, "Kompr_MAN", "Navoleny man rezim kompresora od S1"
SYMBOL  I , 13, "Kompr_AUTO", "Navoleny auto rezim kompresora od S1"
SYMBOL  I , 14, "Ponor_MAN", "Navoleny man rezim ponorky od S2"
SYMBOL  I , 15, "Ponor_AUTO", "Navoleny auto rezim ponorky od S2"
SYMBOL  I , 16, "Tlak_C_MAN", "Navoleny man rezim tlakoveho cerp. od S3"
SYMBOL  I , 17, "Tlak_C_AUTO", "Navoleny auto rezim tlakoveho cerp. od S3"
SYMBOL  I , 18, "Most_MAN", "Navoleny man rezim mostu od S5"
SYMBOL  I , 19, "Most_AUTO", "Navoleny auto rezim mostu od S5"
SYMBOL  I , 20, "Zberac_MAN", "Navoleny man rezim zberaca od S6"
SYMBOL  I , 21, "Zberac_AUTO", "Navoleny auto rezim zberaca od S6"
SYMBOL  I , 22, "KalC_MAN", "Navoleny man rezim kaloveho cerp. od S8"
SYMBOL  I , 23, "KalC_AUTO", "Navoleny auto rezim kaloveho cerp. od S8"
SYMBOL  I , 24, "Pac_C_MAN", "Navoleny man rezim P.A.C. cerpadla od S20"
SYMBOL  I , 25, "Pac_C_AUTO", "Navoleny auto rezim P.A.C. cerpadla od S20"
SYMBOL  I , 26, "Poly_C_MAN", "Navoleny man rezim POLY cerpadla od S21"
SYMBOL  I , 27, "Poly_C_AUTO", "Navoleny auto rezim POLY cerpadla od S21"
SYMBOL  I , 28, "M_Pac_MAN", "Navoleny man rezim miesadla P.A.C. od S22"
SYMBOL  I , 29, "M_Pac_AUTO", "Navoleny auto rezim miesadla P.A.C. od S22"
SYMBOL  I , 30, "M_Poly_MAN", "Navoleny man rezim miesadla POLY od S23"
SYMBOL  I , 31, "M_Poly_AUTO", "Navoleny auto rezim miesadla POLY od S23"
END 

RACK 0, SLOT 6, "6ES7 322-1HH01-0AA0", "DO16xRel. AC120V/230V"
BEGIN 
  ASSET_ID "29CA873994D84DBD934620BC6EAD2A45"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_OUT_ADDRESSES 
  ADDRESS  2, 0, 2, 0, 1, 0
SYMBOL  O , 0, "Kompr_Start!", "Start kompresora"
SYMBOL  O , 1, "Ponor_Start!", "Start ponorky"
SYMBOL  O , 2, "Tlak_C_Start!", "Start tlakoveho cerpadla"
SYMBOL  O , 3, "Most_Start!", "Start mostu"
SYMBOL  O , 4, "Zberac_Start!", "Start zberacu"
SYMBOL  O , 5, "Kal_C_Start!", "Start kaloveho cerpadla"
SYMBOL  O , 6, "Pac_C_Start!", "Start P.A.C. cerpadla"
SYMBOL  O , 7, "Poly_C_Start!", "Start POLY cerpadla"
SYMBOL  O , 8, "M_Pac_Start!", "Start miesadla P.A.C."
SYMBOL  O , 9, "M_Poly_Start!", "Start miesadla POLY"
SYMBOL  O , 10, "Vent_ADT_Otvor!", "Otvor ventil ADT"
SYMBOL  O , 11, "Vent_Sedim_Otvor!", "Otvor ventil vypustania sedimentu"
SYMBOL  O , 12, "FlokDavk_Start!", "Start Flokulant davkovanie"
SYMBOL  O , 13, "FlokPripr_Start!", "Start Flokulant priprava"
SYMBOL  O , 14, "FlokKonc_Start!", "Start Flokulant koncentrat"
END 

RACK 0, SLOT 7, "6ES7 331-7KF02-0AB0", "AI8x12Bit"
BEGIN 
  ASSET_ID "4A8E3CE5A9B84935B2D5177EF0CE4337"
  DISABLE_SINGLE_SENSOR "0"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  272, 0, 16, 0, 1, 0
SYMBOL  I , 0, "LI1001", "Hladina kalova nadrz"
SYMBOL  I , 1, "LI1002", "Hladina vyrovnavacia nadrz"
SYMBOL  I , 2, "PI1004", "Tlak vody ADT trubica"
SYMBOL  I , 3, "PI1005", "Tlak vzduchu ADT trubica"
SYMBOL  I , 4, "TI1006", "Teplota vystup upravena voda"
SYMBOL  I , 6, "QI1007", "PH vystup upravena voda"
PARAMETER 
  LIMIT_VIOLATION, "0"
  DIAGNOSTICS, "0"
  INTEGRATION_TIME, AI , 0, "20_MS"
  INTEGRATION_TIME, AI , 1, "20_MS"
  INTEGRATION_TIME, AI , 2, "20_MS"
  INTEGRATION_TIME, AI , 3, "20_MS"
  AI_TYPE, AI , 0, "CURRENT_(2-WIRE_TRANSDUCER)"
  AI_TYPE, AI , 1, "CURRENT_(2-WIRE_TRANSDUCER)"
  AI_TYPE, AI , 2, "CURRENT_(2-WIRE_TRANSDUCER)"
  AI_TYPE, AI , 3, "CURRENT_(4-WIRE_TRANSDUCER)"
  AI_RANGE, AI , 0, "4_TO_20_MA"
  AI_RANGE, AI , 1, "4_TO_20_MA"
  AI_RANGE, AI , 2, "4_TO_20_MA"
  AI_RANGE, AI , 3, "4_TO_20_MA"
  UPPER_LIMIT_VALUE, AI , 0, "22.9624"
  UPPER_LIMIT_VALUE, AI , 1, "22.9624"
  LOWER_LIMIT_VALUE, AI , 0, "-14.963"
  LOWER_LIMIT_VALUE, AI , 1, "-14.963"
END 

