FILEVERSION "3.2"
#STEP7_VERSION V5.7 + SP3
#CREATED "pondelok 23. februára 2026   13:19:39"

STATION S7300 , "OST2"
BEGIN 
  ASSET_ID "D403571D1955492F88B4A0209D56B6A9"
  USED_S7_VERSIONS "35 2E 35 2E 34 2E 30 5F 33 31 2E 31 2E 30 2E 31 7C 35 2E 36 2E 30 2E 31 5F 35 2E 31 2E 30 2E 31 7C 35 2E 36 2E 32 2E 30 5F 39 2E 31 2E 30 2E 31 7C 00"
  REPORT_SYSTEM_ERRORS "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  SIZE_X "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CIR_WARNING "0"
  CREATOR ""
  COMMENT ""
END 

SUBNET INDUSTRIAL_ETHERNET , "Ethernet(1)"
BEGIN 
  CREATOR ""
  COMMENT ""
  NET_ID_2 "11 CC 00 00 00 05"
  NET_ID "11CC00000005"
END 

IRT_DOMAIN  "Ethernet(1)" "syncdomain-default"
BEGIN 
  SENDCLOCKFACTOR "32"
  BANDWIDTHLEVEL "3"
  GROUP "1, IRT Cycle 1, 1, 0, 0, 0"
END 

RACK 0, "6ES7 151-8AB01-0AB0" "V3.2", "IM151-8 PN/DP CPU"
BEGIN 
  OBJECT_REMOVEABLE "1"
  POS_X "67"
  POS_Y "19"
  SIZE_X "284"
  SIZE_Y "434"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
END 

RACK 0, SLOT 2, "_S7H_HSP_6ES7_151_8AB01_0AB0_FW32_CT" "V3.2", "IM151-8 PN/DP CPU"
AUTOCREATED 
BEGIN 
  ASSET_ID "1C59DC75BC1C49DB9F0285C37030F447"
  IRT_TI_MAX_ALL_OB63 "0"
  IRT_TCA_VALID_OB61 "0"
  IRT_T_DC_MIN_OB61 "0"
  IRT_TO_ALL_OB63 "0"
  IRT_TCA_VALID_OB62 "0"
  IRT_CACF_OB61 "1"
  IRT_TCA_VALID_OB63 "0"
  IRT_TO_MIN_ALL_OB63 "0"
  IRT_ISOCHRONE_MODE_OB61 "0"
  WEB_SDBS_GENERATE "0"
  ALARM_OB_NO "40"
  IRT_TCA_VALID_OB64 "0"
  IRT_TO_MAX_ALL_OB63 "0"
  IRT_TI_ALL_OB61 "0"
  IRT_TI_MIN_ALL_OB61 "0"
  IRT_TI_MAX_ALL_OB61 "0"
  IRT_TM_MODE_OB63 "1"
  __112411 ""
  IRT_TO_ALL_OB61 "0"
  APP_TASK_PRIORITY_OB63 "25"
  __112412 "0"
  IRT_TO_MIN_ALL_OB61 "0"
  WEB_UPDATE_ACTIVE "0"
  IRT_T_DC_OB64 "1000000"
  IRT_TO_MAX_ALL_OB61 "0"
  WEB_USER_RIGHTS ""
  WEB_UPDATE_RATE "0"
  IRT_ISOCHRONE_UPD_TIME_OB64 "1"
  WEB_HTTPS_ACCESS "0"
  IRT_T_DC_MAX_OB64 "0"
  IRT_TM_MODE_OB61 "1"
  IRT_T_DC_MIN_OB64 "0"
  APP_TASK_PRIORITY_OB61 "25"
  IRT_CACF_OB64 "1"
  IRT_ISOCHRONE_MODE_OB64 "0"
  IRT_T_DC_OB62 "1000000"
  IRT_TM_VALUE_OB61 "1"
  IRT_TI_ALL_OB64 "0"
  IRT_ISOCHRONE_UPD_TIME_OB62 "1"
  IRT_TM_VALUE_OB62 "1"
  CBA_USAGE "0"
  IRT_TI_MIN_ALL_OB64 "0"
  IRT_T_DC_MAX_OB62 "0"
  IRT_TM_VALUE_OB63 "1"
  IRT_TI_MAX_ALL_OB64 "0"
  IRT_T_DC_MIN_OB62 "0"
  IRT_TM_VALUE_OB64 "1"
  WEB_LANGUAGES ""
  IRT_TO_ALL_OB64 "0"
  IRT_CACF_OB62 "1"
  IRT_TO_MIN_ALL_OB64 "0"
  IRT_ISOCHRONE_MODE_OB62 "0"
  IRT_TO_MAX_ALL_OB64 "0"
  IRT_TI_ALL_OB62 "0"
  CAPABLE_F_SAFETY "0"
  IRT_TI_MIN_ALL_OB62 "0"
  OBJECT_REMOVEABLE "0"
  IRT_TI_MAX_ALL_OB62 "0"
  IRT_TM_MODE_OB64 "1"
  IRT_TO_ALL_OB62 "0"
  APP_TASK_PRIORITY_OB64 "25"
  WEB_DISPLAY_CLASSES "131071"
  IRT_TO_MIN_ALL_OB62 "0"
  CAPABLE_FAILSAFE "0"
  POS_X "0"
  IRT_TO_MAX_ALL_OB62 "0"
  IRT_T_DC_BASE_OB61 "1000"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  IRT_T_DC_BASE_OB62 "1000"
  SIZE_X "0"
  IRT_TM_MODE_OB62 "1"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  IRT_T_DC_BASE_OB63 "1000"
  IRT_OB61_NAME "OB61"
  APP_TASK_PRIORITY_OB62 "25"
  KSS_CONNECTION "0"
  IRT_T_DC_BASE_OB64 "1000"
  IRT_OB62_NAME "OB62"
  IRT_T_DC_OB63 "1000000"
  IRT_T_IO_BASE_OB61 "0"
  IRT_OB63_NAME "OB63"
  CAX_APP_ID ""
  IRT_ISOCHRONE_UPD_TIME_OB63 "1"
  IRT_T_IO_BASE_OB62 "0"
  IRT_OB64_NAME "OB64"
  OBJECT_COPYABLE "1"
  IRT_T_IO_BASE_OB63 "0"
  IRT_T_DC_MAX_OB63 "0"
  CREATOR ""
  IRT_T_IO_BASE_OB64 "0"
  IRT_T_DC_MIN_OB63 "0"
  COMMENT ""
  IRT_CACF_OB63 "1"
  IRT_TCA_START_OB61 "0"
  IRT_ISOCHRONE_MODE_OB63 "0"
  IRT_TCA_START_OB62 "0"
  IRT_T_DC_OB61 "1000000"
  IRT_TCA_START_OB63 "0"
  IRT_TI_ALL_OB63 "0"
  IRT_ISOCHRONE_UPD_TIME_OB61 "1"
  IRT_TCA_START_OB64 "0"
  IRT_TI_MIN_ALL_OB63 "0"
  IRT_T_DC_MAX_OB61 "0"
  WEB_IS_ACTIVE "0"
PARAMETER 
  NUMBER_OF_MEMORY_BYTES_FROM_MB0, "64"
  NUMBER_OF_S7_TIMERS_FROM_T0, "0"
  NUMBER_OF_S7_COUNTERS_FROM_C0, "8"
  DB_NO_RETENTIVE_AREA_1, "1"
  DB_NO_RETENTIVE_AREA_2, "1"
  DB_NO_RETENTIVE_AREA_3, "1"
  DB_NO_RETENTIVE_AREA_4, "1"
  DB_NO_RETENTIVE_AREA_5, "1"
  DB_NO_RETENTIVE_AREA_6, "1"
  DB_NO_RETENTIVE_AREA_7, "1"
  DB_NO_RETENTIVE_AREA_8, "1"
  BYTE_ADDRESS_RETENTIVE_AREA_1, "0"
  BYTE_ADDRESS_RETENTIVE_AREA_2, "0"
  BYTE_ADDRESS_RETENTIVE_AREA_3, "0"
  BYTE_ADDRESS_RETENTIVE_AREA_4, "0"
  BYTE_ADDRESS_RETENTIVE_AREA_5, "0"
  BYTE_ADDRESS_RETENTIVE_AREA_6, "0"
  BYTE_ADDRESS_RETENTIVE_AREA_7, "0"
  BYTE_ADDRESS_RETENTIVE_AREA_8, "0"
  NUMBER_OF_BYTES_RETENTIVE_AREA_1, "0"
  NUMBER_OF_BYTES_RETENTIVE_AREA_2, "0"
  NUMBER_OF_BYTES_RETENTIVE_AREA_3, "0"
  NUMBER_OF_BYTES_RETENTIVE_AREA_4, "0"
  NUMBER_OF_BYTES_RETENTIVE_AREA_5, "0"
  NUMBER_OF_BYTES_RETENTIVE_AREA_6, "0"
  NUMBER_OF_BYTES_RETENTIVE_AREA_7, "0"
  NUMBER_OF_BYTES_RETENTIVE_AREA_8, "0"
  PLANT_DESIGNATION, ""
  LOCAL_DESIGNATION, ""
END 

RACK 0, SLOT 2, SUBSLOT 1, "_S7H_HSP_IO_CONTROLLER_151_8AB01_FW32_CT", "ost2-cpu"
AUTOCREATED 
CONTROLLER IOSUBSYSTEM 100, "Ethernet(1)", IOADDRESS 0
BEGIN 
  ASSET_ID "6572A96C9FAC487FA9A7A31BFD8EC337"
  MACADDRESS "080006010000"
  IPACTIVE "1"
  IPADDRESS "C0A803F3"
  SUBNETMASK "FFFF0000"
  ROUTERADDRESS "C0A803F3"
  ROUTERACTIVE "0"
  LINKED_SUBNETNAME "Ethernet(1)"
  ISOACTIVE "0"
  CPU_NO "1"
  IRT_DETERMINATION_LEVEL "1"
  ALARM_OB_NO "40"
  IRT_SYNC_FLAG "65280"
  SECURITY_SERVER_ADDR ""
  PN_MAX_IRT_LINE_DEPTH "0"
  PN_CALCULATE_MAX_IRT_LINE "1"
  IRT_PN_USER_RATIO "30"
  MRP_CONFIGURATION "mrpdomain-1	0"
  DEVICE_NAME "ost2-cpu"
  IRT_PTCP_SUBDOMAIN_ID_DATA ""
  PN_RT_SENDCLOCKFAKTOR "32"
  PN_MIN_VERSION ""
  EXCHANGE_WITHOUT_MMC "1"
  IRT_PTCP_SUBDOMAIN_ID_HASH ""
  GUI_HIDE "0"
  OBJECT_REMOVEABLE "0"
  PN_ALARM_FILTER "394768"
  IRT_BANDWIDTH_OVERRIDE_ALLOWED "0"
  USED_FOR_CBA "0"
  IRT_OPTIMIZATION_STRUCT ""
  IRT_DOMAIN_NAME "syncdomain-default"
  POS_X "0"
  SHARED_DEVICE_SUPPORTED "0"
  IRT_SENDCLOCK_FACTOR "32"
  POS_Y "0"
  MRP_DIAGNOSIS "0"
  PN_IDEVICE_SETTINGS ""
  SIZE_X "0"
  ETHERNET_KEEP_ALIVE "30"
  SIZE_Y "0"
  ETHERNET_CLOCK_SYNC_PRM ""
  CAX_APP_ID ""
  IRT_PN_RATIO "40"
  OBJECT_COPYABLE "0"
  CREATOR ""
  LEGACY_LLDP_ENABLED "0"
  COMMENT ""
  IRT_STARTTIMETX "0"
  INTERFACE_HARDENING "0"
  ETHERNET_MED_DUP "8"
  IRT_SYNC_WHOLE_DEVICE "1"
  IRT_GROUP_NR "1"
  IP_CONFIG_MODES "0"
LOCAL_IN_ADDRESSES 
  ADDRESS  2047, 0, 0, 0, 1, 0
  ADDRESS  2043, 0, 0, 0, 1, 0
END 

RACK 0, SLOT 2, SUBSLOT 2, "_S7H_HSP_PORT_SUBMODUL_151_8AB01_FW32_CT", "Port 1"
AUTOCREATED 
BEGIN 
  ASSET_ID "6D097B493DC744E1BCAE3D6C9FE1A9CF"
  IRT_FIBEROPTIC_CABLETYPE "0"
  LINE_COMMENT ""
  LINK_STATE_DIAG_NEW_VERSION "0"
  ALARM_OB_NO "40"
  LINE_DELAY "600"
  S7H_IRT_PORT_THRESHOLD_SFP_L "0"
  S7H_IRT_PORT_TXF_SFP_L "0"
  S7H_IRT_PORT_RXL_SFP_L "0"
  LINK_STATE_DIAG_REQUIRE "0"
  ETH_MEDIUM_RUNTIME_CHECK "1"
  PORT_DEACTIVATED "0"
  MRP_DOMAIN ""
  PORT_DOMAIN_BOUNDARY "0"
  PN_MIN_VERSION ""
  GUI_HIDE "0"
  OBJECT_REMOVEABLE "0"
  PORT_DCP_BOUNDARY "0"
  POS_X "0"
  PORT_LLDP_BOUNDARY "0"
  POS_Y "0"
  PN_RINGSTATUS_STRUCT ""
  SIZE_X "0"
  IRT_LINE_RX_DELAY "0"
  SIZE_Y "0"
  PNDX_MODE "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  CREATOR ""
  COMMENT ""
  MULTICAST_BOUNDARY "0"
  ETHERNET_MED_DUP "8"
  IRT_FIBEROPTIC_TYPE "0"
  LINE_DELAY_SELECTOR "0"
  IRT_GROUP_NR "1"
LOCAL_IN_ADDRESSES 
  ADDRESS  2046, 0, 0, 0, 0, 0
END 

RACK 0, SLOT 2, SUBSLOT 3, "_S7H_HSP_PORT_SUBMODUL_151_8AB01_FW32_CT", "Port 2"
AUTOCREATED 
BEGIN 
  ASSET_ID "B4965F0AA7E44B66B14753CF038A597D"
  IRT_FIBEROPTIC_CABLETYPE "0"
  LINE_COMMENT ""
  LINK_STATE_DIAG_NEW_VERSION "0"
  ALARM_OB_NO "40"
  LINE_DELAY "600"
  S7H_IRT_PORT_THRESHOLD_SFP_L "0"
  S7H_IRT_PORT_TXF_SFP_L "0"
  S7H_IRT_PORT_RXL_SFP_L "0"
  LINK_STATE_DIAG_REQUIRE "0"
  ETH_MEDIUM_RUNTIME_CHECK "1"
  PORT_DEACTIVATED "0"
  MRP_DOMAIN ""
  PORT_DOMAIN_BOUNDARY "0"
  PN_MIN_VERSION ""
  GUI_HIDE "0"
  OBJECT_REMOVEABLE "0"
  PORT_DCP_BOUNDARY "0"
  POS_X "0"
  PORT_LLDP_BOUNDARY "0"
  POS_Y "0"
  PN_RINGSTATUS_STRUCT ""
  SIZE_X "0"
  IRT_LINE_RX_DELAY "0"
  SIZE_Y "0"
  PNDX_MODE "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  CREATOR ""
  COMMENT ""
  MULTICAST_BOUNDARY "0"
  ETHERNET_MED_DUP "8"
  IRT_FIBEROPTIC_TYPE "0"
  LINE_DELAY_SELECTOR "0"
  IRT_GROUP_NR "1"
LOCAL_IN_ADDRESSES 
  ADDRESS  2045, 0, 0, 0, 0, 0
END 

RACK 0, SLOT 2, SUBSLOT 4, "_S7H_HSP_PORT_SUBMODUL_151_8AB01_FW32_CT", "Port 3"
AUTOCREATED 
BEGIN 
  ASSET_ID "0D542C5733D1423BB8ED15B55F51D9A5"
  IRT_FIBEROPTIC_CABLETYPE "0"
  LINE_COMMENT ""
  LINK_STATE_DIAG_NEW_VERSION "0"
  ALARM_OB_NO "40"
  LINE_DELAY "600"
  S7H_IRT_PORT_THRESHOLD_SFP_L "0"
  S7H_IRT_PORT_TXF_SFP_L "0"
  S7H_IRT_PORT_RXL_SFP_L "0"
  LINK_STATE_DIAG_REQUIRE "0"
  ETH_MEDIUM_RUNTIME_CHECK "1"
  PORT_DEACTIVATED "0"
  MRP_DOMAIN ""
  PORT_DOMAIN_BOUNDARY "0"
  PN_MIN_VERSION ""
  GUI_HIDE "0"
  OBJECT_REMOVEABLE "0"
  PORT_DCP_BOUNDARY "0"
  POS_X "0"
  PORT_LLDP_BOUNDARY "0"
  POS_Y "0"
  PN_RINGSTATUS_STRUCT ""
  SIZE_X "0"
  IRT_LINE_RX_DELAY "0"
  SIZE_Y "0"
  PNDX_MODE "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "0"
  CREATOR ""
  COMMENT ""
  MULTICAST_BOUNDARY "0"
  ETHERNET_MED_DUP "8"
  IRT_FIBEROPTIC_TYPE "0"
  LINE_DELAY_SELECTOR "0"
  IRT_GROUP_NR "1"
LOCAL_IN_ADDRESSES 
  ADDRESS  2044, 0, 0, 0, 0, 0
END 

RACK 0, SLOT 4, "6ES7 138-4CA01-0AA0", "PM-E DC24V"
BEGIN 
  ASSET_ID "7AB4E2689B2141E49A056C5C0B96AFD6"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
  STATUSBYTE "0"
LOCAL_IN_ADDRESSES 
  ADDRESS  2042, 0, 0, 0, 0, 256
END 

RACK 0, SLOT 5, "6ES7 131-4BF00-0AA0", "8DI DC24V"
BEGIN 
  ASSET_ID "7BB31A9799F94ECF9575749BE956995D"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  4, 0, 8, 0, 0, 16
SYMBOL  I , 0, "M1.1_RN", "Obehove cerpadlo UK AB M1.1 chod"
SYMBOL  I , 1, "M1.2_RN", "Obehove cerpadlo UK AB M1.2 chod"
SYMBOL  I , 2, "M2_RN", "Obehove cerpadlo UK labak chod"
SYMBOL  I , 3, "LAZ02_1", "Zaplavenie OST2"
SYMBOL  I , 4, "QZ02_1", "Spotreba tepla AB"
SYMBOL  I , 5, "OST2_SR", "Start UK"
SYMBOL  I , 6, "OST2_ST", "Stop UK"
SYMBOL  I , 7, "ACK02", "Potvrdenie poruchy"
PARAMETER 
  NDEF_PARAMBLOCK, ""
END 

RACK 0, SLOT 6, "6ES7 131-4BF00-0AA0", "8DI DC24V"
BEGIN 
  ASSET_ID "3E62D5F178DA41ADBFCD2925EAAB5889"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  5, 0, 8, 0, 0, 16
SYMBOL  I , 0, "YK1_OP", "Uzatvaracia klapka na vstupe OST2 otvorena"
SYMBOL  I , 1, "YK1_CL", "Uzatvaracia klapka na vstupe OST2 zatvorena"
SYMBOL  I , 2, "YK2_OP", "Uzatvaracia klapka na vystupe OST2 otvorena"
SYMBOL  I , 3, "YK2_CL", "Uzatvaracia klapka na vystupe OST2 zatvorena"
PARAMETER 
  NDEF_PARAMBLOCK, ""
END 

RACK 0, SLOT 7, "6ES7 132-4BF00-0AA0", "8DO DC24V/0.5A"
BEGIN 
  ASSET_ID "DB808DF6A5FE4734B72F38F638175674"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_OUT_ADDRESSES 
  ADDRESS  4, 0, 8, 0, 0, 16
SYMBOL  O , 0, "S_ALARM!", "Svetelna signalizacia poruchy"
SYMBOL  O , 1, "M1.1_ON!", "Obehove cerpadlo UK AB M1.1 ZAP"
SYMBOL  O , 2, "M1.2_ON!", "Obehove cerpadlo UK AB M1.2 ZAP"
SYMBOL  O , 3, "M2_ON!", "Obehove cerpadlo UK labak ZAP"
SYMBOL  O , 4, "YK1_OP!", "Uzatvaracia klapka na vstupe OST2 otvor"
SYMBOL  O , 5, "YK2_OP!", "Uzatvaracia klapka na vystupe OST2 otvor"
PARAMETER 
  NDEF_PARAMBLOCK, ""
END 

RACK 0, SLOT 8, "6ES7 132-4BF00-0AA0", "8DO DC24V/0.5A"
BEGIN 
  ASSET_ID "64C9BF67B3F34BC79896413C09526C7B"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_OUT_ADDRESSES 
  ADDRESS  5, 0, 8, 0, 0, 16
PARAMETER 
  NDEF_PARAMBLOCK, ""
END 

RACK 0, SLOT 9, "6ES7 138-4CA01-0AA0", "PM-E DC24V"
BEGIN 
  ASSET_ID "2454D34C2B814CE2A53D03ED1D46D35A"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
  STATUSBYTE "0"
LOCAL_IN_ADDRESSES 
  ADDRESS  2040, 0, 0, 0, 0, 256
END 

RACK 0, SLOT 10, "6ES7 134-4GD00-0AB0", "4AI I 2WIRE ST"
BEGIN 
  ASSET_ID "0D61359B72F14F4A95935F331A9A3B8E"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_IN_ADDRESSES 
  ADDRESS  256, 0, 8, 0, 0, 32
SYMBOL  I , 0, "TI02_1", "Teplota UK vstup AB"
SYMBOL  I , 1, "TI02_2", "Vonkajsia teplota"
END 

RACK 0, SLOT 11, "6ES7 135-4GB01-0AB0", "2AO I ST"
BEGIN 
  ASSET_ID "4C12AACAC1374D4B8BDAA89578D3B8A7"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_OUT_ADDRESSES 
  ADDRESS  256, 0, 4, 0, 0, 32
SYMBOL  O , 0, "TIC02_1", "Ziadana poloha zmiesavaci ventil UK AB"
END 

RACK 0, SLOT 12, "6ES7 135-4GB01-0AB0", "2AO I ST"
BEGIN 
  ASSET_ID "A964BE43DB464C47B71E30467829DD6C"
  CPU_NO "1"
  ALARM_OB_NO "40"
  __112411 ""
  __112412 "0"
  OBJECT_REMOVEABLE "1"
  POS_X "0"
  POS_Y "0"
  REDUNDANCY
  BEGIN
  END
  SIZE_X "0"
  MODULE_ADD_FLAGS "0"
  SIZE_Y "0"
  CAX_APP_ID ""
  OBJECT_COPYABLE "1"
  CREATOR ""
  COMMENT ""
LOCAL_OUT_ADDRESSES 
  ADDRESS  262, 0, 4, 0, 0, 32
END 

IOSUBSYSTEM 100, "Ethernet(1): PROFINET IO system (100)"
BEGIN 
  OLD_DEBUG_FILENAME ""
  PN_PHASE_RELATION "1"
  PN_MIN_VERSION ""
  GUI_HIDE "0"
  OBJECT_REMOVEABLE "1"
  POS_X "393"
  POS_Y "93"
  SIZE_X "252"
  SIZE_Y "16"
  PN_USE_DEVICE_SPEC_UPD_TIME "1"
  SUBNET_NAME "Ethernet(1)"
  CAX_APP_ID ""
  DNS_CHECK "0"
  OBJECT_COPYABLE "1"
  PN_USER_DEF_UPD_TIME "0"
  CREATOR ""
  COMMENT ""
  IRT_GROUP_NR "1"
END 

